<template>
  <Modal v-model="dialogVisible" width="960" :title="$t('core.crud.createOrEdit', { 0: $t('app.application.package.package') })" @on-cancel="handleCancel">
    <i-form :model="model" :rules="rules" ref="form" :label-width="150">
      <tab v-model="activeName">
        <tab-pane :label="$t('app.application.package.packageProperties')" name="first">
          <div class="content-padding">
            <form-item :label="$t('app.common.property.name')" prop="name">
              <i-input block v-model="model.name"></i-input>
            </form-item>
            <form-item :label="$t('app.common.property.isHot')" prop="isHot">
              <i-switch v-model="model.isHot"></i-switch>
            </form-item>
            <form-item :label="$t('app.application.team.team')" prop="teamId">
              <team-select style="width: 100%;" block v-model="model.teamId"></team-select>
            </form-item>
            <form-item :label="$t('app.common.property.cover')" prop="cover">
              <picture-uploader block v-model="model.cover"></picture-uploader>
            </form-item>
            <form-item :label="$t('app.common.property.description')" prop="description">
              <i-input type="textarea" rows="5" block v-model="model.description"></i-input>
            </form-item>
            <form-item :label="$t('app.common.property.price')" prop="price">
              <i-input block v-model="model.price"></i-input>
            </form-item>
            <form-item :label="$t('app.application.package.score')" prop="score">
              <i-input block v-model="model.score"></i-input>
            </form-item>
            <form-item :label="$t('app.common.property.hintCount')" prop="hintCount">
              <i-input block v-model="model.hintCount"></i-input>
            </form-item>
            <form-item :label="$t('app.application.package.orderCount')" prop="orderCount">
              <i-input block v-model="model.orderCount"></i-input>
            </form-item>
          </div>
        </tab-pane>
        <tab-pane :label="$t('app.application.package.compensationRule.compensationRule')" name="second">
          <div class="content-padding">
            <i-table :data="model.compensationRules">
              <table-column :label="$t('app.application.package.compensationRule.count')">
                <template slot-scope="scope">
                  <input-number block v-model="scope.row.count"></input-number>
                </template>
              </table-column>
              <table-column :label="$t('app.application.package.compensationRule.money')">
                <template slot-scope="scope">
                  <input-number block v-model="scope.row.money"></input-number>
                </template>
              </table-column>
              <table-column :label="$t('app.common.action.actions')">
                <template slot-scope="scope">
                  <i-button border circle scene="danger" @click="removeCompensationRule(scope.row, scope.rowIndex)">{{$t('app.common.action.delete')}}</i-button>
                </template>
              </table-column>
            </i-table>
            <i-button block @click="addCompensationRule">{{$t('app.common.action.add')}}</i-button>
          </div>
        </tab-pane>
        <tab-pane :label="$t('app.application.package.distribution.distribution')" name="third">
          <div class="content-padding">
            <i-table :data="model.distributions">
              <table-column :label="$t('app.application.package.distribution.level')">
                <template slot-scope="scope">
                  <input-number block v-model="scope.row.level"></input-number>
                </template>
              </table-column>
              <table-column :label="$t('app.application.package.distribution.money')">
                <template slot-scope="scope">
                  <input-number block v-model="scope.row.money"></input-number>
                </template>
              </table-column>
              <table-column :label="$t('app.application.package.distribution.ratio')">
                <template slot-scope="scope">
                  <input-number block v-model="scope.row.ratio"></input-number>
                </template>
              </table-column>
              <table-column :label="$t('app.common.action.actions')">
                <template slot-scope="scope">
                  <i-button border circle scene="danger" @click="removeDistribution(scope.row, scope.rowIndex)">{{$t('app.common.action.delete')}}</i-button>
                </template>
              </table-column>
            </i-table>
            <i-button block @click="addDistribution">{{$t('app.common.action.add')}}</i-button>
          </div>
        </tab-pane>
      </tab>
    </i-form>
    <template slot="footer">
      <i-button size="large" border circle icon="back" @click="handleCancel">{{$t('app.common.action.cancel')}}</i-button>
      <i-button size="large" border circle icon="save" scene="primary" @click="save">{{$t('app.common.action.save')}}</i-button>
    </template>
  </Modal>
</template>

<script>
  import packageService from '../../../../../appServices/admin/application/packageService';
  import CreateOrUpdateModal from '../../../../mixins/CommonCreateOrUpdateModal';
  import TeamSelect from '../team/TeamSelect';

  export default {
    name: 'CreateOrUpdateTeamModal',
    components: { TeamSelect },
    mixins: [CreateOrUpdateModal],
    data () {
      return {
        api: packageService,
        activeName: 'first',
        rules: {
          name: [{ required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.common.property.name') }), trigger: 'change' }]
        },
        defaultModel: {
          compensationRules: [],
          distributions: []
        },
      };
    },
    methods: {
      addCompensationRule () {
        this.model.compensationRules.push({
          count: 0,
          money: 0
        });
      },
      removeCompensationRule (compensationRule, index) {
        this.model.compensationRules.splice(index, 1);
      },
      addDistribution () {
        this.model.distributions.push({
          level: 1,
          money: 0,
          ratio: 0
        });
      },
      removeDistribution(distribution, index) {
        this.model.distributions.splice(index, 1);
      }
    }
  };
</script>

