<template>
  <i-select v-model="model" @on-change="handleChange">
    <i-option :value="item.id" v-for="item in items" :key="item.id">{{item.name}}</i-option>
  </i-select>
</template>

<script>
    import packageService from '../../../../../appServices/admin/application/packageService';
    import CommonList from '../../../../mixins/CommonList';

    export default {
        name: 'PackageSelect',
        mixins: [CommonList],
        props: {
            value: {
                type: [Number, String]
            }
        },
        watch: {
           value (value) {
               this.model = value;
           }
        },
        data () {
            return {
                api: packageService,
                model: null
            };
        },
        methods: {
            handleChange () {
                this.$emit('input', this.model);
            }
        },
        created() {
            this.model = this.value;
        }
    };
</script>
