<template>
  <portlet>
    <div slot="actions">
      <i-button size="large" border circle icon="save" scene="primary" @click="save">{{$t('app.common.action.save')}}</i-button>
    </div>
    <i-form :model="model" :rules="rules" ref="form" :label-width="150">
      <form-item :label="$t('app.common.property.title')" prop="title">
        <i-input block v-model="model.title"></i-input>
      </form-item>
      <form-item :label="$t('app.common.property.status')" prop="status">
        <i-switch v-model="model.status"></i-switch>
      </form-item>
      <form-item :label="$t('app.application.notice.content')" prop="content">
        <rich-editor style="height: 350px" v-model="model.content"></rich-editor>
      </form-item>
    </i-form>
  </portlet>
</template>

<script>
    import noticeService from '../../../../../appServices/admin/application/noticeService';
    import CommonCreateOrUpdate from '../../../../mixins/CommonCreateOrUpdate';

    export default {
        name: 'NoticeCreateOrUpdate',
        mixins: [CommonCreateOrUpdate],
        data () {
            return {
                api: noticeService,
                activeName: 'first',
                rules: {
                    title: [{ required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.common.property.title') }), trigger: 'change' }]
                },
                defaultModel: {
                    title: null,
                    content: null,
                    status: null
                },
            };
        }
    };
</script>

