<template>
  <i-select placeholder="请选择银行" :transfer="transfer" v-model="selectValue" :name="name" :class="classes" @on-change="handleChange" :clearable="clearable">
    <i-option :value="bank.name"
              :key="index"
              v-for="(bank, index) in banks">{{bank.name}}</i-option>
  </i-select>
</template>

<script>
  import banks from './banks';

  export default {
    name: 'OrderStatusSelector',
    props: {
      value: {
        type: [Number, String]
      },
      name: {
        type: String,
        default: 'userSource'
      },
      clearable: {
        type: Boolean,
        default: true
      },
      transfer: {
        type: Boolean,
        default: false
      },
      block: {
        type: Boolean,
        default: false
      }
    },
    watch: {
      value (value) {
        this.selectValue = value;
      }
    },
    data () {
      return {
        banks: banks,
        selectValue: null
      };
    },
    computed: {
      classes () {
        return [
          { block: !!this.block }
        ];
      }
    },
    methods: {
      handleChange (value) {
        this.$emit('input', value);
      }
    },
    mounted () {
      this.selectValue = this.value;
    }
  };
</script>
