<template>
  <portlet :title="$t('app.common.action.create')">
    <i-form :model="bank" :rules="rules" ref="form" :label-width="100">
      <Row>
        <Column :span="12">
          <form-item label="名称" prop="name">
            <BankSelector name="bank" v-model="bank.name" block></BankSelector>
          </form-item>
          <form-item label="图标" prop="icon">
            <PictureUploader v-model="bank.icon" block></PictureUploader>
          </form-item>
        </Column>
        <Column :span="12"></Column>
      </Row>
      <form-item>
        <i-button border radius :loading="saving" icon="save" scene="primary" @click="save">{{$t('app.common.action.save')}}</i-button>
      </form-item>
    </i-form>
  </portlet>
</template>

<script>
    import bankService from '../../../../../appServices/admin/application/bankService';
    import BankSelector from './BankSelector';

    export default {
        components: {
            BankSelector
        },
        name: 'BankCreateOrEdit',
        data () {
            return {
                id: null,
                bank: {},
                saving: false,
                rules: {
                    name: [{ required: true, message: this.$t('core.validate.common.requiredFiled', { 0: '名称' }) }],
                    icon: [{ required: true, message: this.$t('core.validate.common.requiredFiled', { 0: '图标' }) }]
                }
            };
        },
        methods: {
          save () {
                this.$refs.form.validate((valid) => {
                    if (valid) {
                        this.saving = true;
                        const action = this.id ? 'update' : 'create';
                        bankService[action](this.bank).then(() => {
                            this.$Message.success(this.$t('app.common.message.successfullySaved'));
                            this.$router.push({ name: 'FinanceBankIndex' });
                        }).finally(() => {
                            this.saving = false;
                        });
                    }
                });
            },
            fetchData () {
                bankService.get({ id: this.id }).then((result) => {
                    this.bank = result;
                });
            }
        },
        created () {
            this.id = this.$route.query.id;
            if (this.id) {
                this.fetchData();
            }
        }
    };
</script>
