<template>
  <portlet>
    <div class="clearfix margin-bottom-1">
      <div class="pull-right">
        <i-button border circle scene="primary" icon="add" @click="create">
          {{$t('app.common.action.create')}}
        </i-button>
      </div>
    </div>
    <div class="data-table-container margin-bottom-1">
      <i-table class="data-table"
               :data="items"
               :fit="true"
               border>
        <table-column
          min-width="120"
          prop="name"
          label="名称">
        </table-column>
        <table-column
          min-width="120"
          label="图标">
          <template scope="scope">
            <i-image width="32" :src="scope.row.icon"></i-image>
          </template>
        </table-column>
        <table-column
          width="190"
          :label="$t('app.common.property.creationTime')">
          <template scope="scope">{{scope.row.creationTime|momentFormat}}
          </template>
        </table-column>
        <table-column
          fixed="right"
          width="200"
          :label="$t('app.common.action.actions')">
          <template
            fixed="right"
            width="100"
            scope="scope">
            <i-button border circle scene="primary" @click="edit(scope.row)">编辑</i-button>
            <i-button border circle scene="danger" @click="deleteItem(scope.row)">删除</i-button>
          </template>
        </table-column>
      </i-table>
    </div>
    <Pagination :total="totalCount" :current="filterParams.pageIndex" :page-size="filterParams.pageSize" show-elevator @on-change="handlePageChange"></Pagination>
  </portlet>
</template>

<script>
  import bankService from '../../../../../appServices/admin/application/bankService';
  import CommonList from './../../../../mixins/CommonList';

  export default {
    name: 'ArticleIndex',
    mixins: [CommonList],
    data () {
      return {
        api: bankService,
      };
    },
    methods: {
      edit (item) {
        this.$router.push({ name: 'FinanceBankCreateOrEdit', query: { id: item.id } });
      },
      create () {
        this.$router.push({ name: 'FinanceBankCreateOrEdit' });
      }
    }
  };
</script>
