<template>
  <portlet :title="$t('app.application.order.detail')">
    <div slot="actions" v-if="order">
      <i-button border circle scene="success" @click="showRemark(order)">{{$t('app.common.action.remark')}}</i-button>
      <i-button v-if="order.orderStatus === 0" border circle scene="success" @click="showPass(order)">{{$t('app.common.action.pass')}}</i-button>
      <i-button v-if="order.orderStatus === 0" border circle scene="danger" @click="showDeny(order)">{{$t('app.common.action.deny')}}</i-button>
      <i-button v-if="order.orderStatus === 2" border circle scene="success" @click="showPay(order)">{{$t('app.application.order.pay')}}</i-button>
      <i-button v-loading="compensatting" v-if="order.orderStatus === 3" border circle scene="success" @click="compensate(order)">{{$t('app.application.order.compensate')}}</i-button>
      <i-button border circle @click="reload">{{$t('app.common.action.reload')}}</i-button>
    </div>
    <div v-loading="loading">
      <div v-if="order" class="order-detail-page">
        <div class="content-padding margin-bottom-1">
          <Steps :current="order.orderStatus">
            <Step v-for="(orderStatus, index) in orderStatuses" :title="$t(`app.application.order.statues.${orderStatus.toCamelCase()}`)" :key="index"></Step>
          </Steps>
        </div>
        <tab :animated="false">
          <tab-pane label="基本信息">
            <div class="content-padding">
              <Row :gutter="1">
                <Column :span="12">
                  <portlet title="标书信息">
                    <InfoList v-if="order.bid">
                      <InfoItem label="姓名">
                        {{order.bid.fullName}}
                      </InfoItem>
                      <InfoItem label="手机号">
                        {{order.bid.phoneNumber}}
                      </InfoItem>
                      <InfoItem label="身份证号">
                        {{order.bid.idNumber}}
                      </InfoItem>
                      <InfoItem label="账号">
                        {{order.bid.account}}
                      </InfoItem>
                      <InfoItem label="密码">
                        {{order.bid.password}}
                      </InfoItem>
                      <InfoItem label="标书">
                        <i-image :preview-images="[getFilePath(order.bid.bidPicture)]" width="96" height="96" :src="order.bid.bidPicture|filePath"></i-image>
                      </InfoItem>
                      <InfoItem label="身份证证明">
                        <i-image :preview-images="[getFilePath(order.bid.frontOfIDCard)]" width="96" height="96" :src="order.bid.frontOfIDCard|filePath"></i-image>
                      </InfoItem>
                      <InfoItem label="身份证反面">
                        <i-image :preview-images="[getFilePath(order.bid.backOfIDCard)]" width="96" height="96" :src="order.bid.backOfIDCard|filePath"></i-image>
                      </InfoItem>
                    </InfoList>
                  </portlet>
                </Column>
                <Column :span="12">
                  <portlet title="订单信息">
                    <InfoList>
                      <InfoItem label="标题">
                        {{order.title}}
                      </InfoItem>
                      <InfoItem label="订单号">
                        {{order.number}}
                      </InfoItem>
                      <InfoItem label="管理员备注">
                        {{order.adminRemark}}
                      </InfoItem>
                      <InfoItem label="创建时间">
                        {{order.creationTime|momentFormat}}
                      </InfoItem>
                      <InfoItem label="代拍次数">
                        {{order.auctionNumber}}
                      </InfoItem>
                      <InfoItem label="剩余代拍次数">
                        {{order.remainAuctionCount}}
                      </InfoItem>
                      <InfoItem label="赔付方案">
                        {{order.compensationRule.count}}次不中赔付{{order.compensationRule.money}}
                      </InfoItem>
                      <InfoItem label="赔付状态" v-if="order.auctionResult===2">
                        <i-label border scene="success" v-if="order.compensationStatus">已赔付</i-label>
                        <i-label border scene="danger" v-else>未赔付</i-label>
                      </InfoItem>
                      <InfoItem label="支付状态" v-if="order.auctionResult === 1">
                        <i-label border scene="success" v-if="order.paymentStatus">已支付</i-label>
                        <i-label border scene="danger" v-else>未支付</i-label>
                      </InfoItem>
                      <InfoItem label="支付时间" v-if="order.paymentStatus">
                        {{order.paymentDatetime|momentFormat}}
                      </InfoItem>
                      <InfoItem label="金额">
                        {{order.money}}
                      </InfoItem>
                      <InfoItem label="状态">
                        <i-label border fill scene="success">{{$t(`app.application.order.statues.${order.orderStatusText.toCamelCase()}`)}}</i-label>
                      </InfoItem>
                    </InfoList>
                  </portlet>
                  <portlet title="团队信息">
                    <InfoList v-if="order.team">
                      <InfoItem label="名称">
                        {{order.team.name}}
                      </InfoItem>
                      <InfoItem label="Logo">
                        <i-image width="96" height="96" :src="order.team.logo|filePath"></i-image>
                      </InfoItem>
                      <InfoItem label="介绍">
                        {{order.package.introduce}}
                      </InfoItem>
                    </InfoList>
                    <blank v-else>无团队信息</blank>
                  </portlet>
                  <portlet title="套餐信息">
                    <InfoList v-if="order.package">
                      <InfoItem label="名称">
                        {{order.package.name}}
                      </InfoItem>
                      <InfoItem label="价格">
                        {{order.package.price}}
                      </InfoItem>
                      <InfoItem label="封面">
                        <i-image width="96" height="96" :src="order.package.cover|filePath"></i-image>
                      </InfoItem>
                    </InfoList>
                  </portlet>
                </Column>
              </Row>
            </div>
          </tab-pane>
          <tab-pane label="订单分销">
            <div class="content-padding">
              <i-table :data="order.orderDistributions">
                <table-column label="层级">
                  <template scope="scope">
                    {{scope.row.distribution.level}}
                  </template>
                </table-column>
                <table-column label="用户">
                  <template scope="scope">
                    <Profile :user="scope.row.user"></Profile>
                  </template>
                </table-column>
                <table-column prop="money" label="金额">
                  <template scope="scope">
                    <label class="price"><span class="price-sign"></span>{{scope.row.money}}</label>
                  </template>
                </table-column>
              </i-table>
            </div>
          </tab-pane>
          <tab-pane label="代拍记录">
            <auction-attempt-index @failAuction="handleFailAuction" @passAuction="handlePassAuction" :order="order" v-if="order"></auction-attempt-index>
          </tab-pane>
          <tab-pane label="资金账号">
            <div class="content-padding">
              <finance-account-list :userId="order.userId"></finance-account-list>
            </div>
          </tab-pane>
        </tab>
      </div>
    </div>
    <modal v-model="showPassModal" width="960" title="通过审核">
      <i-form :model="passModel" :rules="passRules" ref="passForm" :label-width="150">
        <form-item :label="$t('app.common.property.remark')" prop="remark">
          <i-input type="textarea" block v-model="passModel.remark"></i-input>
        </form-item>
      </i-form>
      <template slot="footer">
        <i-button size="large" border circle icon="back" @click="cancelPassModal">{{$t('app.common.action.cancel')}}</i-button>
        <i-button :loading="passing" size="large" border circle icon="save" scene="primary" @click="pass">{{$t('app.common.action.save')}}</i-button>
      </template>
    </modal>
    <modal v-model="showDenyModal" width="960" title="拒绝审核">
      <i-form :model="denyModel" :rules="denyRules" ref="denyForm" :label-width="150">
        <form-item :label="$t('app.common.property.reason')" prop="reason">
          <i-input type="textarea" block v-model="passModel.reason"></i-input>
        </form-item>
      </i-form>
      <template slot="footer">
        <i-button size="large" border circle icon="back" @click="cancelDenyModal">{{$t('app.common.action.cancel')}}</i-button>
        <i-button :loading="denying" size="large" border circle icon="save" scene="primary" @click="deny">{{$t('app.common.action.save')}}</i-button>
      </template>
    </modal>
    <modal v-model="showPayModal" width="960" title="完成支付">
      <i-form :model="payModel" :rules="payRules" ref="payForm" :label-width="150">
        <form-item :label="$t('app.application.order.outTradeNo')" prop="outTradeNo">
          <i-input block v-model="payModel.outTradeNo"></i-input>
        </form-item>
      </i-form>
      <template slot="footer">
        <i-button :loading="paying" size="large" border circle icon="back" @click="cancelPassModal">{{$t('app.common.action.cancel')}}</i-button>
        <i-button size="large" border circle icon="save" scene="primary" @click="pay">{{$t('app.common.action.save')}}</i-button>
      </template>
    </modal>
    <modal v-model="showRemarkModal" width="960" title="添加备注">
      <i-form :model="remarkModel" :rules="remarkRules" ref="remarkForm" :label-width="150">
        <form-item :label="$t('app.common.property.remark')" prop="remark">
          <i-input type="textarea" block v-model="remarkModel.remark"></i-input>
        </form-item>
      </i-form>
      <template slot="footer">
        <i-button size="large" border circle icon="back" @click="cancelRemarkModel">{{$t('app.common.action.cancel')}}</i-button>
        <i-button :loading="remarking" size="large" border circle icon="save" scene="primary" @click="remark">{{$t('app.common.action.save')}}</i-button>
      </template>
    </modal>
  </portlet>
</template>

<script>
  import orderService from '../../../../../appServices/admin/application/orderService';
  import orderStatuses from '../../../../../application/order/orderStatus';
  import Actions from './Actions';
  import AuctionAttemptIndex from '../auctionAttempt/AuctionAttemptIndex';
  import filePath from '../../../../../filters/filePath';
  import FinanceAccountList from '../financeAccouont/FinanceAccountList';

  export default {
    name: 'Detail',
    components: { FinanceAccountList, AuctionAttemptIndex },
    mixins: [Actions],
    data () {
      return {
        api: orderService,
        id: null,
        order: null,
        loading: false,
        orderStatuses,
        getFilePath: filePath,
      };
    },
    methods: {
      handlePassAuction () {
        this.reload();
      },
      handleFailAuction() {
        this.reload();
      },
      reload () {
        this.fetchData();
      },
      fetchData () {
        this.loading = true;
        orderService.get({ id: this.id }).then((result) => {
          this.order = result;
        }).finally(() => {
          this.loading = false;
        });
      }
    },
    created () {
      this.id = this.$route.query.id;
      this.fetchData();
    }
  };
</script>
