<template>
  <portlet>
    <div class="clearfix margin-bottom-1">
      <div class="pull-right">
      </div>
    </div>
    <div>
      <i-form type="inline">
        <form-item>
          <i-input v-model="filterParams.number"
                   clearable
                   :placeholder="$t('core.placeholder', { 0: $t('app.common.property.number') })"></i-input>
        </form-item>
        <form-item>
          <i-input v-model="filterParams.remainAuctionCount"
                   clearable
                   :placeholder="$t('core.placeholder', { 0: $t('app.application.order.remainAuctionCount') })"></i-input>
        </form-item>
        <form-item>
          <i-input v-model="filterParams.fullName"
                   clearable
                   :placeholder="$t('core.placeholder', { 0: $t('app.common.property.fullName') })"></i-input>
        </form-item>
        <form-item>
          <i-input v-model="filterParams.phoneNumber"
                   clearable
                   :placeholder="$t('core.placeholder', { 0: $t('app.common.property.phoneNumber') })"></i-input>
        </form-item>
        <form-item>
          <i-input v-model="filterParams.bidAccount"
                   clearable
                   :placeholder="$t('core.placeholder', { 0: $t('app.application.bid.account') })"></i-input>
        </form-item>
        <i-button :loading="loading" border circle scene="primary" icon="search" @click="search">{{$t('app.common.action.search')}}</i-button>
      </i-form>
    </div>
    <i-table class="data-table" :data="items" :fit="true" border v-loading="loading">
      <table-column
        show-overflow-tooltip
        label="#">
        <template scope="scope">
          <span>{{scope.$index + 1}}</span>
        </template>
      </table-column>
      <table-column
        min-width="200"
        show-overflow-tooltip
        :label="$t('app.application.order.number')">
        <template scope="scope">
          <span>{{scope.row.number}}</span>
        </template>
      </table-column>
      <table-column
        min-width="120"
        :label="$t('app.common.property.fullName')">
        <template scope="scope">
          <span>{{scope.row.bid.fullName}}</span>
        </template>
      </table-column>
      <table-column
        min-width="120"
        :label="$t('app.application.bid.account')">
        <template scope="scope">
          <span>{{scope.row.bid.account}}</span>
        </template>
      </table-column>
      <table-column
        min-width="120"
        :label="$t('app.application.bid.password')">
        <template scope="scope">
          <span>{{scope.row.bid.password}}</span>
        </template>
      </table-column>
      <table-column
        min-width="150"
        :label="$t('app.common.property.idNumber')">
        <template scope="scope">
          <span>{{scope.row.bid.idNumber}}</span>
        </template>
      </table-column>
      <table-column
        min-width="120"
        :label="$t('app.common.property.phoneNumber')">
        <template scope="scope">
          <span>{{scope.row.bid.phoneNumber}}</span>
        </template>
      </table-column>
      <table-column
        min-width="150"
        show-overflow-tooltip
        :label="$t('app.application.order.money')">
        <template scope="scope">
          <span>{{scope.row.money}}</span>
        </template>
      </table-column>
      <table-column
        min-width="200"
        show-overflow-tooltip
        :label="$t('app.application.order.compensationRule')">
        <template scope="scope">
          <span>{{scope.row.compensationRule.count}}次不中赔付{{scope.row.compensationRule.money}}元</span>
        </template>
      </table-column>
      <table-column
        min-width="150"
        show-overflow-tooltip
        :label="$t('app.application.order.auctionNumber')">
        <template scope="scope">
          <span>{{scope.row.auctionNumber}}</span>
        </template>
      </table-column>
      <table-column
        min-width="150"
        show-overflow-tooltip
        :label="$t('app.application.order.remainAuctionCount')">
        <template scope="scope">
          <span>{{scope.row.remainAuctionCount}}</span>
        </template>
      </table-column>

      <table-column
        width="190"
        prop="creationTime"
        :label="$t('app.common.property.creationTime')">
        <template scope="scope">
          {{scope.row.creationTime | momentFormat}}
        </template>
      </table-column>
      <table-column
        fixed="right"
        width="350"
        :label="$t('app.common.action.actions')">
        <template scope="scope">
          <i-button scene="primary" :to="{path: '/admin/order/detail', query: {id: scope.row.id}}" border circle>{{$t('app.application.order.detail')}}</i-button>
          <i-button v-if="scope.row.orderStatus === 0" border circle scene="success" @click="showPass(scope.row)">{{$t('app.common.action.pass')}}</i-button>
          <i-button v-if="scope.row.orderStatus === 0" border circle scene="danger" @click="showDeny(scope.row)">{{$t('app.common.action.deny')}}</i-button>
          <i-button border circle scene="danger" @click="deleteItem(scope.row)">{{$t('app.common.action.delete')}}</i-button>
        </template>
      </table-column>
    </i-table>

    <Pagination :total="totalCount" :current="filterParams.pageIndex" :page-size="filterParams.pageSize" show-elevator @on-change="handlePageChange"></Pagination>
    <modal v-model="showPassModal" width="960" title="通过审核">
      <i-form :model="passModel" :rules="passRules" ref="passForm" :label-width="150">
        <form-item :label="$t('app.common.property.remark')" prop="remark">
          <i-input type="textarea" block v-model="passModel.remark"></i-input>
        </form-item>
      </i-form>
      <template slot="footer">
        <i-button :loading="passing" size="large" border circle icon="back" @click="cancelPassModal">{{$t('app.common.action.cancel')}}</i-button>
        <i-button size="large" border circle icon="save" scene="primary" @click="pass">{{$t('app.common.action.save')}}</i-button>
      </template>
    </modal>
    <modal v-model="showDenyModal" width="960" title="拒绝审核">
      <i-form :model="denyModel" :rules="denyRules" ref="denyForm" :label-width="150">
        <form-item :label="$t('app.common.property.reason')" prop="reason">
          <i-input type="textarea" block v-model="passModel.reason"></i-input>
        </form-item>
      </i-form>
      <template slot="footer">
        <i-button :loading="denying" size="large" border circle icon="back" @click="cancelDenyModal">{{$t('app.common.action.cancel')}}</i-button>
        <i-button size="large" border circle icon="save" scene="primary" @click="deny">{{$t('app.common.action.save')}}</i-button>
      </template>
    </modal>
    <modal v-model="showPayModal" width="960" title="完成支付">
      <i-form :model="payModel" :rules="payRules" ref="payForm" :label-width="150">
        <form-item :label="$t('app.application.order.outTradeNo')" prop="outTradeNo">
          <i-input block v-model="payModel.outTradeNo"></i-input>
        </form-item>
      </i-form>
      <template slot="footer">
        <i-button :loading="paying" size="large" border circle icon="back" @click="cancelPassModal">{{$t('app.common.action.cancel')}}</i-button>
        <i-button size="large" border circle icon="save" scene="primary" @click="pay">{{$t('app.common.action.save')}}</i-button>
      </template>
    </modal>
  </portlet>
</template>

<script>
  import orderService from '../../../../../appServices/admin/application/orderService';
  import CommonList from '../../../../mixins/CommonList';
  import Actions from './Actions';

  export default {
    name: 'Index',
    mixins: [CommonList, Actions],
    data () {
      return {
        api: orderService,
        filterParams: {
          number: null,
          pageSize: 10
        },
      };
    },
    methods: {
      manageAuctionAttempt (item) {
        this.$router.push({ path: '/admin/auctionAttempt/index', query: { orderId: item.id } });
      },
      getStatusScene(item) {

      },
    }
  };
</script>
