<template>
  <modal :title="$t('core.crud.createOrEdit', { 0: $t('app.application.role.role') })"
         v-model="dialogVisible"
         @on-cancel="handleCancel">
    <Alert type="warning">
      如果您正在更改自己的权限，则可能需要刷新页面（F5），以在您所做的权限更改生效！
    </Alert>
    <tab v-model="activeName">
      <tab-pane :label="$t('app.application.role.roleProperties')" name="first">
        <div class="content-padding">
          <i-form :model="role" :rules="rules" ref="form" :label-width="100">
            <form-item :label="$t('app.application.role.name')" prop="displayName">
              <i-input v-model="role.displayName" block></i-input>
            </form-item>
            <form-item :label="$t('app.common.status.default')" prop="isDefault">
              <checkbox v-model="role.isDefault">{{$t('app.common.status.default')}}</checkbox>
            </form-item>
          </i-form>
        </div>
      </tab-pane>
      <tab-pane :label="$t('app.application.role.permissions')" name="second">
        <div class="content-padding" style="max-height: 300px;overflow: auto;">
          <PermissionTree :defaultCheckedKeys="grantedPermissionNames" ref="permissionTree" :showCheckbox="true"></PermissionTree>
        </div>
      </tab-pane>
    </tab>
    <template slot="footer">
      <i-button size="large" border circle icon="back" @click="handleCancel">{{$t('app.common.action.cancel')}}</i-button>
      <i-button size="large" border circle icon="save" scene="primary" @click="save">{{$t('app.common.action.save')}}</i-button>
    </template>
  </modal>
</template>

<script>
    import PermissionTree from './../permission/PermissionTree';
    import roleService from '../../../../../appServices/admin/administration/roleService';

    export default {
        name: 'create-or-edit-role-modal',
        components: {
            PermissionTree
        },
        props: {
            value: Boolean,
            id: {
                type: Number
            }
        },
        data () {
            return {
                activeName: 'first',
                dialogVisible: this.visible,
                loading: false,
                role: {},
                grantedPermissionNames: [],
                permissions: void 0,
                title: '',
                rules: {
                    displayName: [{ required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.application.role.name') }), trigger: 'change' }]
                },
                permissionVm: void 0
            };
        },
        watch: {
            value (val) {
                if (val !== this.dialogVisible) {
                    this.dialogVisible = val;
                }
            },
            dialogVisible (value) {
                if (value) {
                    this.handleOpen();
                }
            }
        },
        methods: {
            handleCancel () {
                this.$emit('input', false);
            },
            async handleOpen () {
                this.role = {};
                this.loading = true;
                const result = await roleService.getRoleForEdit({ id: this.id });
                this.role = result.role;
                this.permissions = result.permissions;
                this.grantedPermissionNames = result.grantedPermissionNames;
                this.loading = false;
            },
            save () {
                this.$refs.form.validate((valid) => {
                    if (valid) {
                        this.loading = true;
                        let grantedPermissionNames = this.$refs.permissionTree.getCheckedKeys();
                        roleService.createOrUpdateRole({
                            role: this.role,
                            grantedPermissionNames: grantedPermissionNames
                        }).then(() => {
                            this.$emit('input', false);
                            this.$emit('onSave', this.role);
                        }).finally(() => {
                            this.loading = false;
                        });
                    }
                });
            }
        }
    };
</script>
