<template>
  <portlet>
    <div class="clearfix margin-bottom-1">
      <div class="pull-right">
        <i-button border circle scene="primary" icon="add" @click="create">
          {{$t('app.common.action.create')}}
        </i-button>
      </div>
    </div>
    <div>
      <i-form type="inline">
        <form-item>
          <PermissionInput v-model="fetchParams.permissionId" style="width: 300px;"></PermissionInput>
        </form-item>
        <form-item>
          <i-button border circle scene="primary" icon="search" @click="getAll">{{$t('app.common.action.search')}}</i-button>
        </form-item>
      </i-form>
    </div>
    <i-table class="data-table"
             :data="items"
             :fit="true"
             v-loading="loading"
             border>
      <table-column
        min-width="120"
        :label="$t('app.application.role.name')">
        <template scope="scope">
          <span>{{scope.row.displayName}}</span>
          <tooltip :content="$t('app.application.role.staticRoleTooltip')" placement="top" v-if="scope.row.isStatic">
            <i-label scene="success">{{$t('app.application.role.static')}}</i-label>
          </tooltip>
          <tooltip :content="$t('app.application.role.defaultRoleDescription')" placement="top" v-if="scope.row.isDefault">
            <i-label>{{$t('app.common.status.default')}}</i-label>
          </tooltip>
        </template>
      </table-column>
      <table-column
        width="190"
        prop="lastLoginTime"
        :label="$t('app.common.property.creationTime')">
        <template scope="scope">
          {{scope.row.creationTime | momentFormat}}
        </template>
      </table-column>
      <table-column
        fixed="right"
        width="200"
        :label="$t('app.common.action.actions')">
        <template scope="scope">
          <i-button border circle scene="primary" @click="edit(scope.row)">
            {{$t('app.common.action.edit')}}
          </i-button>
          <i-button border circle scene="danger"
                    v-if="!scope.row.isStatic"
                    @click="deleteItem(scope.row)">{{$t('app.common.action.delete')}}</i-button>
        </template>
      </table-column>
    </i-table>
    <CreateOrUpdateRoleModal :id="dialogCreateOrEdit.roleId" v-model="dialogCreateOrEdit.isShow" @save="handleOnSave"></CreateOrUpdateRoleModal>
  </portlet>
</template>

<script>
    import rolesService from '../../../../../appServices/admin/administration/roleService';
    import CreateOrUpdateRoleModal from './CreateOrUpdateRoleModal';
    import PermissionInput from './../permission/PermissionInput';

    export default {
        name: 'Role',
        components: {
            CreateOrUpdateRoleModal,
            PermissionInput
        },
        data () {
            return {
                loading: false,
                items: [],
                fetchParams: {
                    permissionId: null
                },
                dialogCreateOrEdit: {
                    isShow: false,
                    roleId: void 0
                }
            };
        },
        methods: {
            handleOnSave () {
                this.getAll();
            },
            create () {
                this.dialogCreateOrEdit.roleId = null;
                this.dialogCreateOrEdit.isShow = true;
            },
            async getAll () {
                try {
                    this.loading = true;
                    let result = await rolesService.getRoles(Object.assign({}, this.fetchParams, {
                        permission: this.fetchParams.permissionId
                    }));
                    this.items = result.items;
                }
                finally {
                    this.loading = false;
                }
            },
            deleteItem (index, item) {
                this.$confirm(this.$t('app.application.role.roleDeleteWarningMessage', item.displayName)).then(async (result) => {
                    if (!result) {
                        return;
                    }
                    await rolesService.deleteRole({ id: item.id });
                    this.data.splice(index, 1);
                    this.$Message.success(this.$t('app.common.message.successfullyDeleted'));
                });
            },
            edit (role) {
                this.dialogCreateOrEdit.roleId = role.id;
                this.dialogCreateOrEdit.isShow = true;
            }
        },
        created () {
            this.getAll();
        }
    };
</script>
