<template>
  <Modal v-model="dialogVisible" width="960" :title="$t('core.crud.createOrEdit', { 0: $t('app.application.team.team') })" @on-cancel="handleCancel">
    <i-form :model="model" :rules="rules" ref="form" :label-width="150">
      <form-item :label="$t('app.common.property.name')" prop="name">
        <i-input block v-model="model.name"></i-input>
      </form-item>
      <form-item :label="$t('app.common.property.isHot')" prop="isHot">
        <i-switch v-model="model.isHot"></i-switch>
      </form-item>
      <form-item :label="$t('app.common.property.isShow')" prop="isShow">
        <i-switch v-model="model.isShow"></i-switch>
      </form-item>
      <form-item :label="$t('app.common.property.logo')" prop="logo">
        <picture-uploader width="96" height="96" block v-model="model.logo"></picture-uploader>
      </form-item>
      <form-item :label="$t('app.common.property.introduce')" prop="introduce">
        <i-input type="textarea" block v-model="model.introduce"></i-input>
      </form-item>
      <form-item :label="$t('app.common.property.illustration')" prop="illustration">
        <i-input type="textarea" block v-model="model.illustration"></i-input>
      </form-item>
      <form-item :label="$t('app.application.team.rate')" prop="rate">
        <rate v-model="model.rate"></rate>
      </form-item>
      <form-item :label="$t('app.application.team.quota')" prop="quota">
        <input-number block v-model="model.quota"></input-number>
      </form-item>
      <form-item :label="$t('app.common.property.dealCount')" prop="dealCount">
        <input-number block v-model="model.dealCount"></input-number>
      </form-item>
      <form-item :label="$t('app.common.property.hintCount')" prop="hintCount">
        <input-number block v-model="model.hintCount"></input-number>
      </form-item>
    </i-form>
    <template slot="footer">
      <i-button size="large" border circle icon="back" @click="handleCancel">{{$t('app.common.action.cancel')}}</i-button>
      <i-button size="large" border circle icon="save" scene="primary" @click="save">{{$t('app.common.action.save')}}</i-button>
    </template>
  </Modal>
</template>

<script>
    import teamService from '../../../../../appServices/admin/application/teamService';
    import CreateOrUpdateModal from '../../../../mixins/CommonCreateOrUpdateModal';

    export default {
        name: 'CreateOrUpdateTeamModal',
        mixins: [CreateOrUpdateModal],
        data () {
            return {
                api: teamService,
                rules: {
                    name: [{ required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.common.property.name') }), trigger: 'change' }]
                },
            };
        }
    };
</script>

