<template>
  <portlet>
    <div class="clearfix margin-bottom-1">
      <div class="pull-right">
        <i-button border circle scene="primary" icon="add" @click="create">
          {{$t('app.common.action.create')}}
        </i-button>
      </div>
    </div>
    <div>
      <i-form type="inline">
        <form-item>
          <i-input v-model="filterParams.name"
                   style="width: 300px;"
                   :placeholder="$t('core.placeholder', { 0: $t('app.common.property.keyword') })"></i-input>
        </form-item>
        <form-item>
          <i-button border circle scene="primary" icon="search" @click="search">{{$t('app.common.action.search')}}</i-button>
        </form-item>
      </i-form>
    </div>
    <i-table class="data-table" :data="items" :fit="true" border v-loading="loading">
      <table-column
        min-width="120"
        :label="$t('app.common.property.name')">
        <template scope="scope">
          <span>{{scope.row.name}}</span>
        </template>
      </table-column>
      <table-column
        min-width="120"
        :label="$t('app.common.property.logo')">
        <template scope="scope">
          <img height="32" :src="scope.row.logo|filePath">
        </template>
      </table-column>
      <table-column
        min-width="120"
        :label="$t('app.common.property.dealCount')">
        <template scope="scope">
          <span>{{scope.row.dealCount}}</span>
        </template>
      </table-column>
      <table-column
        min-width="120"
        :label="$t('app.application.team.rate')">
        <template scope="scope">
          <rate v-model="scope.row.rate"></rate>
        </template>
      </table-column>
      <table-column
        min-width="120"
        :label="$t('app.common.property.isShow')">
        <template scope="scope">
          <i-label fill border scene="success" v-if="scope.row.isShow">{{$t('app.common.status.yes')}}</i-label>
          <i-label fill border scene="danger" v-else>{{$t('app.common.status.no')}}</i-label>
        </template>
      </table-column>
      <table-column
        min-width="120"
        :label="$t('app.common.property.isHot')">
        <template scope="scope">
          <i-label fill border scene="success" v-if="scope.row.isHot">{{$t('app.common.status.yes')}}</i-label>
          <i-label fill border v-else>{{$t('app.common.status.no')}}</i-label>
        </template>
      </table-column>
      <table-column
        min-width="120"
        :label="$t('app.common.property.hintCount')">
        <template scope="scope">
          <span>{{scope.row.hintCount}}</span>
        </template>
      </table-column>
      <table-column
        min-width="120"
        :label="$t('app.application.team.quota')">
        <template scope="scope">
          <span>{{scope.row.quota}}</span>
        </template>
      </table-column>
      <table-column
        width="190"
        prop="creationTime"
        :label="$t('app.common.property.creationTime')">
        <template scope="scope">
          {{scope.row.creationTime | momentFormat}}
        </template>
      </table-column>
      <table-column
        fixed="right"
        width="200"
        :label="$t('app.common.action.actions')">
        <template scope="scope">
          <i-button border circle scene="primary" @click="edit(scope.row)">{{$t('app.common.action.edit')}}</i-button>
          <i-button border circle scene="danger" @click="deleteItem(scope.row)">{{$t('app.common.action.delete')}}</i-button>
        </template>
      </table-column>
    </i-table>
    <Pagination :total="totalCount" :current="filterParams.pageIndex" :page-size="filterParams.pageSize" show-elevator @on-change="handlePageChange"></Pagination>
    <CreateOrUpdateModal :id="dialogCreateOrEdit.id" v-model="dialogCreateOrEdit.isShow" @save="handleOnSave"></CreateOrUpdateModal>
  </portlet>
</template>

<script>
    import teamService from '../../../../../appServices/admin/application/teamService';
    import CreateOrUpdateModal from './CreateOrUpdateModal';
    import CreateAndUpdateList from '../../../../mixins/CommonCreateAndUpdateModalList';

    export default {
        name: 'Index',
        components: {
            CreateOrUpdateModal
        },
        mixins: [CreateAndUpdateList],
        data () {
            return {
                api: teamService,
                filterParams: {
                    name: null
                }
            };
        }
    };
</script>
