<template>
  <portlet>
    <FileManage></FileManage>
  </portlet>
</template>

<script>
  import FileManage from '../../../components/FileManage';
  export default {
    name: 'FileIndex',
    components: {
      FileManage
    },
    props: {
      fileType: {
        type: [Number, String],
        default: 'common'
      }
    }
  };
</script>
