<template>
  <portlet>
    <div class="clearfix margin-bottom-1">
      <div class="pull-right">
        <i-button border circle scene="primary" icon="add" @click="create" v-if="isCreateVisible">
          {{$t('app.common.action.create')}}
        </i-button>
      </div>
    </div>
    <div>
      <i-form type="inline">
        <form-item>
          <i-button border circle scene="primary" icon="search" @click="search">{{$t('app.common.action.search')}}</i-button>
        </form-item>
      </i-form>
    </div>
    <div class="data-table-container margin-bottom-1">
      <i-table class="data-table"
               :data="items"
               :fit="true"
               v-loading="loading"
               border>
        <table-column
          width="80"
          :label="$t('app.common.property.result')">
          <template scope="scope">
            <i-label border scene="success" v-if="scope.row.result === 1">{{$t('app.common.status.yes')}}</i-label>
            <i-label border scene="danger" v-else-if="scope.row.result === 2">{{$t('app.application.auctionAttempt.results.lose')}}</i-label>
            <i-label border scene="danger" v-else>{{$t('app.common.status.no')}}</i-label>
          </template>
        </table-column>
        <table-column
          width="190"
          :label="$t('app.application.auctionAttempt.auctionDateTime')">
          <template scope="scope">
            {{scope.row.auctionDateTime|momentFormat}}
          </template>
        </table-column>
        <table-column
          :label="$t('app.application.auctionAttempt.shot')">
          <template scope="scope">
            <img height="48" :src="scope.row.shot|filePath">
          </template>
        </table-column>
        <table-column
          width="190"
          :label="$t('app.common.property.creationTime')">
          <template scope="scope">
            {{scope.row.creationTime|momentFormat}}
          </template>
        </table-column>
      </i-table>
    </div>
    <Pagination :total="totalCount" :current="filterParams.pageIndex" :page-size="filterParams.pageSize" show-elevator @on-change="handlePageChange"></Pagination>
    <create-or-update-modal :order-id="order.id" :id="dialogCreateOrEdit.id" v-model="dialogCreateOrEdit.isShow" @save="handleOnSave"></create-or-update-modal>
  </portlet>
</template>

<script>
  import auctionAttemptService from './../../../../../appServices/admin/application/auctionAttemptService';
  import CommonCreateAndUpdateModalList from '../../../../mixins/CommonCreateAndUpdateModalList';
  import CreateOrUpdateModal from './CreateOrUpdateModal';

  export default {
    name: 'AuctionAttemptIndex',
    components: { CreateOrUpdateModal },
    mixins: [CommonCreateAndUpdateModalList],
    props: {
      order: null
    },
    data () {
      return {
        api: auctionAttemptService,
        entityName: 'AuctionAttempt',
        filterParams: {
          orderId: null
        }
      };
    },
    computed: {
      isCreateVisible () {
        return this.order.orderStatus === 1;
      }
    },
    methods: {
      handleOnSave (model) {
        this.getAll();
        if (model.result === 1) {
          this.$emit('passAuction');
        }
        if (model.result === 0) {
          this.$emit('failAuction');
        }
      },
    },
    created() {
      this.filterParams.orderId = this.order.id;
    }
  };
</script>

