<template>
  <portlet :title="$t('core.crud.create', { 0: $t('app.application.auctionAttempt.auctionAttempt') })">
    <div slot="actions">
      <i-button border circle :loading="saving" icon="save" scene="primary" @click="save">{{$t('app.common.action.save')}}</i-button>
    </div>
    <i-form :model="model" :rules="rules" ref="form" :label-width="100" v-loading="loading" mask>
      <form-item :label="$t('app.application.auctionAttempt.result')" prop="result">
        <radio-group v-model="model.result">
          <Radio :value="0">{{$t('app.common.status.fail')}}</Radio>
          <Radio :value="1">{{$t('app.common.status.success')}}</Radio>
        </radio-group>
      </form-item>
      <form-item :label="$t('app.application.auctionAttempt.shot')" prop="shot" v-if="model.result===1">
        <PictureUploader v-model="model.shot" block></PictureUploader>
      </form-item>
      <form-item :label="$t('app.application.auctionAttempt.auctionDateTime')" prop="auctionDateTime">
        <date-picker name="author" v-model="model.auctionDateTime" block></date-picker>
      </form-item>
    </i-form>
  </portlet>
</template>

<script>
  import auctionAttemptService from './../../../../../appServices/admin/application/auctionAttemptService';
  import CommonCreateOrUpdate from '../../../../mixins/CommonCreateOrUpdate';

  export default {
    name: 'AuctionAttemptCreateOrUpdate',
    mixins: [CommonCreateOrUpdate],
    data () {
      return {
        api: auctionAttemptService,
        entityName: 'AuctionAttempt',
        rules: {
          result: [
            { required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.application.auctionAttempt.result') }) },
          ],
          auctionDateTime: [
            { required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.application.auctionAttempt.auctionDateTime') }) }
          ]
        }
      };
    },
    methods: {
      save () {
        this.$refs.form.validate((valid) => {
          if (valid) {
            this.saving = true;
            const action = this.id ? 'update' : 'createAsync';
            this.api[action](this.model).then(() => {
              this.$Message.success(this.$t('app.common.message.successfullySaved'));
              this.$router.push({ name: `${this.entityName}Index` });
            }).finally(() => {
              this.saving = false;
            });
          }
        });
      },
    },
    created() {
      this.model.orderId = this.$route.query.orderId;
    }
  };
</script>

