<template>
  <Modal v-model="dialogVisible" width="960" :title="$t('core.crud.createOrEdit', { 0: $t('app.application.team.team') })" @on-cancel="handleCancel">
    <i-form :model="model" :rules="rules" ref="form" :label-width="100" v-loading="loading" mask>
      <form-item :label="$t('app.application.auctionAttempt.result')" prop="result">
        <radio-group v-model="model.result">
          <Radio :value="2">{{$t('app.application.auctionAttempt.results.lose')}}</Radio>
          <Radio :value="1">{{$t('app.common.status.success')}}</Radio>
          <Radio :value="0">{{$t('app.common.status.fail')}}</Radio>
        </radio-group>
      </form-item>
      <form-item :label="$t('app.application.auctionAttempt.shot')" prop="shot" v-if="model.result===1">
        <PictureUploader v-model="model.shot" block></PictureUploader>
      </form-item>
      <form-item :label="$t('app.application.auctionAttempt.auctionDateTime')" prop="auctionDateTime">
        <date-picker name="author" v-model="model.auctionDateTime" block></date-picker>
      </form-item>
    </i-form>
    <template slot="footer">
      <i-button size="large" border circle icon="back" @click="handleCancel">{{$t('app.common.action.cancel')}}</i-button>
      <i-button size="large" border circle icon="save" scene="primary" @click="save">{{$t('app.common.action.save')}}</i-button>
    </template>
  </Modal>
</template>

<script>
  import auctionAttemptService from './../../../../../appServices/admin/application/auctionAttemptService';
  import CreateOrUpdateModal from '../../../../mixins/CommonCreateOrUpdateModal';

  export default {
    name: 'CreateOrUpdateModal',
    mixins: [CreateOrUpdateModal],
    props: {
      orderId: {
        type: [Number, String]
      }
    },
    data () {
      const self = this;
      return {
        api: auctionAttemptService,
        defaultModel: {
          orderId: self.orderId,
          result: 0,
          auctionDateTime: null
        },
        rules: {
          result: [
            { required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.application.auctionAttempt.result') }) },
          ],
          auctionDateTime: [
            { required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.application.auctionAttempt.auctionDateTime') }) }
          ]
        }
      };
    },
    methods: {
      save () {
        this.$refs.form.validate((valid) => {
          if (valid) {
            this.saving = true;
            const action = this.id ? 'update' : 'createAsync';
            this.api[action](this.model).then(() => {
              this.$emit('input', false);
              this.$emit('save', this.model);
            }).finally(() => {
              this.saving = false;
            });
          }
        });
      },
    },
  };
</script>

