<template>
  <portlet>
    <div class="clearfix margin-bottom-1">
      <div class="pull-right">
        <i-button border circle scene="primary" icon="add" @click="create">
          {{$t('app.common.action.create')}}
        </i-button>
      </div>
    </div>
    <div>
      <i-form type="inline">
        <form-item>
          <i-button border circle scene="primary" icon="search" @click="search">{{$t('app.common.action.search')}}</i-button>
        </form-item>
      </i-form>
    </div>
    <div class="data-table-container margin-bottom-1">
      <i-table class="data-table"
               :data="items"
               :fit="true"
               v-loading="loading"
               border>
        <table-column
          width="80"
          :label="$t('app.common.property.result')">
          <template scope="scope">
            <i-label scene="success" v-if="scope.row.result">{{$t('app.common.status.yes')}}</i-label>
            <i-label scene="danger" v-else>{{$t('app.common.status.no')}}</i-label>
          </template>
        </table-column>
        <table-column
          width="190"
          :label="$t('app.application.auctionAttempt.auctionDateTime')">
          <template scope="scope">
            {{scope.row.auctionDateTime|momentFormat}}
          </template>
        </table-column>
        <table-column
          :label="$t('app.application.auctionAttempt.shot')">
          <template scope="scope">
            <img height="48" :src="scope.row.shot|filePath">
          </template>
        </table-column>
        <table-column
          width="190"
          :label="$t('app.common.property.creationTime')">
          <template scope="scope">
            {{scope.row.creationTime|momentFormat}}
          </template>
        </table-column>
      </i-table>
    </div>
    <Pagination :total="totalCount" :current="filterParams.pageIndex" :page-size="filterParams.pageSize" show-elevator @on-change="handlePageChange"></Pagination>
  </portlet>
</template>

<script>
  import auctionAttemptService from './../../../../../appServices/admin/application/auctionAttemptService';
  import IndependentCreateOrUpdateCommonList from '../../../../mixins/CommonIndependentCreateOrUpdateList';

  export default {
    name: 'AuctionAttemptIndex',
    mixins: [IndependentCreateOrUpdateCommonList],
    data () {
      return {
        api: auctionAttemptService,
        entityName: 'AuctionAttempt',
        filterParams: {
          orderId: null
        }
      };
    },
    methods: {
      create () {
        this.$router.push({ name: `${this.entityName}CreateOrUpdate`, query: { orderId: this.filterParams.orderId } });
      },
    },
    created() {
      this.filterParams.orderId = this.$route.query.orderId;
    }
  };
</script>

