<template>
  <div v-if="edition" class="height-full flex-vertical flex-center flex-middle">
    <div>
      <div class="margin-bottom-2">
        <h3>
          {{$t("app.application.buy.paymentInfo")}}
        </h3>
      </div>
      <div class="margin-bottom-2">({{$t("app.application.edition.edition")}}: {{edition.displayName}})</div>
      <div class="margin-bottom-2">
        <div>
          <RadioGroup v-model="selectedPaymentPeriodType">
            <Radio v-if="edition.monthlyPrice" :label="paymentPeriodType.Monthly">{{$t("app.common.property.monthlyPrice")}}: ${{edition.monthlyPrice}}</Radio>
            <Radio v-if="edition.annualPrice" :label="paymentPeriodType.Annual">{{$t("app.common.property.annualPrice")}}: ${{edition.annualPrice}}</Radio>
          </RadioGroup>
        </div>
      </div>
      <paymentGateways :edition="edition" :paymentPeriodType="selectedPaymentPeriodType" :editionPaymentType="editionPaymentType"></paymentGateways>
    </div>
  </div>
</template>

<script>
  import PaymentPeriodType from '../../../../application/edition/PaymentPeriodType';
  import SubscriptionPaymentGatewayType from '../../../../application/edition/SubscriptionPaymentGatewayType';
  import tenantRegistrationService from '../../../../appServices/public/tenantRegistrationService';
  import paymentGateways from '../paymentGateways/Index';

  export default {
    name: 'Buy',
    components: {
      paymentGateways
    },
    data () {
      return {
        editionPaymentType: null,
        edition: null,
        tenantId: this.$store.state.session.tenantId,
        paymentPeriodType: PaymentPeriodType,
        subscriptionPaymentGateway: SubscriptionPaymentGatewayType,
        selectedPaymentPeriodType: PaymentPeriodType.Monthly
      };
    },
    methods: {
      onPaymentPeriodChangeChange (selectedPaymentPeriodType) {
        this.selectedPaymentPeriodType = selectedPaymentPeriodType;
      }
    },
    mounted () {
      this.editionPaymentType = parseInt(this.$route.query['editionPaymentType']);
      const editionId = this.$route.query['editionId'];

      tenantRegistrationService.getEdition({ editionId }).then((result) => {
          this.edition = result;
        });
    }
  };
</script>
