<template>
  <div :class="classes" v-clickoutside="handleClose">
    <div class="flex-horizontal select-selection" @click="handleClick">
      <div class="flex-adapter select-selected-value" v-if="selectedPermission">
        {{selectedPermission.displayName}}
      </div>
      <div class="flex-adapter select-selected-value" v-else>
        {{computedPlaceholder}}
      </div>
      <i class="icon-down select-arrow"></i>
    </div>
    <transition name="slide-up">
      <Drop v-show="dropVisible"
            :matchParentWidth="true"
            class="dropdown select-dropdown width-full"
            ref="dropdown"
            :data-transfer="false"
            v-transfer-dom>
        <div class="content-padding">
          <PermissionTree :defaultSelectedKeys="defaultSelectedKeys" @node-click="handleNodeClick"></PermissionTree>
        </div>
      </Drop>
    </transition>
  </div>
</template>

<script>
  import clickoutside from 'canknow-ui-core/src/directives/clickoutside';
  import TransferDom from 'canknow-ui-core/src/directives/transfer-dom';
  import PermissionTree from './PermissionTree';
  import permissionService from '../../../../../appServices/admin/administration/permissionService';

  export default {
    name: 'PermissionInput',
    directives: { clickoutside, TransferDom },
    props: {
      value: {
        type: [Number, String]
      },
      placeholder: {
        type: String
      },
      block: {
        type: Boolean,
        default: true
      }
    },
    components: {
      PermissionTree
    },
    computed: {
      computedPlaceholder () {
        return this.placeholder || this.$t('core.select.placeholder', { 0: this.$t('Permission') });
      },
      defaultSelectedKeys () {
        const defaultSelectedKeys = [];
        if (this.value) {
          defaultSelectedKeys.push(this.value);
        }
        return defaultSelectedKeys;
      },
      classes () {
        return [
          'select',
          {
            'visible': this.visible,
            'disabled': this.disabled,
            'block': !!this.block,
            'show-clear': this.showCloseIcon,
            [`${this.size}`]: !!this.size
          }
        ];
      }
    },
    data () {
      return {
        selectedPermission: null,
        dropVisible: false
      };
    },
    methods: {
      handleClose () {
        this.dropVisible = false;
      },
      handleNodeClick (node) {
        this.selectedPermission = node;
        this.$emit('input', node ? node.id : null);
        this.dropVisible = false;
      },
      fetchData () {
        permissionService.get({ id: this.value }).then((result) => {
          this.selectedPermission = result;
        });
      },
      handleClick () {
        this.dropVisible = !this.dropVisible;
      }
    },
    mounted () {
      if (this.value) {
        this.fetchData();
      }
    }
  };
</script>
