<template>
  <div>
    <Tree :data="treeData"
          :default-checked-keys="defaultCheckedKeys"
          ref="tree"
          @check-change="handleCheckChange"
          node-key="name"
          :expandOnClickNode="false"
          @node-click="handleClick"
          :default-expanded-keys="defaultExpandedKeys"
          :accordion="accordion"
          :show-checkbox="showCheckbox"></Tree>
  </div>
</template>

<script>
  import permissionService from '../../../../../appServices/admin/administration/permissionService';
  import assist from './../../../../../utils/assist';

  export default {
    name: 'permission-tree',
    props: {
      accordion: {
        type: Boolean,
        default: true
      },
      defaultExpandAll: {
        type: Boolean,
        default: true
      },
      defaultCheckedKeys: {
        type: Array,
        default () {
          return [];
        }
      },
      defaultSelectedKeys: {
        type: Array,
        default () {
          return [];
        }
      },
      showCheckbox: {
        type: Boolean,
        default: false
      }
    },
    watch: {
      defaultSelectedKeys (value) {
        value.forEach((item) => {
          this.$refs.tree.setCurrentKey(item);
        });
        this.$nextTick(() => {
          this.handleClick(this.$refs.tree.getCurrentNode());
        });
      },
      defaultCheckedKeys (newValue) {
        return this.$refs.tree.setCheckedKeys(newValue);
      }
    },
    data () {
      return {
        permissions: [],
        treeData: []
      };
    },
    computed: {
      defaultExpandedKeys () {
        return this.treeData.length ? [this.treeData[0].name] : [];
      }
    },
    methods: {
      handleCheckChange () {
        this.$emit('check-change');
      },
      getAllPermissions () {
        permissionService.getAllPermissions().then((result) => {
          this.permissions = result.items;
          this.treeData = assist.getTreeFromPlain(this.permissions, 'name', 'parentName', 'children', (item) => {
            item.id = item.name;
            item.label = item.displayName;
          });
        });
      },
      handleClick (value) {
        this.$emit('node-click', value);
      },
      getCheckedKeys () {
        return this.$refs.tree.getCheckedKeys();
      }
    },
    mounted () {
      this.getAllPermissions();
    }
  };
</script>
