<template>
  <div>
    <paypal :edition='edition' :selectedPaymentPeriodType='paymentPeriodType' :editionPaymentType='editionPaymentType'></paypal>
  </div>
</template>

<script>
  import paypal from './paypal';
  export default {
    name: 'Index',
    components: {
      paypal
    },
    props: {
      edition: null,
      paymentPeriodType: null,
      editionPaymentType: null
    }
  };
</script>
