<template>
  <portlet>
    <div class="administration-auditlog-container">
      <div class="search margin-bottom-1">
        <i-form type="inline">
          <form-item>
            <i-input class="width-em20" clearable :placeholder="$t('core.placeholder', { 0: $t('app.common.property.userName') })" v-model="fetchParams.userName"
                     @keyup.enter.native="getAll"></i-input>
          </form-item>
          <form-item>
            <DatePicker class="width-em20" clearable type="daterange"
                        :transfer="true"
                        :placeholder="$t('core.placeholder', { 0: $t('app.common.property.dateRange') })"
                        :onChange="getAll"></DatePicker>
          </form-item>
          <form-item>
            <i-input clearable class="width-em20" :placeholder="$t('core.placeholder', { 0: $t('app.common.property.service') })"
                     v-model="fetchParams.serviceName"
                     @keyup.enter.native="getAll"></i-input>
          </form-item>
          <form-item>
            <i-input clearable class="width-em20" :placeholder="$t('core.placeholder', { 0: $t('app.application.auditLog.action') })" v-model="fetchParams.methodName"
                     @keyup.enter.native="getAll"></i-input>
          </form-item>
          <form-item>
            <i-select clearable class="width-em20" :placeholder="$t('core.placeholder', { 0: $t('app.application.auditLog.errorState') })" v-model="fetchParams.hasException" @on-change="getAll">
              <i-option :value="1">{{$t('app.common.status.success')}}</i-option>
              <i-option :value="0">{{$t('app.common.status.hasError')}}</i-option>
            </i-select>
          </form-item>
          <form-item>
            <i-input clearable class="width-em20" :placeholder="$t('core.placeholder', { 0: $t('app.application.auditLog.browser') })" v-model="fetchParams.browserInfo"
                     @keyup.enter.native="getAll"></i-input>
          </form-item>
          <form-item>
            <i-button scene="primary" icon="search" border circle @click="search">{{$t('app.common.action.search')}}</i-button>
          </form-item>
        </i-form>
      </div>
      <div class="margin-bottom-1">
        <i-table class="data-table"
                 :data="data"
                 :fit="true"
                 highlight-current-row
                 border>
          <table-column width="100" :label="$t('app.application.auditLog.exception')">
            <template scope="scope">
              <span class="text-success" v-if="!scope.row.exception">success</span>
              <span class="text-error" v-else>error</span>
            </template>
          </table-column>
          <table-column width="180" :label="$t('app.application.auditLog.time')">
            <template scope="scope">
              {{scope.row.executionTime | momentFormat}}
            </template>
          </table-column>
          <table-column width="110" prop="userName" :label="$t('app.common.property.userName')"></table-column>
          <table-column min-width="400" prop="serviceName" :label="$t('app.application.auditLog.service')"></table-column>
          <table-column min-width="250" prop="methodName" :label="$t('app.application.auditLog.action')"></table-column>
          <table-column width="100" :label="$t('app.application.auditLog.duration')">
            <template scope="scope">
              <span>{{scope.row.executionDuration}} ms</span>
            </template>
          </table-column>
          <table-column prop="clientIpAddress" width="150" :label="$t('app.application.auditLog.ipAddress')"></table-column>
          <table-column prop="clientName" width="160" :label="$t('app.application.auditLog.client')"></table-column>
          <table-column show-overflow-tooltip prop="browserInfo" width="200" :label="$t('app.application.auditLog.browser')"></table-column>
          <table-column
            width="150"
            fixed="right"
            :label="$t('app.common.action.actions')">
            <template scope="scope">
              <i-button size="small" scene="primary" ghost @click="dialogDetail.isShow=true;dialogDetail.model=scope.row">{{$t('app.common.action.view')}}</i-button>
            </template>
          </table-column>
        </i-table>
      </div>
      <pagination @on-change="handleCurrentChange"
                  :current="fetchParams.pageIndex"
                  :page-size="fetchParams.pageSize"
                  :total="totalCount">
      </pagination>

      <!--详情信息的弹出框-->
      <modal :title="$t('app.common.property.detail')"
             width="960"
             v-model="dialogDetail.isShow">
        <div class="content-padding">
          <article>
            <row :gutter="1">
              <column :span="12">
                <portlet :title="$t('app.application.auditLog.userInformations')">
                  <article>
                    <section><span>{{$t('app.common.property.userName')}}:</span> {{dialogDetail.model.userName}}</section>
                    <section><span>{{$t('app.application.auditLog.ipAddress')}}:</span> {{dialogDetail.model.clientIpAddress}}</section>
                    <section><span>{{$t('app.application.auditLog.client')}}:</span> {{dialogDetail.model.clientName}}</section>
                    <section><span>{{$t('app.application.auditLog.browser')}}:</span> {{dialogDetail.model.browserInfo}}</section>
                  </article>
                </portlet>
                <portlet :title="$t('app.application.auditLog.customData')">
                  <article>
                    <section>{{dialogDetail.model.customData || '[NONE]'}}</section>
                  </article>
                </portlet>
              </column>
              <column :span="12">
                <portlet :title="$t('app.application.auditLog.actionInformations')">
                  <article>
                    <section><span>{{$t('app.application.auditLog.service')}}:</span> {{dialogDetail.model.serviceName}}</section>
                    <section><span>{{$t('app.application.auditLog.action')}}:</span> {{dialogDetail.model.methodName}}</section>
                    <section><span>{{$t('app.common.property.time')}}:</span> {{dialogDetail.model.executionTime | momentFormat}}</section>
                    <section><span>{{$t('app.application.auditLog.duration')}}:</span> {{dialogDetail.model.executionDuration}} ms</section>
                    <section><span>{{$t('app.common.property.parameters')}}:</span>
                      <pre lang="js">{{dialogDetail.model.parameters ? JSON.stringify(JSON.parse(dialogDetail.model.parameters), null, '\t') : ''}}</pre>
                    </section>
                  </article>
                </portlet>
              </column>
            </row>
            <row>
              <portlet :title="$t('app.application.auditLog.errorState')">
                <article class="error-status">
                  <section>
                    <i class="material-icons font-bold col-cyan" v-if="!dialogDetail.model.exception">check_circle</i>
                    <pre><code>{{dialogDetail.model.exception || $t('app.common.status.success')}}</code></pre>
                  </section>
                </article>
              </portlet>
            </row>
          </article>
        </div>
        <template slot="footer">
          <i-button size="large" circle border icon="back" @click="dialogDetail.isShow = false">{{$t('app.common.action.close')}}</i-button>
        </template>
      </modal>
    </div>
  </portlet>
</template>

<script>
    import auditLogService from '../../../../../appServices/admin/administration/auditLogService';

    export default {
        components: {},
        name: 'AuditLog',
        data () {
            return {
                loading: false,
                data: [], // 表格数据
                totalCount: 0,
                fetchParams: { // 筛选条件
                    startDate: new Date(),
                    endDate: new Date(),
                    userName: '',
                    serviceName: '',
                    methodName: '',
                    browserInfo: '',
                    hasException: void 0,
                    sorting: '',
                    pageSize: 5,
                    pageIndex: 1
                },
                dialogDetail: {
                    isShow: false,
                    model: {}
                }
            };
        },
        created () {
            this.fetchParams.startDate.setHours(0, 0, 0, 0);
            this.fetchParams.endDate.setHours(23, 59, 59, 999);
            this.getAll();
        },
        methods: {
            handleCurrentChange (value) {
                this.fetchParams.pageIndex = value;
                this.getAll();
            },
            handleSizeChange (value) {
                this.fetchParams.pageSize = value;
                this.getAll();
            },
            search () {
                this.fetchParams.pageIndex = 1;
                this.getAll();
            },
            async getAll () {
                try {
                    this.loading = true;
                    let result = await auditLogService.getAuditLogs(this.fetchParams);
                    this.data = result.items;
                    this.totalCount = result.totalCount;
                }
                finally {
                    this.loading = false;
                }
            },
            exportExcel () {
                auditLogService.exportExcel(this.fetchParams);
            }
        }
    };
</script>
