<template>
  <div class="content-padding container-responsive">
    <h3>Application Installation</h3>
    <i-form label-width="150">
      <form-item label="Connection String">
        <i-input type="text"
                 placeholder="Connection String"
                 block
                 v-model="setupSettings.connectionString"
                 name="connectionString"
                 :value="setupSettings.connectionString"/>
      </form-item>
      <form-item label="Admin Password">
        <i-input type="password"
                 block
                 placeholder="Admin Password"
                 v-model="setupSettings.adminPassword"
                 name="adminPassword"/>
      </form-item>
      <form-item label="Server Side URL">
        <i-input type="text"
                 block
                 placeholder="Server Side URL"
                 v-model="setupSettings.serverUrl"
                 name="serverUrl"
                 :value="setupSettings.serverUrl"/>
      </form-item>
      <form-item label="Default Language">
        <i-select v-model="setupSettings.defaultLanguage" name="defaultLanguage">
          <i-option v-for="language in languages" :key="language.value" :value="language.value">
            {{language.name}}
          </i-option>
        </i-select>
      </form-item>

      <h5>SMTP Settings</h5>
      <form-item label="Default from address">
        <i-input type="email"
                 placeholder="Default from address"
                 block
                 v-model="setupSettings.smtpSettings.defaultFromAddress"
                 name="defaultFromAddress"/>
      </form-item>
      <form-item label="Default from displayName">
        <i-input type="text"
                 placeholder="Default from displayName"
                 block
                 v-model="setupSettings.smtpSettings.defaultFromDisplayName"
                 name="defaultFromDisplayName"/>
      </form-item>
      <form-item label="SMTP port">
        <i-input type="number"
                 placeholder="SMTP port"
                 block
                 v-model="setupSettings.smtpSettings.smtpPort"
                 name="smtpPort"/>
      </form-item>
      <form-item label="Use ssl">
        <Checkbox v-model="setupSettings.smtpSettings.smtpEnableSsl">Use Ssl</Checkbox>
        <Checkbox v-model="setupSettings.smtpSettings.smtpUseDefaultCredentials">Use Default Credentials</Checkbox>
      </form-item>

      <form-item label="Domain name">
        <i-input type="text" placeholder="Domain name"
                 v-model="setupSettings.smtpSettings.smtpDomain"
                 name="smtpDomain"/>
      </form-item>
      <form-item label="User name">
        <i-input type="text" placeholder="User name"
                 v-model="setupSettings.smtpSettings.smtpUserName"
                 name="smtpUserName"/>
      </form-item>
      <form-item label="Password">
        <i-input type="password" placeholder="Password"
                 v-model="setupSettings.smtpSettings.smtpPassword"
                 name="smtpPassword"/>
      </form-item>
      <form-item>
        <i-button scene="primary" v-loading="saving" @click="saveAll">Save</i-button>
      </form-item>
    </i-form>
  </div>
</template>

<script>
    import installSettingService from './../../../../appServices/public/installSettingService';

    export default {
        name: 'Index',
        data () {
            return {
                languages: [],
                saving: false,
                setupSettings: {
                    webSiteUrl: '',
                    serverUrl: '',
                }
            };
        },
        methods: {
            loadAppSettingsJson () {
                installSettingService.getAppSettingsJson().then(result => {
                    this.setupSettings.webSiteUrl = result.webSiteUrl;
                    this.setupSettings.serverUrl = result.serverSiteUrl;
                    this.languages = result.languages;
                });
            },
            initialize() {
                installSettingService.checkDatabase().then(result => {
                    if (result.isDatabaseExist) {
                        // this.$router.push({ path: '/' });
                    }
                });
                this.setupSettings.smtpSettings = {};
                this.setupSettings.billInfo = {};
                this.setupSettings.defaultLanguage = 'en';
                this.loadAppSettingsJson();
            },
            saveAll() {
                this.saving = true;
                installSettingService.setup(this.setupSettings).finally(() => {
                    this.saving = false;
                }).then(() => {
                    this.$router.push({ path: '/' });
                });
            }
        },
        created () {
            this.initialize();
        }
    };
</script>
