@import "./../../../../../styles/variables";

.tags-view-container {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid $border-color;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 3px 0 rgba(0, 0, 0, 0.04);

  .tags-view-wrapper {

    .tags-view-item {
      display: inline-flex;
      align-items: center;
      position: relative;
      cursor: pointer;
      height: $component-size-small;
      color: $title-color;
      background: #fff;
      padding: 0 $content-padding;
      font-size: $font-size-small;
      user-select: none;
      border-right: $border-width solid $border-color;

      &.active {
        background-color: $background-color;
        color: $title-color;
        border-color: transparent;
        &::before {
          content: '';
          background: $primary-color;
          display: inline-block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          position: relative;
          margin-right: $text-span;
        }
      }
      &-close-button {
        text-align: center;
        margin-left: $text-span;
        font-size: $font-size-small;
        color: $icon-color;
        &:hover {
          color: $title-color;
        }
      }
    }
  }
  .contextmenu {
    margin: 0;
    background: #fff;
    z-index: 3000;
    position: absolute;
    list-style-type: none;
    padding: $text-padding 0;
    border-radius: $border-radius;
    font-size: $font-size-small;
    font-weight: 400;
    color: $title-color;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, .3);
    li {
      margin: 0;
      padding: $text-padding $content-padding;
      cursor: pointer;
      &:hover {
        background: $background-color;
      }
    }
  }
}
