<template>
  <PageHeader :pageLogo="pageLogo"
              :show-title-block="false"
              :page-title="pageTitle"
              :activeMenuName="$store.state.app.activeMainMenuName"
              menuItemStyle="compact"
              menuTitleField="displayName">
    <div slot="left" class="flex-horizontal flex-middle">
      <hamburger :is-active="$store.state.app.sidebar.opened" class="hamburger-container" @toggleClick="toggleSideBar" />
      <slot></slot>
    </div>
    <div class="page-header-right-wrap">
      <LanguageSelector></LanguageSelector>
      <Dropdown v-if="$store.getters.user" placement="bottom-start" transfer class="user-block-dropdown margin-right-1">
        <div slot="handle" class="user-block">
          <div class="user-info">
            <h3>{{$store.getters.showUserName}}</h3>
            <h4>{{$store.getters.user.emailAddress}}</h4>
          </div>
          <OnlineStatus :status="$store.state.app.onlineStatus">
            <div class="user-avatar-wrap">
              <i-image class="user-avatar" :src="$store.getters.user.avatar"/>
            </div>
          </OnlineStatus>
          <icon class="dropdown-status-icon" name="down"></icon>
        </div>
        <dropdown-menu>
          <DropdownMenuItem>
            <div @click="viewProfile">
              {{$t('app.common.property.profile')}}
            </div>
          </DropdownMenuItem>
          <DropdownMenuItem>
            <div @click="changePassword">
              {{$t('app.common.action.changePassword')}}
            </div>
          </DropdownMenuItem>
          <DropdownMenuItem>
            <div @click="viewUserLoginAttempts">
              {{$t('app.application.user.userLoginAttempt')}}
            </div>
          </DropdownMenuItem>
          <DropdownMenuItem>
            <div @click="handleLogout">
              {{$t('app.common.action.logout')}}
            </div>
          </DropdownMenuItem>
        </dropdown-menu>
      </Dropdown>
    </div>
  </PageHeader>
</template>

<script>
  import LanguageSelector from '../../components/LanguageSelector';
  import pageLogo from '../../../../assets/images/title-logo.png';
  import authorizationService from './../../../../application/authorization';
  import Hamburger from './Hamburger';

  export default {
    name: 'ApplicationPageHeader',
    components: {
      Hamburger,
      LanguageSelector
    },
    computed: {
      pageLogo () {
        return pageLogo;
      },
      pageTitle () {
        return '';
      }
    },
    methods: {
      toggleSideBar() {
        this.$store.commit('app/toggleSidebar');
      },
      viewUserLoginAttempts () {
        this.$router.push({ path: '/admin/administration/profile/userLoginAttempt' });
      },
      viewProfile () {
        this.$router.push({ path: '/admin/administration/profile/index' });
      },
      changePassword () {
        this.$router.push({ path: '/admin/administration/profile/changePassword' });
      },
      async handleLogout () {
        this.$Loading.show();
        await authorizationService.logout();
        this.$Loading.hide();
        this.$router.push({ path: '/account/login' });
      }
    }
  };
</script>
