@import "./../../../../styles/variables";
.page-sidebar {
  position: fixed;
  height: 100%;
  font-size: 0;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;
  background-color: $menu-bg;
  border-right: 1px solid $border-color;
  width: $sidebar-width;
  transition: width $transition-time;

  &-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .menu.vertical {
    flex: 1;
    overflow-y: auto;

    &:not(.collapse) {
      width: $sidebar-width;
    }
    .menu-item {
      .menu-item-title-box {
        color: $menu-text-color;
      }
    }
    &>.menu-item {
      .menu-item-title-box {
        .menu-item-title{
          font-size: $font-size;
        }
      }
    }
    .submenu {
      .submenu-title-box {
        color: $menu-text-color;
        .menu-item-title{
          font-size: $font-size;
        }
      }
    }
    .opened{
      &>.submenu-title-box {
        .menu-item-title{

        }
        .submenu-toggle-icon{
        }
      }
      .menu {
        background: $opened-submenu-bg;
      }
    }
    .menu-item {
      &.active {
        background-color: $primary-color;
        font-weight: bold;
        .menu-item-title-box {
          color: #fff;
        }
      }
    }
  }
}
