<template>
  <portlet>
    <i-form :label-width="150" v-loading="loading" mask>
      <div class="clearfix">
        <div class="pull-right">
          <i-button :loading="saving" border circle icon="save" @click="save" scene="primary">{{$t("app.common.action.save")}}</i-button>
        </div>
      </div>
      <Tab>
        <tab-pane name="General" :label="$t('app.application.settings.application.general')">
          <div class="content-padding">
            <form-item :label="$t('app.application.settings.application.timezone')" prop="general.timezone">
              <i-select block name="timezone" v-model="settings.general.timezone">
                <i-option :value="timezoneItem.value" v-for="timezoneItem in timezoneItems">{{timezoneItem.displayText}}</i-option>
              </i-select>
            </form-item>
            <form-item :label="$t('app.application.settings.application.thisWebSiteRootAddress')" prop="general.webSiteRootAddress">
              <i-input type="url" block name="webSiteRootAddress" v-model="settings.general.webSiteRootAddress" maxlength="128"></i-input>
              <p slot="help">{{$t('ThisWebSiteRootAddressHint')}}</p>
            </form-item>
            <form-item :label="$t('app.application.settings.application.appName')">
              <i-input block name="appName" v-model="settings.general.appName" maxlength="16"></i-input>
            </form-item>
            <form-item :label="$t('app.application.settings.application.appLogo')">
              <PictureUploader block name="appLogo" v-model="settings.general.appLogo"></PictureUploader>
            </form-item>
            <form-item :label="$t('app.application.settings.application.appTitleLogo')">
              <PictureUploader block name="appTitleLogo" v-model="settings.general.appTitleLogo"></PictureUploader>
            </form-item>
            <form-item :label="$t('app.application.settings.application.webSiteStatus')">
              <i-switch name="webSiteStatus" v-model="settings.general.webSiteStatus"></i-switch>
            </form-item>
          </div>
        </tab-pane>
        <tab-pane name="Sms" :label="$t('app.application.settings.sms.sms')">
          <div class="content-padding">
            <form-item :label="$t('app.application.settings.sms.serviceUrl')" prop="sms.serviceUrl">
              <i-input readonly block type="url" name="serviceUrl" v-model="settings.sms.serviceUrl" maxlength="128"></i-input>
            </form-item>
            <form-item :label="$t('app.application.settings.sms.appKey')" prop="sms.appKey">
              <i-input block name="appKey" v-model="settings.sms.appKey"></i-input>
            </form-item>
            <form-item :label="$t('app.application.settings.sms.appSecret')" prop="sms.appSecret">
              <i-input block name="appSecret" v-model="settings.sms.appSecret"></i-input>
            </form-item>
            <form-item :label="$t('app.application.settings.sms.defaultFreeSignName')" prop="sms.defaultFreeSignName">
              <i-input block name="defaultFreeSignName" v-model="settings.sms.defaultFreeSignName"></i-input>
            </form-item>
            <form-item :label="$t('app.application.settings.sms.defaultSmsTemplateCode')" prop="sms.defaultSmsTemplateCode">
              <i-input block name="defaultSmsTemplateCode" v-model="settings.sms.defaultSmsTemplateCode"></i-input>
            </form-item>
            <h3>{{$t('app.application.settings.sms.testSmsSettingsHeader')}}</h3>
            <form-item :label="$t('app.application.settings.sms.testSmsTemplateParams')">
              <i-input type="textarea" block name="testSmsTemplateParams" v-model="testSmsTemplateParams"></i-input>
            </form-item>
            <form-item :label="$t('app.application.settings.sms.testSmsPhoneNumber')">
              <i-input type="tel" block name="testPhoneNumber" v-model="testPhoneNumber"></i-input>
            </form-item>
            <form-item>
              <i-button :loading="sendingSms" icon="send" border circle scene="primary" @click="sendTestSms">{{$t('app.application.settings.sms.sendTestSms')}}</i-button>
            </form-item>
          </div>
        </tab-pane>
        <tab-pane name="TenantManagement" :label="$t('app.application.settings.tenantManagement.tenantManagement')">
          <div class="content-padding">
            <h3>{{$t('FormBasedRegistration')}}</h3>
            <form-item :label="$t('app.application.settings.tenantManagement.allowTenantsToRegisterThemselves')">
              <i-switch name="allowSelfRegistration" v-model="settings.tenantManagement.allowSelfRegistration"></i-switch>
            </form-item>
            <form-item :label="$t('app.application.settings.tenantManagement.newRegisteredTenantsIsActiveByDefault')" v-if="settings.tenantManagement.allowSelfRegistration">
              <i-switch name="isNewRegisteredTenantActiveByDefault" v-model="settings.tenantManagement.isNewRegisteredTenantActiveByDefault"></i-switch>
            </form-item>
            <form-item :label="$t('app.application.settings.tenantManagement.useCaptchaOnRegistration')" v-if="settings.tenantManagement.allowSelfRegistration">
              <i-switch name="useCaptchaOnRegistration" v-model="settings.tenantManagement.useCaptchaOnRegistration"></i-switch>
            </form-item>
            <form-item :label="$t('app.application.settings.tenantManagement.edition')" v-if="settings.tenantManagement.defaultEditionId">

            </form-item>
          </div>
        </tab-pane>
        <tab-pane name="UserManagement" :label="$t('app.application.settings.userManagement.userManagement')">
          <div class="content-padding">
            <form-item :label="$t('app.application.settings.userManagement.smsVerificationEnabled')">
              <i-switch name="smsVerificationEnabled" v-model="settings.userManagement.smsVerificationEnabled"></i-switch>
              <p slot="help">{{$t("app.application.settings.userManagement.smsVerificationEnabled")}}</p>
            </form-item>
            <form-item :label="$t('app.application.settings.userManagement.isEmailConfirmationRequiredForLogin')">
              <i-switch name="isEmailConfirmationRequiredForLogin" v-model="settings.userManagement.isEmailConfirmationRequiredForLogin"></i-switch>
            </form-item>
          </div>
        </tab-pane>
        <tab-pane name="Security" :label="$t('app.application.settings.security.security')">
          <div class="content-padding">
            <h4>{{$t('app.application.settings.security.passwordComplexity')}}</h4>
            <form-item :label="$t('app.application.settings.security.useDefaultSettings')">
              <i-switch name="useDefaultPasswordComplexitySettings" v-model="settings.security.useDefaultPasswordComplexitySettings"></i-switch>
            </form-item>
            <form-item :label="$t('app.application.settings.security.minPasswordLength')">
              <i-input type="number"
                       name="MinPasswordLength"
                       :class="{'edited': settings.security.defaultPasswordComplexity.minLength}"
                       v-model="settings.security.defaultPasswordComplexity.minLength"
                       :disabled="settings.security.useDefaultPasswordComplexitySettings"></i-input>
            </form-item>
            <form-item :label="$t('app.application.settings.security.maxPasswordLength')">
              <i-input type="number"
                       name="MaxPasswordLength"
                       :class="{'edited': settings.security.passwordComplexity.maxLength}"
                       v-model="settings.security.passwordComplexity.maxLength"
                       :disabled="settings.security.useDefaultPasswordComplexitySettings"></i-input>
            </form-item>
            <form-item :label="$t('app.application.settings.security.useUpperCaseLetters')">
              <i-switch name="useUpperCaseLetters"
                        v-if="settings.security.useDefaultPasswordComplexitySettings"
                        v-model="settings.security.defaultPasswordComplexity.useUpperCaseLetters"
                        :disabled="settings.security.useDefaultPasswordComplexitySettings"></i-switch>
              <i-switch name="useUpperCaseLetters"
                        v-else
                        v-model="settings.security.passwordComplexity.useUpperCaseLetters"
                        :disabled="settings.security.useDefaultPasswordComplexitySettings"></i-switch>
            </form-item>
            <form-item :label="$t('app.application.settings.security.useLowerCaseLetters')">
              <i-switch name="useLowerCaseLetters"
                        v-if="settings.security.useDefaultPasswordComplexitySettings"
                        v-model="settings.security.defaultPasswordComplexity.useLowerCaseLetters"
                        :disabled="settings.security.useDefaultPasswordComplexitySettings"></i-switch>
              <i-switch name="useLowerCaseLetters"
                        v-else
                        v-model="settings.security.passwordComplexity.useLowerCaseLetters"
                        :disabled="settings.security.useDefaultPasswordComplexitySettings"></i-switch>
            </form-item>
            <form-item :label="$t('app.application.settings.security.usePunctuations')">
              <i-switch name="usePunctuations"
                        v-if="settings.security.useDefaultPasswordComplexitySettings"
                        v-model="settings.security.defaultPasswordComplexity.usePunctuations"
                        :disabled="settings.security.useDefaultPasswordComplexitySettings"></i-switch>
              <i-switch name="usePunctuations"
                        v-else
                        v-model="settings.security.passwordComplexity.usePunctuations"
                        :disabled="settings.security.useDefaultPasswordComplexitySettings"></i-switch>
            </form-item>
            <form-item :label="$t('app.application.settings.security.smsTemplateCommonCode')">
              <i-input block name="smsTemplateCommonCode" v-model="settings.security.smsTemplateCommonCode"></i-input>
              <p slot="help">短信模板请前往<a target="_blank" href="https://dysms.console.aliyun.com/dysms.htm#/develop/template">阿里云短信服务管理控制台</a>获取</p>
            </form-item>
          </div>
        </tab-pane>
        <tab-pane name="EmailSmtp" :label="$t('app.application.settings.emailSmtp.emailSmtp')">
          <div class="content-padding">
            <form-item :label="$t('app.application.settings.emailSmtp.defaultFromAddress')">
              <i-input type="email" block name="defaultFromAddress" v-model="settings.email.defaultFromAddress" maxlength="128"></i-input>
            </form-item>
            <form-item :label="$t('app.application.settings.emailSmtp.defaultFromDisplayName')">
              <i-input type="email" block name="defaultFromDisplayName" v-model="settings.email.defaultFromDisplayName" maxlength="32"></i-input>
            </form-item>
            <form-item :label="$t('app.application.settings.emailSmtp.smtpHost')">
              <i-input block name="smtpHost" v-model="settings.email.smtpHost" maxlength="32"></i-input>
            </form-item>
            <form-item :label="$t('app.application.settings.emailSmtp.smtpPort')">
              <i-input block name="smtpPort" v-model="settings.email.smtpPort" maxlength="32"></i-input>
            </form-item>
            <form-item :label="$t('app.application.settings.emailSmtp.smtpEnableSsl')">
              <i-switch name="smtpEnableSsl" v-model="settings.email.smtpEnableSsl"></i-switch>
            </form-item>
            <form-item :label="$t('app.application.settings.emailSmtp.useDefaultCredentials')">
              <i-switch name="useDefaultCredentials" v-model="settings.email.smtpUseDefaultCredentials"></i-switch>
            </form-item>
            <form-item :label="$t('app.application.settings.emailSmtp.smtpDomain')" v-if="!settings.email.smtpUseDefaultCredentials">
              <i-input block name="smtpDomain" v-model="settings.email.smtpDomain" maxlength="128"></i-input>
            </form-item>
            <form-item :label="$t('app.application.settings.emailSmtp.smtpUserName')" v-if="!settings.email.smtpUseDefaultCredentials">
              <i-input block name="smtpUserName" v-model="settings.email.smtpUserName"></i-input>
            </form-item>
            <form-item :label="$t('app.application.settings.emailSmtp.smtpPassword')" v-if="!settings.email.smtpUseDefaultCredentials">
              <i-input block type="password" name="smtpPassword" v-model="settings.email.smtpPassword"></i-input>
            </form-item>
            <h3>{{$t('app.application.settings.emailSmtp.testEmailSettingsHeader')}}</h3>
            <form-item :label="$t('TestEmailAddress')">
              <i-input type="email" block name="testEmailAddress" v-model="testEmailAddress"></i-input>
            </form-item>
            <form-item>
              <i-button :loading="sendingEmail" icon="send" border circle scene="primary" @click="sendTestEmail">{{$t('app.application.settings.emailSmtp.sendTestEmail')}}</i-button>
            </form-item>
          </div>
        </tab-pane>
        <tab-pane name="qiniu" :label="$t('app.application.settings.qiniuStore.qiniuStore')">
          <div class="content-padding">
            <Alert type="warning">
              <div>系统默认存储文件在服务器上。如需更高速或者自己管理图片，请登陆<a href="https://portal.qiniu.com">七牛云存储官方网站</a>申请存储空间。</div>
            </Alert>
            <form-item :label="$t('app.application.settings.qiniuStore.status')">
              <i-switch name="status" v-model="settings.qiniu.status"></i-switch>
            </form-item>
            <form-item :label="$t('app.application.settings.qiniuStore.accessKey')">
              <i-input block name="accessKey" v-model="settings.qiniu.accessKey"></i-input>
            </form-item>
            <form-item :label="$t('app.application.settings.qiniuStore.secretKey')">
              <i-input block name="secretKey" v-model="settings.qiniu.secretKey"></i-input>
            </form-item>
            <form-item :label="$t('app.application.settings.qiniuStore.bucket')">
              <i-input block name="bucket" v-model="settings.qiniu.bucket"></i-input>
            </form-item>
            <form-item :label="$t('app.application.settings.qiniuStore.domain')">
              <i-input block name="domain" v-model="settings.qiniu.domain"></i-input>
            </form-item>
          </div>
        </tab-pane>
      </Tab>
    </i-form>
  </portlet>
</template>

<script>
  import hostSettingsService from '../../../../../appServices/admin/application/hostSettingsService';
  import timingService from '../../../../../appServices/common/timingService';
  import { get } from './../../../../../utils/settings';

  export default {
    name: 'HostSettting',
    data () {
      return {
        saving: false,
        loading: false,
        sendingEmail: false,
        testEmailAddress: null,
        sendingSms: false,
        testPhoneNumber: null,
        testSmsTemplateParams: '{"code": "1234"}',
        timezoneItems: [],
        settings: {
          general: {},
          sms: {},
          security: {
            defaultPasswordComplexity: {},
            passwordComplexity: {}
          },
          userManagement: {},
          tenantManagement: {},
          email: {},
          qiniu: {}
        }
      };
    },
    methods: {
      sendTestEmail () {
        this.sendingEmail = true;
        hostSettingsService.sendTestEmail({
          emailAddress: this.testEmailAddress
        }).then(() => {
          this.$Notify.success(this.$t('TestEmailSentSuccessfully'));
        }).finally(() => {
          this.sendingEmail = false;
        });
      },
      sendTestSms () {
        this.sendingSms = true;
        hostSettingsService.sendTestSms({
          phoneNumber: this.testPhoneNumber,
          templateParams: this.testSmsTemplateParams
        }).then(() => {
            this.$Notify.success(this.$t('TestSmsSentSuccessfully'));
        }).finally(() => {
          this.sendingSms = false;
        });
      },
      fetchData () {
        this.loading = true;
        timingService.getTimezoneComboboxItems({
          defaultTimezoneScope: 2,
          selectedTimezoneId: get('Abp.Timing.TimeZone')
        }).then((result) => {
          this.timezoneItems = result;
        });
        hostSettingsService.getAllSettings().then((result) => {
          this.settings = result;
        }).finally(() => {
          this.loading = false;
        });
      },
      save () {
        this.saving = true;
        hostSettingsService.updateAllSettings(this.settings).then(() => {
            this.$Message.success(this.$t('app.common.message.successfullySaved'));
        }).finally(() => {
          this.saving = false;
        });
      }
    },
    mounted () {
      this.fetchData();
    }
  };
</script>
