<template>
  <portlet>
    <i-form :label-width="150" v-loading="loading" mask>
      <div class="clearfix">
        <div class="pull-right">
          <i-button :loading="saving" border circle icon="save" @click="save" scene="primary">{{$t("app.common.action.save")}}</i-button>
        </div>
      </div>
      <Tab :animated="false">
        <tab-pane name="UserManagement" :label="$t('app.application.settings.tenant.userManagement.userManagement')">
          <div class="content-padding">
            <form-item :label="$t('app.application.settings.tenant.userManagement.allowSelfRegistration')">
              <i-switch name="allowSelfRegistration" v-model="settings.userManagement.allowSelfRegistration"></i-switch>
              <p slot="help">{{$t("app.application.settings.tenant.userManagement.allowUsersToRegisterThemselves_Hint")}}</p>
            </form-item>
            <form-item :label="$t('app.application.settings.tenant.userManagement.newRegisteredUsersIsActiveByDefault')">
              <i-switch name="isNewRegisteredUserActiveByDefault" v-model="settings.userManagement.isNewRegisteredUserActiveByDefault"></i-switch>
              <p slot="help">{{$t("app.application.settings.tenant.userManagement.newRegisteredUsersIsActiveByDefault_Hint")}}</p>
            </form-item>
            <form-item :label="$t('app.application.settings.tenant.userManagement.useCaptchaOnRegistration')">
              <i-switch name="useCaptchaOnRegistration" v-model="settings.userManagement.useCaptchaOnRegistration"></i-switch>
              <p slot="help">{{$t("app.application.settings.tenant.userManagement.newRegisteredUsersIsActiveByDefault_Hint")}}</p>
            </form-item>
            <form-item :label="$t('app.application.settings.tenant.userManagement.isEmailConfirmationRequiredForLogin')">
              <i-switch name="isEmailConfirmationRequiredForLogin" v-model="settings.userManagement.isEmailConfirmationRequiredForLogin"></i-switch>
            </form-item>
          </div>
        </tab-pane>
        <tab-pane name="Spread" :label="$t('app.application.settings.tenant.spread.spread')">
          <div class="content-padding">
            <form-item :label="$t('app.application.settings.tenant.spread.maxManualBindCount')">
              <i-input type="number" min="0" name="maxManualBindCount" v-model="settings.spread.maxManualBindCount"></i-input>
              <p slot="help">
                {{$t('app.application.settings.tenant.spread.maxManualBindCount')}}
              </p>
            </form-item>
            <form-item :label="$t('app.application.settings.tenant.spread.upgradeOrderMoney')">
              <i-input type="number" min="0" name="upgradeOrderMoney" v-model="settings.spread.upgradeOrderMoney"></i-input>
              <p slot="help">
                单笔订单金额达到该数后用户自动升级为{{$t('app.application.settings.tenant.spread.spreader')}}。
              </p>
            </form-item>
            <form-item :label="$t('app.application.settings.tenant.spread.newCustomerScoreAward')">
              <i-input type="number" min="0" name="newCustomerScoreAward" v-model="settings.spread.newCustomerScoreAward"></i-input>
              <p>有新客户加入后推广人员增加积分。</p>
            </form-item>
            <form-item :label="$t('app.application.settings.tenant.spread.mustBeSpreaderForSpread')">
              <i-switch name="mustBeSpreaderForSpread" v-model="settings.spread.mustBeSpreaderForSpread"></i-switch>
              <p slot="help">用户必须成为推广者后才能获取推广海报绑定上下级关系。</p>
            </form-item>
          </div>
        </tab-pane>
        <tab-pane name="Wallet" :label="$t('app.application.settings.tenant.wallet.wallet')">
          <div class="content-padding">
            <form-item :label="$t('app.application.settings.tenant.wallet.autoWithdraw')">
              <i-switch name="autoWithdraw" v-model="settings.wallet.autoWithdraw"></i-switch>
              <p slot="help">当用户收到返利时候自动申请提现钱包余额。</p>
            </form-item>
            <form-item :label="$t('app.application.settings.tenant.wallet.needFinanceAccountForWithdraw')">
              <i-switch name="needFinanceAccountForWithdraw" v-model="settings.wallet.needFinanceAccountForWithdraw"></i-switch>
              <p slot="help">提现需要填写账户信息。如需人工后台通过支付宝或者银行卡给用户提现打款，需要用户填写账户信息。</p>
            </form-item>
            <form-item :label="$t('app.application.settings.tenant.wallet.autoPayForWithdraw')">
              <i-switch name="autoPayForWithdraw" v-model="settings.wallet.autoPayForWithdraw"></i-switch>
              <p slot="help">当用户提交提现申请后自动打款。该功能需要商家开通微信商户平台的企业付款功能，并保证企业付款余额充足。</p>
            </form-item>
            <form-item :label="$t('app.application.settings.tenant.wallet.defaultWithdrawMethod')">
              <RadioGroup v-model="settings.wallet.defaultWithdrawMethod">
                <Radio :value="defaultWithdrawMethod.value"
                       v-for="defaultWithdrawMethod in defaultWithdrawMethods"
                       :key="defaultWithdrawMethod.value">{{defaultWithdrawMethod.name}}</Radio>
              </RadioGroup>
            </form-item>
          </div>
        </tab-pane>
        <tab-pane name="Order" :label="$t('app.application.settings.tenant.order.order')">
          <div class="content-padding">
            <form-item :label="$t('app.application.settings.tenant.order.decreaseStockWhen')">
              <RadioGroup v-model="settings.order.decreaseStockWhen">
                <Radio :value="decreaseStockWhen.value"
                       v-for="decreaseStockWhen in decreaseStockWhens" :key="decreaseStockWhen.value">{{decreaseStockWhen.name}}</Radio>
              </RadioGroup>
            </form-item>
            <form-item :label="$t('app.application.settings.tenant.order.shouldHasParentForBuy')">
              <i-switch name="shouldHasParentForBuy" v-model="settings.order.shouldHasParentForBuy"></i-switch>
            </form-item>
            <form-item :label="$t('app.application.settings.tenant.order.rebateGuarantee')">
              <i-switch name="rebateGuarantee" v-model="settings.order.rebateGuarantee"></i-switch>
              <p slot="help">开启返利担保后, 用户付款后上级返利处于冻结状态，用户收货后付款解冻。</p>
            </form-item>
            <form-item :label="$t('app.application.settings.tenant.order.distributionWhen')">
              <RadioGroup v-model="settings.order.distributionWhen">
                <Radio :value="distributionWhen.value" v-for="distributionWhen in distributionWhens" :key="distributionWhen.value">{{distributionWhen.name}}</Radio>
              </RadioGroup>
            </form-item>
            <form-item :label="$t('app.application.settings.tenant.order.autoReceiveLimit')">
              <i-input type="number" min="0" name="autoReceiveLimit" v-model="settings.order.autoReceiveLimit"></i-input>
              <p slot="help">单位为秒。店家发货后，订单自动收货的时间。</p>
            </form-item>
          </div>
        </tab-pane>
      </Tab>
    </i-form>
  </portlet>
</template>

<script>
  import tenantSettingsService from '../../../../../appServices/admin/application/tenantSettingsService';

  export default {
    components: {
    },
    name: 'TenantSettting',
    data () {
      return {
        saving: false,
        loading: false,
        distributionWhens: [
          {
            name: '创建',
            value: 'Create'
          },
          {
            name: '审核通过',
            value: 'Passed'
          },
          {
            name: '支付',
            value: 'Payed'
          },
          {
            name: '完成',
            value: 'Complete'
          }
        ],
        decreaseStockWhens: [
          {
            name: '创建',
            value: 'Create'
          },
          {
            name: '支付',
            value: 'Pay'
          }
        ],
        defaultWithdrawMethods: [
          {
            name: '微信企业支付',
            value: 'WeixinQiyePay'
          },
          {
            name: '微信红包',
            value: 'WeixinRedPack'
          },
          {
            name: '人工',
            value: 'Manual'
          }
        ],
        settings: {
          userManagement: {},
          email: {},
          spread: {},
          order: {},
          wallet: {}
        }
      };
    },
    methods: {
      fetchData () {
        this.loading = true;
        tenantSettingsService.getAllSettings().then((result) => {
          this.settings = result;
        }).finally(() => {
          this.loading = false;
        });
      },
      save () {
        this.saving = true;
        tenantSettingsService.updateAllSettings(this.settings).then(() => {
          this.$Message.success(this.$t('app.common.message.successfullySaved'));
        }).finally(() => {
          this.saving = false;
        });
      }
    },
    mounted () {
      this.fetchData();
    }
  };
</script>
