<template>
  <div>
    host
  </div>
</template>

<script>
  export default {
    components: {},
    name: 'DashboardHost',
    data () {
      return {
      };
    },
    methods: {
      initialize () {
      }
    },
    beforeRouteEnter (to, from, next) {
      next((vm) => {
        vm.initialize();
      });
    },
    beforeRouteLeave (to, from, next) {
      if (this.timer) {
        clearInterval(this.timer);
      }
      next();
    },
    beforeDestroy () {
      if (this.timer) {
        clearInterval(this.timer);
      }
    },
    mounted () {
    }
  };
</script>
