<template>
  <section class="login-providers">
    <section-title class="login-provider-title">
      <h6>{{$t('app.loginProvider.title')}}</h6>
    </section-title>
    <ul class="login-provider-list">
      <li @click="handleLoginProviderClick(authenticationScheme)"
          :key="index"
          v-for="(authenticationScheme, index) in authenticationSchemes">
        <Icon class="login-provider-icon" :type="authenticationScheme.displayName.toLocaleLowerCase()"></Icon>
        <label class="login-provider-name">{{authenticationScheme.displayName}}</label>
      </li>
    </ul>
  </section>
</template>

<script>
  import authorization from '../../../system/authorization/index';

  export default {
    name: 'LoginProvider',
    props: {
      authenticationSchemes: {
        type: Array,
        default () {
          return [];
        }
      }
    },
    methods: {
      handleLoginProviderClick (authenticationScheme) {
        authorization.externalLogin(authenticationScheme);
      }
    }
  };
</script>

<style lang="scss">
  @import "../../../../node_modules/canknow/src/scss/variables";
  .login-providers {
    .login-provider-title {
      h6 {
        font-size: $font-size;
      }
    }
    .login-provider-list {
      list-style: none;
      padding-left: 0;
      text-align: center;
      li {
        display: inline-block;
        text-align: center;
        &:not(:last-child) {
          margin-right: $component-span;
        }
        .login-provider-icon {
          display: block;
          border-radius: 50%;
          margin-bottom: $component-span;
        }
        .login-provider-name {
          display: block;
          color: $sub-color;
        }
      }
    }
  }
</style>
