<template>
  <div class="center-block">
    login redirecting
  </div>
</template>
<script>
  import authorization from '../../../../application/authorization';

  export default {
    name: 'Author',
    data () {
      return {
      };
    },
    created () {
      if (!authorization.isAuthorized()) {
        this.$router.push({ path: '/account/login' });
      }
    }
  };
</script>
