<template>
  <portlet icon="lock" :title="$t('app.application.password.changePassword')">
    <i-form :model="data" :rules="rules" ref="form" :label-width="150">
      <form-item :label="$t('app.application.password.currentPassword')" prop="currentPassword">
        <i-input block type="password" v-model="data.currentPassword" :placeholder="$t('app.application.password.currentPassword')"></i-input>
      </form-item>
      <form-item :label="$t('app.application.password.newPassword')" prop="newPassword">
        <i-input block type="password" v-model="data.newPassword" :placeholder="$t('app.application.password.newPassword')"></i-input>
      </form-item>
      <form-item :label="$t('app.application.password.passwordRepeat')" prop="repassword">
        <i-input block type="password" v-model="data.repassword" :placeholder="$t('app.application.password.passwordRepeat')"></i-input>
      </form-item>
      <form-item>
        <i-button border circle scene="primary" @click="save" icon="save" :loading="saving">{{$t('app.common.action.save')}}</i-button>
      </form-item>
    </i-form>
  </portlet>
</template>

<script>
  import profileService from '../../../../appServices/public/authorization/profileService';

  export default {
    components: {

    },
    name: 'ChangePassword',
    data () {
      const validRePassword = (rule, value, callback) => {
        if (value !== this.user.password) {
          callback(new Error('两次输入密码不一致!'));
        }
        else {
          callback();
        }
      };
      return {
        validRePassword,
        saving: false,
        data: {
          currentPassword: null,
          newPassword: null,
          repassword: null
        },
        rules: {
          currentPassword: [
            { required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.application.password.currentPassword') }) }
          ],
          newPassword: [
            { required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.application.password.newPassword') }) }
          ],
          repassword: [
            { required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.application.password.passwordRepeat') }) },
            { validator: this.validRePassword, trigger: 'change' }
          ]
        }
      };
    },
    methods: {
      save () {
        this.$refs.form.validate((valid) => {
          if (valid) {
            this.saving = true;
            profileService.changePassword(this.data).then(() => {
                this.$Notify.info(this.$t('YourPasswordHasChangedSuccessfully'));
            }).finally(() => {
              this.saving = false;
            });
          }
        });
      }
    },
    mounted () {

    }
  };
</script>
