<template>
  <div class="container flex-vertical flex-middle flex-center height-full">
    <Row>
      <Column :md="8" :offset="8">
        <div>
          <h3>
            {{$t('app.application.forgotPassword.forgotPassword')}}
          </h3>
          <p>
            {{$t('app.application.forgotPassword.sendPasswordResetLinkInformation')}}
          </p>
          <i-form :model="data" :rules="rules" ref="form">
            <form-item prop="emailAddress">
              <i-input block type="email" name="emailAddress" v-model="data.emailAddress" :placeholder="$t('app.common.property.emailAddress')"></i-input>
            </form-item>
            <i-button border circle scene="primary" @click="save" :loading="saving">{{$t('app.common.action.submit')}}</i-button>
          </i-form>
        </div>
      </Column>
    </Row>
  </div>
</template>

<script>
  import accountService from '../../../../appServices/public/authorization/accountService';

  export default {
    components: {},
    name: 'ForgetPassword',
    data () {
      return {
        saving: false,
        data: {
          emailAddress: null
        },
        rules: {
          emailAddress: [
            { required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.common.property.emailAddress') }) }
          ]
        }
      };
    },
    methods: {
      save () {
        this.$refs.form.validate((valid) => {
          if (valid) {
            this.saving = true;
            accountService.sendPasswordResetCode(this.data).then(() => {
              this.$Message.success(this.$t('app.application.forgetPassword.successfullyPasswordReset'));
              this.$router.to('/account/login');
            }).finally(() => {
              this.saving = false;
            });
          }
        });
      }
    },
    mounted () {

    }
  };
</script>
