@import "../../../../../node_modules/canknow/src/scss/variables";
.login-page{
  background-image: url(../../../../assets/images/login_bg.png);
  padding: 0 $content-padding;
  .login-box{
    padding: $content-padding;
    background: #fff;
    border-radius: $component-size-small;
  }
}
