<template>
  <div class="login-page flex-vertical flex-center flex-middle">
    <div class="login-banner-box">
    </div>
    <row>
      <column :md="8" :offset="8" class="login-box">
        <img class="login-logo" src="../../../../assets/images/title-logo.png">
        <i-form type="vertical" class="login-form" ref="loginForm" :model="loginData" :rules="loginRules">
          <form-item prop="tenancyName" v-if="showTenancyName">
            <i-input block line front-icon="tenant" name="tenancyName" size="large" v-model="loginData.tenancyName"
                     :placeholder="$t('core.placeholder', { 0: $t('app.common.property.tenancyName')})"></i-input>
          </form-item>
          <form-item prop="usernameOrEmailAddress">
            <i-input block front-icon="user" ref="usernameOrEmailAddressInput" name="usernameOrEmailAddress"
                     size="large" v-model="loginData.usernameOrEmailAddress" line
                     :placeholder="$t('core.placeholder', { 0: $t('app.common.property.userName')})"></i-input>
          </form-item>
          <form-item prop="password">
            <i-input block front-icon="lock" name="password" type="password" size="large"
                     v-model="loginData.password" line
                     :placeholder="$t('core.placeholder', { 0: $t('app.common.property.password')})"></i-input>
          </form-item>
          <div class="flex-horizontal align-middle margin-bottom-1">
            <div class="flex-adapter">
              <Checkbox v-model="loginData.rememberMe">{{$t('app.application.login.rememberMe')}}</Checkbox>
            </div>
            <div class="flex-adapter text-right">
              <router-link to="/account/forgetPassword">{{$t('app.application.login.forgotPassword')}}</router-link>
            </div>
          </div>
          <form-item>
            <i-button htmlType="submit" block size="large" scene="primary" small-radius @click.native.prevent="submit" v-ripple="true" :loading="loading">{{$t('app.application.login.login')}}</i-button>
          </form-item>
        </i-form>
        <!--<LoginProvider :authenticationSchemes="loginOptions.authenticationSchemes"></LoginProvider>-->
        <div class="text-center">
          <template v-if="loginOptions.isSelfRegistrationAllowed">
            <router-link to="/account/register">{{$t("app.application.login.createAnAccount")}}</router-link>
            <span class="pipe-divider"> | </span>
          </template>
          <template v-if="isTenantSelfRegistrationAllowed">
            <router-link to="/account/select-edition">{{$t("app.application.login.newTenant")}}</router-link>
            <span class="pipe-divider"> | </span>
          </template>
          <router-link to="/account/emailActivation">{{$t('app.application.emailActivation.emailActivation')}}</router-link>
        </div>
        <div>
          <Language></Language>
        </div>
      </column>
    </row>
  </div>
</template>

<script>
  import appConfig from '../../../../config/app';
  import eventBus from '../../../../utils/eventBus';
  import authorizationService from '../../../../application/authorization';
  import cookie from 'js-cookie';
  import Language from '../../components/Language';

  export default {
    components: {
      Language
    },
    name: 'Login',
    data () {
      const validateUserName = (rule, value, callback) => {
        if (!value) {
          return callback(new Error(this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.common.property.userName') })));
        }
        this.$store.dispatch('authorization/checkUserName', {
          userName: value,
          tenancyName: this.loginData.tenancyName
        }).then((result) => {
          if (result === false) {
            callback(new Error(this.$t('app.common.validate.notExist', { 0: this.$t('app.common.property.userName') })));
          }
          else {
            callback();
          }
        });
      };
      const validateTenancyName = (rule, value, callback) => {
        const paths = window.location.host.split('.');
        if (paths[0] === 'www') {
          if (!value) {
            return callback(new Error(this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.common.property.tenancyName') })));
          }
        }
        callback();
      };
      return {
        showTenancyName: true,
        loginOptions: {
          authenticationSchemes: [],
          isSelfRegistrationAllowed: false,
          tenancyName: null,
          isMultiTenancyEnabled: false
        },
        isTenantSelfRegistrationAllowed: true,
        isMultiTenancyEnabled: this.$store.state.app.multiTenancy.isEnabled,
        loading: false,
        changedTenancyName: '',
        modalShow: false,
        mode: 'login',
        loginRules: {
          tenancyName: [
            { validator: validateTenancyName, trigger: 'blur' }
          ],
          usernameOrEmailAddress: [
            { validator: validateUserName, trigger: 'blur' }
          ],
          password: [
            { required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.common.property.password') }), trigger: 'blur' },
            { type: 'string', min: 6, message: this.$t('core.validate.common.minLength', { 0: this.$t('app.common.property.password') }), trigger: 'blur' }
          ]
        },
        loginData: {
          usernameOrEmailAddress: null,
          password: null,
          tenancyName: appConfig.tenancyName,
          rememberMe: false
        }
      };
    },
    computed: {
      tenant () {
        return this.$store.state.authorization.tenant;
      }
    },
    methods: {
      fetchData () {
        this.$store.dispatch('authorization/getLoginOptions').then((result) => {
          this.loginOptions = result;
          this.loginData.tenancyName = result.tenancyName;
          if (result.tenancyName) {
            this.showTenancyName = false;
          }
        });
      },
      submit () {
        this.$refs.loginForm.validate(valid => {
          if (valid) {
            this.loading = true;
            this.$store.dispatch('authorization/login', this.loginData).then(async result => {
              sessionStorage.setItem('rememberMe', this.loginData.rememberMe ? '1' : '0');
              cookie.set('userNameOrEmailAddress', this.loginData.usernameOrEmailAddress);

              // 如果需要重新设置密码
              if (result && result.resetPassword) {
                this.$Message.success(this.$t('app.application.login.needResetPassword'));
                delete result.resetPassword;
                this.$router.push({ path: '/account/resetPassword', query: result });
                return;
              }
              await authorizationService.signIn(result.accessToken, result.tokenExpireDate);
              eventBus.$emit('onAuthor');

              if (!!localStorage.getItem('authorReturnUrl') && localStorage.getItem('authorReturnUrl') !== '/login') {
                this.$router.push({ path: localStorage.getItem('authorReturnUrl') });
              }
              else {
                this.$router.push({ path: '/admin/administration/dashboard' });
              }
            }).finally((e) => {
              this.loading = false;
            });
          }
          else {
            return false;
          }
        });
      }
    },
    mounted () {
      this.$refs.usernameOrEmailAddressInput.focus();
      this.fetchData();
    }
  };
</script>

<style lang="scss">
  @import "login";
</style>
