<template>
  <div class="container flex-vertical flex-middle flex-center height-full">
    <Row>
      <Column :md="8" :offset="8">
        <h3>
          {{$t("app.application.registerTenant.tenantSignUp")}}
        </h3>
        <div v-if="model.edition" class="hint text-center">({{$t("app.application.registerTenant.edition")}}: {{model.edition.displayName}})</div>
        <i-form ref="form" :model="model" :rules="rules">
          <h4>
            {{$t("app.application.registerTenant.tenantInformations")}}
          </h4>
          <form-item prop="tenancyName">
            <i-input block name="tenancyName"
                     size="large"
                     autoFocus
                     v-model="model.tenancyName"
                     :placeholder="$t('core.placeholder', { 0: $t('app.common.property.tenancyName')})"></i-input>
          </form-item>
          <form-item prop="name">
            <i-input block name="name"
                     size="large"
                     autoFocus
                     v-model="model.name"
                     :placeholder="$t('core.placeholder', { 0: $t('app.common.property.name')})"></i-input>
          </form-item>
          <h4 >
            {{$t("app.application.registerTenant.accountSettings")}}
          </h4>
          <form-item prop="adminEmailAddress">
            <i-input block name="adminEmailAddress"
                     size="large"
                     type="email"
                     v-model="model.adminEmailAddress"
                     :placeholder="$t('core.placeholder', { 0: $t('app.application.registerTenant.adminEmailAddress')})"></i-input>
          </form-item>
          <form-item prop="adminPassword">
            <i-input block name="adminPassword"
                     size="large"
                     type="password"
                     v-model="model.adminPassword"
                     :placeholder="$t('core.placeholder', { 0: $t('app.application.registerTenant.adminPassword')})"></i-input>
          </form-item>
          <form-item prop="repassword">
            <i-input size="large" block type="password" v-model="model.repassword" :placeholder="$t('app.application.registerTenant.passwordRepeat')"></i-input>
          </form-item>
          <form-item>
            <i-button htmlType="submit"
                      block size="large"
                      scene="primary"
                      small-radius
                      icon="upload"
                      @click.native.prevent="submit"
                      v-ripple="true"
                      :loading="submitting">{{$t('app.common.action.submit')}}</i-button>
          </form-item>
        </i-form>
      </Column>
    </Row>
  </div>
</template>

<script>
  import tenantRegistrationService from '../../../../appServices/public/tenantRegistrationService';

  export default {
    name: 'Register',
    data () {
      const validRePassword = (rule, value, callback) => {
        if (value !== this.model.adminPassword) {
          callback(new Error('两次输入密码不一致!'));
        }
        else {
          callback();
        }
      };
      return {
        validRePassword,
        submitting: false,
        passwordComplexitySetting: {

        },
        model: {
          edition: null,
          editionId: null,
          adminPassword: null,
          useCaptcha: null
        },
        rules: {
          tenancyName: [
            { required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.common.property.tenancyName') }) }
          ],
          name: [
            { required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.common.property.name') }) }
          ],
          adminEmailAddress: [
            { required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.application.registerTenant.adminEmailAddress') }) }
          ],
          adminPassword: [
            { required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.application.registerTenant.adminPassword') }) }
          ],
          repassword: [
            { required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.application.registerTenant.passwordRepeat') }) },
            { validator: this.validRePassword, trigger: 'change' }
          ]
        }
      };
    },
    methods: {
      submit () {
        this.$refs.form.validate((valid) => {
          if (valid) {
            this.submitting = true;
            tenantRegistrationService.registerTenant(this.model).then((result) => {
                this.$Notify.success(this.$t('app.application.registerTenantResult.successfullyRegistered'));
              this.$router.push({ path: '/account/register-tenant-result', query: result });
            }).finally(() => {
              this.submitting = false;
            });
          }
        });
      },
      getTenantRegistrationOptions () {
        tenantRegistrationService.getTenantRegistrationOptions().then(result => {
          this.passwordComplexitySetting = result.passwordComplexitySetting;
          this.useCaptcha = result.useCaptcha;
        });
      }
    },
    mounted () {
      this.model.editionId = this.$route.query['editionId'];
      if (this.model.editionId) {
        this.model.subscriptionStartType = this.$route.query['subscriptionStartType'];
        this.model.gateway = this.$route.query['gateway'];
        this.model.paymentId = this.$route.query['paymentId'];
      }

      // Prevent to create tenant in a tenant context
      if (this.$store.state.session.tenant != null) {
        this.$router.push('account/login');
        return;
      }
      this.getTenantRegistrationOptions();
    }
  };
</script>
