<template>
  <div class="container flex-vertical flex-middle flex-center height-full">
    <div>
      <h4>{{$t("app.application.registerTenantResult.successfullyRegistered")}}</h4>
      <ul>
        <li><span class="text-muted">{{$t('app.common.property.tenancyName')}}:</span> {{model.tenancyName}}</li>
        <li><span class="text-muted">{{$t("app.common.property.name")}}:</span> {{model.name}}</li>
        <li><span class="text-muted">{{$t("app.common.property.userName")}}:</span> {{model.userName}}</li>
        <li><span class="text-muted">{{$t("app.common.property.emailAddress")}}:</span> {{model.emailAddress}}</li>
      </ul>
      <div>
        <alert type="warn" v-if="model.isEmailConfirmationRequired">
          {{$t("app.application.registerTenantResult.confirmationMailSentPleaseClickLinkInTheEmail", { 0: model.emailAddress })}}
        </alert>
        <alert scene="warn" v-if="!model.isActive">
          {{$t("app.application.registerTenantResult.yourAccountIsWaitingToBeActivatedByAdmin")}}
        </alert>
        <alert scene="info" v-if="tenantUrl">
          {{$t("app.application.registerTenantResult.tenantRegistrationLoginInfo")}}<br />
          <a :href="tenantUrl">{{tenantUrl}}</a>
        </alert>
      </div>
    </div>
  </div>
</template>

<script>
  import appUrlService from '../../../../application/common/AppUrlService';

  export default {
    name: 'RegisterTenantResult',
    data () {
      return {
        tenantUrl: null,
        model: {

        }
      };
    },
    mounted () {
      this.model = this.$route.query;
      if (!this.model) {
        this.$router.to('account/login');
      }
      this.tenantUrl = appUrlService.getAppRootUrlOfTenant(this.model.tenancyName);
    }
  };
</script>
