<template>
  <div class="height-full flex-horizontal flex-center flex-middle" v-if="editionsSelectOutput">
    <div class="price-table">
      <div class="price-table-item" v-for="editionWithFeatures in editionsSelectOutput.editionsWithFeatures">
        <div>
          <h2 class="price-table-item-title">{{editionWithFeatures.edition.displayName}}</h2>
          <h2 class="price-table-item-free-bar" v-if="isFree(editionWithFeatures.edition)">{{$t("app.common.property.free")}}</h2>
          <h2 class="price-table-item-price-bar" v-else>
            <span class="price-table-item-price-sign">$</span>
            <span class="price-table-item-price-value">{{editionWithFeatures.edition.monthlyPrice}}</span>
            <span class="price-table-item-price-per"> /{{$t("app.common.property.perMonth")}}</span>
            <span class="price-table-item-price-sign">$</span>
            <span class="price-table-item-price-value">{{editionWithFeatures.edition.annualPrice}}</span>
            <span class="price-table-item-price-per"> /{{$t("app.common.property.perYear")}}</span>
          </h2>

          <div class="price-table-item-features">
            <div class="price-table-item-feature" v-for="feature in editionsSelectOutput.allFeatures">
              <template v-if="isTrueFalseFeature(feature)">
                <label>
                  <icon type="success-circle" v-if="featureEnabledForEdition(feature,editionWithFeatures)"></icon>
                  <icon type="loading" v-else></icon>
                </label>
                <label>{{feature.displayName}}</label>
              </template>
              <template v-else>
                <icon type="success-circle"></icon>
                <label v-if="!isTrueFalseFeature(feature)">{{feature.displayName}}:{{getFeatureValueForEdition(feature,editionWithFeatures)}}</label>
              </template>
            </div>
          </div>
          <div class="price-table-item-footer text-right">

            <i-button
              border circle
              size="large"
              scene="warn"
              @click="upgrade(editionWithFeatures.edition, editionPaymentType.Upgrade)"
              v-if="isUserLoggedIn"
              :disabled="!canUpgrade(editionWithFeatures.edition)">
              {{$t("app.common.action.upgrade")}}
            </i-button>

            <router-link
              v-if="!isUserLoggedIn && isFree(editionWithFeatures.edition)"
              :to="{path: '/account/register-tenant', query: {editionId: editionWithFeatures.edition.id, subscriptionStartType: subscriptionStartType.Free} }">
              <i-button border circle size="large">
                {{$t("app.common.action.start")}}
              </i-button>
            </router-link>

            <router-link
              v-if="!isUserLoggedIn && !isFree(editionWithFeatures.edition) && editionWithFeatures.edition.trialDayCount"
              :to="{path: '/account/register-tenant', query: {editionId: editionWithFeatures.edition.id, subscriptionStartType: subscriptionStartType.Trial}}">
              <i-button border circle size="large">
                {{$t("app.common.action.freeTrial")}}
              </i-button>
            </router-link>

            <router-link
              v-if="!isUserLoggedIn && !isFree(editionWithFeatures.edition)"
              :to="{path: '/account/buy', query: {editionId: editionWithFeatures.edition.id, editionPaymentType: editionPaymentType.NewRegistration, subscriptionStartType: subscriptionStartType.Paid}}">
              <i-button border circle size="large">
                {{$t("app.common.action.buyNow")}}
              </i-button>
            </router-link>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import tenantRegistrationService from '../../../../appServices/public/tenantRegistrationService';
  import SubscriptionStartType from '../../../../application/edition/SubscriptionStartType';
  import EditionPaymentType from '../../../../application/edition/EditionPaymentType';
  import authorization from '../../../../application/authorization';

  export default {
    name: 'SelectEdition',
    data () {
      return {
        isUserLoggedIn: false,
        editionsSelectOutput: null,
        editionPaymentType: EditionPaymentType,
        subscriptionStartType: SubscriptionStartType
      };
    },
    methods: {
      isFree (edition) {
        return !edition.monthlyPrice && !edition.annualPrice;
      },
      isTrueFalseFeature (feature) {
        return feature.inputType.name === 'CHECKBOX';
      },
      featureEnabledForEdition (feature, edition) {
        const featureValues = edition.featureValues.filter((item) => {
          return item.name === feature.name;
        });
        if (!featureValues || featureValues.length <= 0) {
          return false;
        }
        const featureValue = featureValues[0];
        return featureValue.value.toLowerCase() === 'true';
      },
      getFeatureValueForEdition (feature, edition) {
        const featureValues = edition.featureValues.filter((item) => {
          return item.name === feature.name;
        });
        if (!featureValues || featureValues.length <= 0) {
          return '';
        }
        const featureValue = featureValues[0];
        return featureValue.value;
      },
      canUpgrade (edition) {
        if (this.$store.state.session.tenant.edition.id === edition.id) {
          return false;
        }
        const currentMonthlyPrice = this.$store.state.session.tenant.edition.monthlyPrice
          ? this.$store.state.session.tenant.edition.monthlyPrice
          : 0;

        const targetMonthlyPrice = edition && edition.monthlyPrice ? edition.monthlyPrice : 0;

        return this.isUserLoggedIn &&
          this.$store.state.session.tenant.edition &&
          currentMonthlyPrice <= targetMonthlyPrice;
      },
      upgradeIsFree (upgradeEdition) {
        if (!this.$store.state.session.tenant || !this.$store.state.session.tenant.edition) {
          return false;
        }

        const bothEditionsAreFree = this.$store.state.session.tenant.edition.isFree && upgradeEdition.isFree;

        const bothEditionsHasSamePrice = !upgradeEdition.isFree &&
          upgradeEdition.monthlyPrice === this.$store.state.session.tenant.edition.monthlyPrice &&
          upgradeEdition.annualPrice === this.$store.state.session.tenant.edition.annualPrice;

        return bothEditionsAreFree || bothEditionsHasSamePrice;
      },
      upgrade (upgradeEdition, editionPaymentType) {
      },
      fetchData () {
        const _this = this;
        tenantRegistrationService.getEditionsForSelect().then((result) => {
          _this.editionsSelectOutput = result;
          if (!_this.editionsSelectOutput.editionsWithFeatures || _this.editionsSelectOutput.editionsWithFeatures.length <= 0) {
            _this.$router.to('/account/register-tenant');
          }
        });
      }
    },
    mounted () {
      this.isUserLoggedIn = authorization.isAuthorized();
      this.fetchData();
    }
  };
</script>
