<template>
  <portlet :title="$t('app.application.loginAttempt.loginAttempt')">
    <div class="margin-bottom-1">
      <i-table class="data-table"
               :data="data"
               highlight-current-row
               border>
        <table-column width="200" prop="userNameOrEmailAddress" :label="$t('app.application.loginAttempt.userNameOrEmailAddress')"   show-overflow-tooltip></table-column>
        <table-column min-width="200" prop="browserInfo" :label="$t('app.application.loginAttempt.browserInfo')" show-overflow-tooltip></table-column>
        <table-column min-width="100" prop="clientName" :label="$t('app.application.loginAttempt.clientName')" show-overflow-tooltip></table-column>
        <table-column min-width="100" prop="clientIpAddress" :label="$t('app.application.loginAttempt.clientIpAddress')" show-overflow-tooltip></table-column>
        <table-column min-width="150" :label="$t('app.common.property.result')" show-overflow-tooltip>
          <template scope="scope">
            <i-label scene="success" border fill v-if="scope.row.result">{{$t('app.common.status.success')}}</i-label>
            <i-label scene="danger" border fill v-else>{{$t('app.common.status.fail')}}</i-label>
          </template>
        </table-column>
        <table-column width="150" :label="$t('app.common.property.creationTime')">
          <template scope="scope">
            {{scope.row.creationTime | momentFormat}}
          </template>
        </table-column>
      </i-table>
    </div>
    <pagination @on-change="handlePageChange"
                show-elevator
                :current="fetchParam.pageIndex"
                :page-size="fetchParam.pageSize"
                :total="totalCount">
    </pagination>
  </portlet>
</template>

<script>
  import userLoginAttemptService from '../../../../appServices/public/authorization/userLoginAttemptService';

  export default {
    components: {},
    name: 'UserLoginAttempt',
    data () {
      return {
        loadingData: false,
        data: [],
        totalCount: 0,
        fetchParam: {
          pageIndex: 1,
          pageSize: 5
        }
      };
    },
    methods: {
      handlePageChange (pageIndex) {
        this.fetchParam.pageIndex = pageIndex;
        this.fetchData();
      },
      handleSizeChange (val) {
        this.fetchParam.pageSize = val;
        this.fetchData();
      },
      async fetchData () {
        try {
          this.loadingData = true;
          let result = await userLoginAttemptService.getAll(this.fetchParam);
          this.data = result.items;
          this.totalCount = result.totalCount;
        }
        finally {
          this.loadingData = false;
        }
      }
    },
    mounted () {
      this.fetchData();
    }
  };
</script>
