<template>
  <portlet :title="$t('core.crud.createOrEdit', { 0: '推广海报' })">
    <div v-loading="loading" mask>
      <Row>
        <column :span="16" class="content-padding">
          <i-form :model="model" :rules="rules" ref="form" :label-width="100">
            <form-item :label="$t('app.common.property.name')" prop="name">
              <i-input block v-model="model.name"></i-input>
            </form-item>
            <form-item :label="$t('app.common.property.template')" prop="template">
              <PictureUploader v-model="model.template"></PictureUploader>
              <p slot="help">
                最佳尺寸:640 x 960 像素。
              </p>
            </form-item>
            <form-item label="参数">
              <i-table class="margin-bottom-1" :data="model.parameters" style="width: 100%">
                <table-column label="名称" width="150">
                  <template scope="scope">
                    {{$t(`app.application.spreadPosterTemplate.parameters.${scope.row.displayName.toCamelCase()}`)}}
                  </template>
                </table-column>
                <table-column label="字体">
                  <table-column label="字体大小">
                    <template scope="scope">
                      <i-input v-if="scope.row.type===0" block type="number" min="0" v-model="scope.row.fontStyle.size"></i-input>
                    </template>
                  </table-column>
                  <table-column label="字体颜色">
                    <template scope="scope">
                      <i-input v-if="scope.row.type===0" block type="color" v-model="scope.row.fontStyle.color"></i-input>
                    </template>
                  </table-column>
                </table-column>
                <table-column label="动作">
                  <template scope="scope">
                    <i-button border radius scene="danger" @click="deleteParameter(scope.row, scope.$index)">移除</i-button>
                  </template>
                </table-column>
              </i-table>
              <div class="">
                <i-button class="margin-right-0-5"
                          border
                          circle
                          v-for="(parameterType, index) in parameterTypes"
                          :key="index"
                          v-if="isShowParameterType(parameterType)"
                          @click="addParameter(parameterType)">{{$t(`app.application.spreadPosterTemplate.parameters.${parameterType.name.toCamelCase()}`)}}</i-button>
              </div>
            </form-item>
            <form-item>
              <i-button border circle icon="save" scene="primary" @click="save">{{$t('app.common.action.save')}}</i-button>
            </form-item>
          </i-form>
        </column>
        <column :span="8" class="content-padding">
          <TemplateEditor :picture="model.template"
                          ref="templateEditor"
                          @inputParameters="handleInputParameters"
                          :parameters="model.parameters"></TemplateEditor>
        </column>
      </Row>
    </div>
  </portlet>
</template>

<script>
  import spreadPosterTemplateService from '../../../../../appServices/admin/application/spreadPosterTemplateService';
  import TemplateEditor from '../pictureTemplate/TemplateEditor';
  import PictureTemplateParameterTypeSelector from '../pictureTemplate/PictureTemplateParameterTypeSelector';
  import parameterTypes from '../pictureTemplate/parameterTypes';

  export default {
    components: {
      PictureTemplateParameterTypeSelector,
      TemplateEditor
    },
    name: 'SpreadPosterTemplateCreateOrUpdate',
    data () {
      return {
        id: null,
        loading: false,
        parameterTypes,
        model: {
          parameters: []
        },
        rules: {
          name: [
            { required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.common.property.name') }) }
          ],
          template: [
            { required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.common.property.template') }) }
          ]
        }
      };
    },
    methods: {
      isShowParameterType (parameterType) {
        const check = this.model.parameters.find((parameter) => {
          if (parameterType.value === parameter.name) {
            return true;
          }
        });
        return !check;
      },
      addParameter (parameterType) {
        const parameter = {
          fontStyle: {
            size: 24,
            fontFamily: '',
            color: 'black'
          },
          coordinate: {
            startX: 100,
            startY: 100,
            width: 100,
            height: 100
          }
        };
        parameter.name = parameterType.value;
        parameter.demoText = parameterType.demoText;
        parameter.demoPicture = parameterType.demoPicture;
        parameter.displayName = parameterType.name;
        parameter.type = parameterType.type;

        switch (parameterType.value) {
          case 'nickName':
            parameter.fontStyle = {
              size: 24
            };
            break;
        }
        if (!this.model.parameters) {
          this.model.parameters = [];
        }
        this.model.parameters.push(parameter);
        this.$refs.templateEditor.update();
      },
      handleInputParameters (value) {
        this.model.parameters = value;
      },
      deleteParameter (parameter, index) {
        this.model.parameters.splice(index, 1);
        this.$refs.templateEditor.update();
      },
      getSpreadPosterTemplateForCreateOrEdit () {
        this.loading = true;
        spreadPosterTemplateService.getSpreadPosterTemplateForCreateOrEdit({
          id: this.id
        }).then((result) => {
          result.parameters = result.parameters || [];
          this.model = result;
        }).finally(() => {
          this.loading = false;
        });
      },
      save () {
        this.$refs.form.validate((valid) => {
          if (valid) {
            spreadPosterTemplateService.createOrEdit(this.model).then(() => {
              this.$Message.success('app.common.message.successfullySaved');
              this.$router.push({ path: 'index' });
            });
          }
        });
      }
    },
    created () {
      this.id = this.$route.query.id;
      this.getSpreadPosterTemplateForCreateOrEdit();
    }
  };
</script>
