<template>
  <portlet>
    <div class="clearfix margin-bottom-1">
      <div class="pull-right">
        <i-button border radius scene="primary" icon="add" @click="handleCreate">{{$t('app.common.action.create')}}</i-button>
      </div>
    </div>
    <div class="margin-bottom-1">
      <i-table :data="items"
               :fit="true"
               v-loading="loading"
               border>
        <table-column :label="$t('app.common.property.name')">
          <template scope="scope">{{scope.row.name}}</template>
        </table-column>
        <table-column :label="$t('app.common.property.template')">
          <template scope="scope">
            <i-image height="32" :src="scope.row.template"></i-image>
          </template>
        </table-column>
        <table-column
          min-width="120"
          :label="$t('app.common.property.isDefault')">
          <template scope="scope">
            <i-switch v-model="scope.row.isDefault" @on-change="handleDefaultChange(scope.row)"></i-switch>
          </template>
        </table-column>
        <table-column
          min-width="120"
          :label="$t('app.common.property.status')">
          <template scope="scope">
            <i-switch v-model="scope.row.status" @on-change="handleStatusChange(scope.row)"></i-switch>
          </template>
        </table-column>
        <table-column :label="$t('app.common.property.creationTime')">
          <template scope="scope">
            {{scope.row.creationTime | momentFormat}}
          </template>
        </table-column>
        <table-column :label="$t('app.common.action.actions')">
          <template scope="scope">
            <i-button border radius scene="primary" @click="edit(scope.row)">{{$t('app.common.action.edit')}}</i-button>
            <i-button border radius scene="danger" @click="deleteItem(scope.row)">{{$t('app.common.action.delete')}}</i-button>
          </template>
        </table-column>
      </i-table>
    </div>
    <Pagination :current="filterParams.pageIndex" :total="totalCount" :page-size="filterParams.pageSize" show-elevator @on-change="handlePageChange"></pagination>
  </portlet>
</template>

<script>
    import spreadPosterTemplateService from '../../../../../appServices/admin/application/spreadPosterTemplateService';
    import CommonList from '../../../../mixins/CommonList';

    export default {
        name: 'PictureTemplateIndex',
        mixins: [CommonList],
        data () {
            return {
                api: spreadPosterTemplateService,
            };
        },
        methods: {
            handleDefaultChange (item) {
                spreadPosterTemplateService.setAsDefault({ id: item.id }).then((result) => {
                    this.items.forEach((item) => {
                        if (item !== item) {
                            this.$set(item, 'isDefault', false);
                        }
                    });
                }, () => {
                    item.isDefault = false;
                });
            },
            handleStatusChange (item) {
                spreadPosterTemplateService.toggleStatus({ id: item.id }).then((result) => {
                }, () => {
                    item.status = !item.status;
                });
            },
            handleCreate () {
                this.$router.push({ path: 'createOrUpdate' });
            },
            edit (spreadPosterTemplate) {
                this.$router.push({ path: 'createOrUpdate', query: { id: spreadPosterTemplate.id } });
            }
        }
    };
</script>
