<template>
  <div class="auction-record-item" :key="model.id" @click="handleClick">
    <div class="auction-record-left">
      <i-image width="48" height="48" :src="model.shot|filePath"></i-image>
    </div>
    <div class="auction-record-right">
      <div class="auction-record-header">
        <i-image class="auction-record-user-avatar" :src="model.user.avatar|filePath"></i-image>
        <span class="auction-record-full-name">{{model.bid.fullName}}</span>
        <span class="flex-adapter"></span>
        <span class="auction-record-win-datetime">{{model.winDateTime|momentFormat}}</span>
      </div>

      <div class="price-label">
        <span class="price-value"><span class="price-sign">¥</span>{{model.package.price}}</span>
        <i-label border
                 fill
                 scene="danger"
                 class="compensation-rule"
                 v-if="model.package.compensationRule">{{model.package.compensationRule.count}}次不中赔付{{model.package.compensationRule.money}}
        </i-label>
      </div>
      <div class="auction-record-attempt-count-block">累计代拍<span class="auction-record-attempt-count">{{model.attemptCount}}</span>次中标</div>
    </div>
  </div>
</template>

<script>
    export default {
        name: 'AuctionRecordItem',
        props: {
            model: {
                type: Object,
                default () {
                    return {};
                }
            }
        },
        methods: {
            handleClick () {
                this.$emit('click', this.model);
            }
        }
    };
</script>

<style lang="scss">
  @import "~canknow-ui-core/src/scss/variables";
  .auction-record-item {
    display: flex;
    position: relative;
    background: #fff;
    padding: $content-padding;
    border-radius: $border-radius;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

    .auction-record-left {
      margin-right: $component-span;
    }
    .auction-record-right {
      flex: 1;
      position: relative;

      .auction-record-attempt-count-block {
        font-size: $font-size-small;
        color: $sub-color;
      }
      .auction-record-attempt-count {
        font-weight: bold;
        color: $title-color;
      }

      .auction-record-header {
        display: flex;
        align-items: center;
        .auction-record-user-avatar {
          width: $component-size-small;
          border-radius: 50%;
          margin-right: $text-span;
        }
        .auction-record-full-name {

        }
        .auction-record-win-datetime {
          font-size: $font-size-small;
          color: $sub-color;
        }
      }
      .price-label {
        margin-bottom: $text-span;
        display: flex;
        align-items: center;
        .price-title {
          color: $sub-color;
          font-size: $font-size-small;
          margin-right: $text-span;
        }
        .price-value {
          font-size: $font-size-large;
          color: $price-color;
          margin-right: $component-span;
        }
      }
      .deal-count-label {
        .deal-count-title {
          color: $sub-color;
          font-size: $font-size-small;
          margin-right: $text-span;
        }
        .deal-count-value {
          font-size: $font-size-large;
        }
      }
      .auction-button {
        position: absolute;
        right: $content-padding;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
</style>
