<template>
  <ul class="team-list list-un-styled split-list" v-if="loaded">
    <li v-for="item in items" :key="item.id">
      <auction-record-item :model="item" :is-show-auction-button="true"></auction-record-item>
    </li>
  </ul>
</template>

<script>
  import CommonList from '../../../../../mixins/CommonList';
  import auctionRecordService from './.././../../../../../appServices/admin/application/auctionRecordService';
  import AuctionRecordItem from './AuctionRecordItem';

  export default {
    name: 'AuctionRecordControl',
    components: { AuctionRecordItem },
    mixins: [CommonList],
    controlData: {
      name: 'AuctionRecordControl',
      bottomSpan: false,
      url: '',
      path: ''
    },
    props: {
      controlData: {
        type: Object,
        default () {
          return {};
        }
      }
    },
    data () {
      return {
        api: auctionRecordService
      };
    }
  };
</script>
