<template>
  <nav class="home-nav">
    <ul class="nav-list">
      <li v-for="(item, index) in controlData.items" :key="index">
        <a :href="item.url">
          <i-image class="nav-icon" :src="item.icon|filePath"></i-image>
          <label class="nav-name">{{item.name}}</label>
        </a>
      </li>
    </ul>
  </nav>
</template>

<script>
  export default {
    name: 'NavControl',
    controlData: {
      name: 'NavControl',
      bottomSpan: false,
      items: [
        {
          name: null,
          url: null,
          icon: null
        },
        {
          name: null,
          url: null,
          icon: null
        },
        {
          name: null,
          url: null,
          icon: null
        }
      ]
    },
    props: {
      controlData: {
        type: Object,
        default () {
          return {};
        }
      }
    }
  };
</script>
<style lang="scss">
  @import "~canknow/src/scss/variables";
  @import "~canknow-ui-core/src/scss/mixins/flex";
  .home-nav {
    padding: $content-padding;
    background: #fff;

    .nav-list {
      list-style-type: none;
      padding-left: 0;
      @include flex-horizontal-align-center;

      li {
        @include flex-adapter;
        text-align: center;

        .nav-icon {
          display: block;
          border-radius: 50%;
          width: $component-size-large;
          height: $component-size-large;
          margin: 0 auto $text-span;
        }

        .nav-name {
          display: block;
          color: $sub-color;
          font-size: $font-size-small;
        }
      }
    }
  }
</style>
