<template>
  <div class="notice-item" v-if="model">
    <p>{{model.title}}</p>
  </div>
</template>

<script>
    export default {
        name: 'NoticeItem',
        props: {
            model: {
                type: Object,
                default () {
                    return {};
                }
            }
        }
    };
</script>

<style lang="scss">
  @import "~canknow-ui-core/src/scss/variables";

  .notice-item {
    font-size: $font-size-small;
    padding: $text-padding $content-padding;
  }
</style>
