<template>
  <modular flag radius class="component-span-left component-span-right" title="通知公告" link="/package">
    <ul class="notice-list list-un-styled split-list" v-if="loaded">
      <li v-for="item in items" :key="item.id">
        <notice-item :model="item"></notice-item>
      </li>
    </ul>
  </modular>
</template>

<script>
    import NoticeItem from './NoticeItem';
    import CommonList from '../../../../../mixins/CommonList';
    import noticeService from './.././../../../../../appServices/admin/application/noticeService';

    export default {
        name: 'NoticeControl',
        components: { NoticeItem },
        mixins: [CommonList],
        controlData: {
            name: 'NoticeControl',
            bottomSpan: false,
            url: '',
            path: ''
        },
        props: {
            controlData: {
                type: Object,
                default () {
                    return {};
                }
            }
        },
        data () {
            return {
                api: noticeService,
                filterParams: {
                    pageSize: 5,
                    isHot: true
                }
            };
        }
    };
</script>

<style lang="scss">
  .notice-list {
    background: #fff;
  }
</style>
