<template>
  <ul class="package-list list-un-styled" v-if="loaded">
    <li v-for="item in items" :key="item.id">
      <package-item :model="item"></package-item>
    </li>
  </ul>
</template>

<script>
  import PackageItem from '../controls/PackageItem';
  import CommonList from '../../../../../mixins/CommonList';
  import packageService from './.././../../../../../appServices/admin/application/packageService';

  export default {
    name: 'PackageControl',
    components: { PackageItem },
    mixins: [CommonList],
    controlData: {
      name: 'PackageControl',
      bottomSpan: false,
      url: '',
      path: ''
    },
    props: {
      controlData: {
        type: Object,
        default () {
          return {};
        }
      }
    },
    data () {
      return {
        api: packageService
      };
    }
  };
</script>
<style lang="scss">
  .package-list {
    margin-bottom: 0;
  }
</style>
