@import "../../../../../../../node_modules/canknow-ui-core/src/scss/variables";
.package-item, .package-item-for-display {
  display: flex;
  position: relative;
  background: #fff;
  padding: $content-padding;
  border-radius: $border-radius;

  .package-left {
    margin-right: $component-span;
  }
  .package-right {
    flex: 1;
    position: relative;

    .package-name {
      margin: 0 0 $text-span;
      font-size: $font-size-large;
    }
    .price-label {
      margin-bottom: $text-span;
      display: flex;
      align-items: center;
      .price-title {
        color: $sub-color;
        font-size: $font-size-small;
        margin-right: $text-span;
      }
      .price-value {
        font-size: $font-size-large;
        color: $price-color;
        margin-right: $component-span;
      }
    }
    .deal-count-label {
      .deal-count-title {
        color: $sub-color;
        font-size: $font-size-small;
        margin-right: $text-span;
      }
      .deal-count-value {
        font-size: $font-size-large;
      }
    }
    .auction-button {
      position: absolute;
      right: $content-padding;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
