<template>
  <div class="package-item" :key="model.id" @click="handleClick">
    <div class="package-left">
      <i-image width="48" height="48" :src="model.cover|filePath"></i-image>
    </div>
    <div class="package-right">
      <h3 class="package-name">{{model.name}}</h3>
      <div class="price-label">
        <span class="price-value"><span class="price-sign">¥</span>{{model.price}}</span>
        <i-label border
                 fill
                 scene="danger"
                 class="compensation-rule"
                 v-if="compensationRule">{{compensationRule.count}}次不中赔付{{compensationRule.money}}
        </i-label>
      </div>
      <div>
        <label class="deal-count-label component-span-right">
          <span class="deal-count-title">累计成交</span>
          <span class="deal-count-value">{{model.orderCount}}</span>
        </label>
      </div>
      <i-button border circle v-if="isShowAuctionButton" class="auction-button" scene="primary" size="small">委托代拍</i-button>
    </div>
  </div>
</template>

<script>
    export default {
        name: 'PackageItem',
        props: {
            model: {
                type: Object,
                default () {
                    return {};
                }
            },
            compensationRuleId: {
              type: Number
            },
            isShowAuctionButton: {
                type: Boolean,
                default: true
            }
        },
        computed: {
            compensationRule () {
                const compensationRule = this.model.compensationRules.find((compensationRule) => {
                    if (this.compensationRuleId !== null && this.compensationRuleId !== undefined) {
                        return compensationRule.id === this.compensationRuleId;
                    }
                    else {
                        return true;
                    }
                });
                return compensationRule;
            }
        },
        methods: {
            handleClick () {
                this.$emit('click', this.model);
            }
        }
    };
</script>

<style lang="scss">
  @import "package-item";
</style>
