<template>
  <a><i-image class="width-full" shape="rectangle" :src="controlData.path"/></a>
</template>

<script>
  export default {
    name: 'PictureAdControl',
    controlData: {
      name: 'PictureAdControl',
      bottomSpan: false,
      url: '',
      path: ''
    },
    props: {
      controlData: {
        type: Object,
        default () {
          return {};
        }
      }
    }
  };
</script>
