<template>
  <div>
    <ul class="shopwindow clearfix">
      <li class="shopwindow-big">
        <a :href="controlData.items[0].url">
          <i-image :src="controlData.items[0].cover"></i-image>
        </a>
      </li>
      <li class="shopwindow-small">
        <a :href="controlData.items[1].url">
          <i-image :src="controlData.items[1].cover"></i-image>
        </a>
      </li>
      <li class="shopwindow-small">
        <a :href="controlData.items[2].url">
          <i-image :src="controlData.items[2].cover"></i-image>
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
  export default {
    name: 'ShopwindowControl',
    controlData: {
      name: 'ShopwindowControl',
      bottomSpan: false,
      items: [
        {
          cover: '',
          url: null
        },
        {
          cover: '',
          url: null
        },
        {
          cover: '',
          url: null
        }
      ]
    },
    props: {
      controlData: {
        type: Object,
        default () {
          return {};
        }
      }
    }
  };
</script>

<style lang="scss">
  @import "~canknow/src/scss/variables";
  @import "~canknow-ui-core/src/scss/mixins/clearfix";
  @import "~canknow-ui-core/src/scss/mixins/lists";
  .shopwindow{
    @include clearfix;
    @include list-un-styled;
    .shopwindow-big{
      float: left;
      width: calc(2 * 100% / 3);
    }
    .shopwindow-small{
      float: left;
      width: calc(100% / 3);
    }
  }
</style>
