<template>
  <Swiper dots="inside" trigger="hover" :speed="1000" :loop="false" v-model="carouselIndex" :navigation="false">
    <SwiperItem v-for="(item,index) in controlData.items" :key="index">
      <i-image :src="item.picture" shape="rectangle"></i-image>
    </SwiperItem>
  </Swiper>
</template>

<script>
  export default {
    name: 'SliderControl',
    controlData: {
      name: 'SliderControl',
      bottomSpan: false,
      items: [
        {
          url: null,
          picture: null
        },
        {
          url: null,
          picture: null
        }
      ]
    },
    props: {
      controlData: {
        type: Object,
        default () {
          return {};
        }
      }
    },
    data () {
      return {
        carouselIndex: 0
      };
    }
  };
</script>
