<template>
  <div class="team-item">
    <div class="team-left">
      <i-image width="48" height="48" :src="model.logo|filePath"></i-image>
    </div>
    <div class="team-right">
      <h3 class="team-name">{{model.name}}</h3>
      <rate disabled v-model="model.rate" />
      <div>
        <label class="deal-count-label component-span-right">
          <span class="deal-count-title">累计成交</span>
          <span class="deal-count-value">{{model.dealCount}}</span>
        </label>
        <label class="price-label">
          <span class="price-title">代拍价格</span>
          <span class="price-value">8888</span>
        </label>
      </div>
      <i-button border circle v-if="isShowAuctionButton && model.package" class="auction-button" scene="primary" size="small">委托代拍</i-button>
    </div>
  </div>
</template>

<script>
    export default {
        name: 'TeamItem',
        props: {
            model: {
                type: Object,
                default () {
                    return {};
                }
            },
            isShowAuctionButton: {
                type: Boolean,
                default: true
            }
        }
    };
</script>

<style lang="scss">
  @import "team-item";
</style>
