<template>
  <ul class="team-list list-un-styled" v-if="loaded">
    <li v-for="item in items" :key="item.id">
      <team-item :model="item" :is-show-auction-button="true"></team-item>
    </li>
  </ul>
</template>

<script>
  import TeamItem from '../controls/TeamItem';
  import CommonList from '../../../../../mixins/CommonList';
  import teamService from './.././../../../../../appServices/admin/application/teamService';

  export default {
    name: 'TeamControl',
    components: { TeamItem },
    mixins: [CommonList],
    controlData: {
      name: 'TeamControl',
      bottomSpan: false,
      url: '',
      path: ''
    },
    props: {
      controlData: {
        type: Object,
        default () {
          return {};
        }
      }
    },
    data () {
      return {
        api: teamService
      };
    }
  };
</script>
<style lang="scss">
  .team-list {
    margin-bottom: 0;
  }
</style>
