@import "~canknow-ui-core/src/scss/variables";

.team-item, .team-item-for-display {
  display: flex;
  margin-bottom: $component-span;
  padding: $content-padding;
  border-radius: $border-radius;
  background: #fff;

  .team-left {
    margin-right: $component-span;
  }
  .team-right {
    flex: 1;
    position: relative;

    .team-name {
      margin: 0 0 $text-span;
      font-size: $font-size-large;
    }
    .deal-count-label {
      .deal-count-title {
        color: $sub-color;
        font-size: $font-size-small;
        margin-right: $text-span;
      }
      .deal-count-value {
        font-size: $font-size-large;
      }
    }
    .price-label {
      .price-title {
        color: $sub-color;
        font-size: $font-size-small;
        margin-right: $text-span;
      }
      .price-value {
        font-size: $font-size-large;
        color: $price-color;
      }
    }

    .auction-button {
      position: absolute;
      right: $content-padding;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
