<template>
  <div>
    <row :gutter="1">
      <column :md="6">
        <portlet :title="$t('app.application.organizationUnits.organizationTree')">
          <div slot="actions">
            <i-button border circle scene="primary" icon="add" @click="showDialogAddOrgan(null)">
              {{$t('app.application.organizationUnits.addRootUnit')}}
            </i-button>
          </div>
          <Tree :data="treeData"
                ref="tree"
                @node-click="handleOnTreeClick"
                :render-content="renderContent"
                node-key="id"></Tree>
        </portlet>
      </column>
      <column :md="18">
        <portlet :title="$t('app.application.organizationUnits.organizationUsers')">
          <OrganizationUnitUser :organizationUnitId="selectedOrganizationUnit?selectedOrganizationUnit.id:null"></OrganizationUnitUser>
        </portlet>
      </column>
      <!--// 添加单元的弹出框-->
      <modal
        :title="dialogAdd.title"
        v-model="dialogAdd.isShow">
        <i-input :placeholder="$t('app.common.property.name')" block v-model="dialogAdd.displayName"></i-input>
        <template slot="footer">
          <i-button size="large" icon="back" border circle @click="dialogAdd.isShow = false">{{$t('app.common.action.cancel')}}</i-button>
          <i-button size="large" icon="save" border circle scene="primary" @click="save">{{$t('app.common.action.save')}}</i-button>
        </template>
      </modal>
    </row>
  </div>
</template>

<script type="text/jsx">
  import organizationUnitService from '../../../../../appServices/admin/administration/organizationUnitService';
  import OrganizationUnitUser from './OrganizationUnitUser';
  import assist from './../../../../../utils/assist';

  export default {
    components: {
      OrganizationUnitUser
    },
    data () {
      return {
        dialogAdd: {
          type: 'add',
          isShow: false,
          parentId: null,
          displayName: null
        },
        selectedOrganizationUnit: null,
        treeData: [],
        userList: []
      };
    },
    methods: {
      renderContent (h, { node, data, store }) {
        return (
          <div class="flex-adapter flex-horizontal align-middle">
            <span class="tree-node-label flex-adapter">{node.label}</span>
            <div class="tree-node-tool-bar">
              <i-button size="small" border radius on-click={ (e) => {
                this.append(data);
                e.stopPropagation();
                return false;
              } }>{this.$t('Add')}</i-button>
              <i-button size="small" border radius scene="danger" on-click={ (e) => {
                this.remove(node, data); e.stopPropagation(); return false;
              }
              }>{this.$t('Remove')}</i-button>
            </div>
          </div>);
      },
      append (data) {
        this.showDialogAddOrgan(data.id, null, 'add');
      },
      remove (node, data) {
        this.$Loading.show();
        organizationUnitService.deleteOrganizationUnit({ id: data.id }).then(() => {
          const index = node.parent.childNodes.findIndex((item) => {
            return item === node;
          });
          node.parent.childNodes.splice(index, 1);
        }).finally(() => {
          this.$Loading.hide();
        });
      },
      edit (data) {
        this.showDialogAddOrgan(null, data.displayName, 'edit', data.id);
      },
      // 显示添加或修改组织单元的弹出框
      showDialogAddOrgan (pid, displayName = null, type = 'add', id) {
        this.dialogAdd.parentId = pid;
        this.dialogAdd.displayName = displayName;
        this.dialogAdd.isShow = true;
        this.dialogAdd.type = type;
        this.dialogAdd.id = id;

        if (type === 'add') {
          this.dialogAdd.title = this.$t('app.common.action.create');
        } // !pid ? '添加根单元' : `添加子单元`
        else {
          this.dialogAdd.title = `${this.$t('app.common.action.edit')}: ${displayName}`;
        }
      },
      async fetchData () {
        this.loading = true;
        this.orignData = (await organizationUnitService.getOrganizationUnits()).items;
        this.initTree();
        this.loading = false;
      },
      initTree () {
        this.treeData = assist.getTreeFromPlain(this.orignData, 'id', 'parentId', 'children', (item) => {
          item.label = `${item.displayName} (${item.memberCount})`;
        });
      },
      // 保存添加和修改操作
      async save () {
        if (this.dialogAdd.type === 'add') {
          await organizationUnitService.createOrganizationUnit(this.dialogAdd);
        }
        else await organizationUnitService.updateOrganizationUnit(this.dialogAdd);
        this.$Message.success(this.$t('app.common.message.successfullySaved'));
        this.dialogAdd.isShow = false;
        this.fetchData();
      },
      async handleOnTreeClick (item) {
        this.selectedOrganizationUnit = item;
      }
    },
    created () {
      this.fetchData();
    }
  };
</script>
