<template>
  <i-select :width="width"
            block
            clearable
            v-model="selectedValue"
            @on-change="handleChange"
            :placeholder="computedPlaceholder">
    <i-option v-for="item in items" :key="item.id" :value="item.id">{{item.displayName}}</i-option>
  </i-select>
</template>

<script>
  import organizationUnitService from '../../../../../appServices/admin/administration/organizationUnitService';

  export default {
    name: 'OrganizationUnitSelector',
    props: {
      value: {
        type: [Number, String]
      },
      placeholder: {
        type: String
      },
      width: {
        type: Number,
        default: 200
      }
    },
    computed: {
      computedPlaceholder () {
        return this.placeholder || this.$t('core.select.placeholder', { 0: this.$t('OrganizationUnit') });
      }
    },
    watch: {
      value (value) {
        this.selectedValue = value;
      }
    },
    data () {
      return {
        items: [],
        selectedValue: null
      };
    },
    methods: {
      handleChange (value) {
        this.$emit('input', value);
      },
      fetchData () {
        organizationUnitService.getOrganizationUnits().then((result) => {
          this.items = result.items;
        });
      }
    },
    mounted () {
      this.selectedValue = this.value;
      this.fetchData();
    }
  };
</script>
