<template>
  <div>
    <div class="clearfix margin-bottom-1">
      <div class="pull-right">
        <i-button border circle scene="primary" icon="add" @click="create" :disabled="!organizationUnitId">
          {{$t('app.common.action.create')}}
        </i-button>
      </div>
    </div>
    <div class="data-table-container margin-bottom-1">
      <i-table class="data-table"
               :data="items"
               :fit="true"
               border>
        <table-column
          min-width="200"
          :label="$t('app.common.property.userName')">
          <template scope="scope">
            <span>{{scope.row.userName}}</span>
          </template>
        </table-column>
        <table-column
          width="150"
          :label="$t('app.common.property.creationTime')">
          <template scope="scope">
            <span>{{scope.row.creationTime|momentFormat}}</span>
          </template>
        </table-column>
        <table-column
          :label="$t('app.common.action.actions')">
          <template scope="scope">
            <i-button border circle scene="danger" @click="deleteItem(scope.row)">{{$t('app.common.action.delete')}}</i-button>
          </template>
        </table-column>
      </i-table>
    </div>
    <Pagination :total="totalCount" :current="filterParams.pageIndex" :page-size="filterParams.pageSize" show-elevator  @on-page-size-change="pageSizeChange" @on-change="pageChange"></Pagination>
    <UserSelectModal v-model="showModal" @select="handleSelectUser"></UserSelectModal>
  </div>
</template>

<script>
  import organizationUnitService from '../../../../../appServices/admin/administration/organizationUnitService';
  import UserSelectModal from './../../administration/user/UserSelectModal';

  export default {
    name: 'OrganizationUnitUser',
    components: {
      UserSelectModal
    },
    props: {
      organizationUnitId: {
        type: [String, Number]
      }
    },
    data () {
      return {
        items: [],
        totalCount: 0,
        showModal: false,
        loading: false,
        filterParams: {
          pageIndex: 1,
          pageSize: 10
        }
      };
    },
    watch: {
      organizationUnitId (value) {
        if (value) {
          this.fetchData();
        }
      }
    },
    methods: {
      async handleSelectUser (user) {
        for (let i = 0; i < this.items.length; i++) {
          let item = this.items[i];
          if (item.id === user.value) {
              this.$Notify.error(this.$t('app.application.organizationUnits.userIsAlreadyInTheOrganizationUnit'));
            return;
          }
        }
        await organizationUnitService.addUsersToOrganizationUnit({
          userIds: [user.id],
          organizationUnitId: this.organizationUnitId
        });
        this.showModal = false;
        this.$Message.success(this.$t('app.common.message.successfullySaved'));
        this.fetchData();
      },
      create () {
        this.showModal = true;
      },
      pageChange (pageIndex) {
        this.filterParams.pageIndex = pageIndex;
        this.fetchData();
      },
      pageSizeChange (pageSize) {
        this.filterParams.pageSize = pageSize;
        this.fetchData();
      },
      deleteUser (index, item) {
        this.$confirm(this.$t('app.application.organizationUnits.removeUserFromOuWarningMessage', item.userName, this.selectedOrgan.displayName)).then(async (result) => {
          if (!result) {
            return;
          }
          await organizationUnitService.removeUserFromOrganizationUnit({
            userId: item.id,
            organizationUnitId: this.organizationUnitId
          });
          this.$Message.success(this.$t('app.common.message.successfullyDeleted'));
          this.items.data.splice(index, 1);
          this.fetchData();
        });
      },
      async fetchData () {
        this.loading = true;
        let result = await organizationUnitService.getOrganizationUnitUsers({ id: this.organizationUnitId, ...this.filterParams });
        this.items = result.items;
        this.totalCount = result.totalCount;
        this.loading = false;
      }
    },
    mounted () {
      if (this.organizationUnitId) {
        this.fetchData();
      }
    }
  };
</script>
