<template>
  <div>
  </div>
</template>

<script>
  import logo from '../../../../../../assets/images/logo.png';

  export default {
    components: {
    },
    name: 'AdministrationHomeTenant',
    computed: {
      config () {
        return {
          value: this.link,
          imagePath: logo,
          filter: 'color'
        };
      }
    }
  };
</script>
