<template>
  <portlet :title="$t('core.crud.createOrEdit', { 0: $t('app.application.autoReply.autoReplay') })">
    <i-form :model="autoReply" :rules="rules" ref="form" :label-width="150">
      <Row>
        <Column :span="24">
          <form-item :label="$t('app.common.property.name')" prop="name">
            <i-input name="name" v-model="autoReply.name" block></i-input>
          </form-item>
          <form-item :label="$t('app.application.autoReply.requestType')" prop="requestType">
            <RequestTypeSelector name="requestType" v-model="autoReply.requestType" block></RequestTypeSelector>
          </form-item>
          <form-item :label="$t('app.application.autoReply.msgType')" prop="msgType">
            <ResponseTypeSelector name="msgType" v-model="autoReply.msgType" block></ResponseTypeSelector>
          </form-item>
          <form-item :label="$t('app.common.property.key')" prop="key">
            <i-input name="author" v-model="autoReply.key" block></i-input>
          </form-item>
          <form-item :label="$t('app.application.autoReply.matchingType')" prop="matchingType">
            <RadioGroup v-model="autoReply.matchingType">
              <Radio value="0">{{$t('app.application.autoReply.exact')}}</Radio>
              <Radio value="1">{{$t('app.application.autoReply.fuzzy')}}</Radio>
            </RadioGroup>
          </form-item>
          <form-item :label="$t('app.common.property.content')" prop="content"
                     :rules="{ required: true, message: $t('core.validate.common.requiredFiled', { 0: $t('app.common.property.content') }) }"
                     v-if="autoReply.msgType===responseMsgTypes.TextMessage">
            <i-input name="content" :rows="5" type="textarea" v-model="autoReply.content" block></i-input>
            <div class="margin-top-1">
              <i-button border circle @click="insertUserNumber">{{$t('app.application.autoReply.insertUserNumber')}}</i-button>
              <i-button border circle @click="insertUserNickName">{{$t('app.application.autoReply.insertUserNickName')}}</i-button>
              <i-button border circle @click="insertUserCount">{{$t('app.application.autoReply.insertUserCount')}}</i-button>
              <i-button border circle @click="insertLink">{{$t('app.application.autoReply.insertLink')}}</i-button>
            </div>
          </form-item>
          <form-item :label="$t('app.application.autoReply.image')" prop="mediaId" v-if="autoReply.msgType==responseMsgTypes.ImageMessage">
            <PublicWechatPictureSelector name="mediaId" v-model="autoReply.mediaId" block></PublicWechatPictureSelector>
          </form-item>
          <form-item :label="$t('app.application.autoReply.video')" prop="mediaId" v-if="autoReply.msgType==responseMsgTypes.VideoMessage">
            <PublicWechatVideoSelector name="mediaId" v-model="autoReply.mediaId" block></PublicWechatVideoSelector>
          </form-item>
          <form-item :label="$t('app.application.autoReply.audio')" prop="mediaId" v-if="autoReply.msgType==responseMsgTypes.VoiceMessage">
            <PublicWechatAudioSelector name="mediaId" v-model="autoReply.mediaId" block></PublicWechatAudioSelector>
          </form-item>
          <form-item :label="$t('app.application.autoReply.article')" prop="mediaId" v-if="autoReply.msgType==responseMsgTypes.NewsMessage">
            <PublicWechatArticleSelector name="mediaId" v-model="autoReply.mediaId" block></PublicWechatArticleSelector>
          </form-item>
          <form-item class="margin-bottom-1" :label="$t('app.application.autoReply.articles')" v-if="autoReply.msgType==responseMsgTypes.MultipleNewsMessage">
            <div>
              <i-table class="margin-bottom-1" :data="articles">
                <table-column :label="$t('app.application.autoReply.title')">
                  <template scope="scope">
                    <i-input block v-model="scope.row.title"></i-input>
                  </template>
                </table-column>
                <table-column :label="$t('app.application.autoReply.description')">
                  <template scope="scope">
                    <i-input block v-model="scope.row.description"></i-input>
                  </template>
                </table-column>
                <table-column :label="$t('app.application.autoReply.url')" min-width="200">
                  <template scope="scope">
                    <LinkInput v-model="scope.row.url"></LinkInput>
                  </template>
                </table-column>
                <table-column :label="$t('app.application.autoReply.picUrl')">
                  <template scope="scope">
                    <PictureUploader v-model="scope.row.picUrl"></PictureUploader>
                  </template>
                </table-column>
                <table-column :label="$t('app.common.action.actions')" fixed="right">
                  <template scope="scope">
                    <i-button circle border scene="danger" @click="removeArticle(scope.$index, scope.row)">$t('app.common.actions.remove')</i-button>
                  </template>
                </table-column>
              </i-table>
              <i-button block border circle @click="addArticle">$t('app.application.autoReply.addArticle')</i-button>
            </div>
          </form-item>
          <form-item>
            <i-button border circle :loading="saving" icon="save" scene="primary" @click="save">{{$t('app.common.action.save')}}</i-button>
          </form-item>
        </Column>
      </Row>
    </i-form>
    <modal :title="$t('app.application.autoReply.insertLink')" v-model="showInsertLinkModal">
      <i-form :model="insertLinkData" :rules="insertLinkRules" ref="insertLinkForm">
        <form-item prop="text">
          <i-input block v-model="insertLinkData.text" placeholder="PleaseInputLinkText"></i-input>
        </form-item>
        <form-item prop="url">
          <LinkInput block v-model="insertLinkData.url" placeholder="PleaseInputLinkUrl"></LinkInput>
        </form-item>
      </i-form>
      <template slot="footer">
        <i-button size="large" border circle icon="back" @click="handleCancel">{{$t('app.common.action.cancel')}}</i-button>
        <i-button size="large" border circle icon="save" scene="primary" @click="confirmClick">{{$t('app.common.action.save')}}</i-button>
      </template>
    </modal>
  </portlet>
</template>

<script>
  import autoReplyService from '../../../../../../appServices/admin/application/autoReplyService';
  import RequestTypeSelector from './RequestTypeSelector';
  import ResponseTypeSelector from './ResponseTypeSelector';
  import requestTypes from './requestTypes';
  import responseMsgTypes from './responseMsgTypes';
  import PublicWechatPictureSelector from './../file/PublicWechatPictureSelector';
  import PublicWechatVideoSelector from './../file/PublicWechatVideoSelector';
  import PublicWechatAudioSelector from './../file/PublicWechatAudioSelector';
  import PublicWechatArticleSelector from './../file/PublicWechatArticleSelector';

  export default {
    name: 'CreateOrEdit',
    components: {
      RequestTypeSelector,
      ResponseTypeSelector,
      PublicWechatPictureSelector,
      PublicWechatVideoSelector,
      PublicWechatAudioSelector,
      PublicWechatArticleSelector
    },
    props: {

    },
    data () {
      return {
        id: null,
        responseMsgTypes,
        showInsertLinkModal: false,
        insertLinkData: {
          text: null,
          url: null
        },
        autoReply: {
          requestType: requestTypes.TextRequest
        },
        articles: [],
        saving: false,
        insertLinkRules: {
          text: [
            { required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.common.property.text') }), trigger: 'blur' }
          ],
          url: [
            { required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.common.property.link') }), trigger: 'blur' }
          ]
        },
        rules: {
          name: [
            { required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.common.property.name') }) }
          ],
          title: [
            { required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.common.property.title') }) }
          ],
          status: [
            { required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.common.property.status') }) }
          ],
          requestType: [
            { required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.application.autoReply.requestType') }) }
          ],
          msgType: [
            { required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.application.autoReply.msgType') }) }
          ]
        }
      };
    },
    methods: {
      handleCancel () {
        this.showInsertLinkModal = false;
      },
      confirmClick () {
        this.$refs.insertLinkForm.validate((valid) => {
          if (valid) {
            const html = `<a href="${this.insertLinkData.url}">${this.insertLinkData.text}</a>`;
            this.autoReply.content = this.autoReply.content || '';
            this.autoReply.content += html;
            this.showInsertLinkModal = false;
          }
        });
      },
      insertUserNumber () {
        this.autoReply.content = this.autoReply.content || '';
        this.autoReply.content += '{userNumber}';
      },
      insertUserNickName () {
        this.autoReply.content = this.autoReply.content || '';
        this.autoReply.content += '{userNickName}';
      },
      insertUserCount () {
        this.autoReply.content = this.autoReply.content || '';
        this.autoReply.content += '{userCount}';
      },
      insertLink () {
        this.showInsertLinkModal = true;
      },
      addArticle () {
        this.articles.push({});
      },
      removeArticle (index, article) {
        this.articles.splice(index, 1);
      },
      save () {
        this.$refs.form.validate((valid) => {
          if (valid) {
            this.saving = true;
            autoReplyService.createOrEdit({
              autoReply: this.autoReply,
              articles: this.articles
            }).then(() => {
              this.$Message.success('app.common.message.successfullySaved');
              this.$router.push({ name: 'PublicWechatAutoReplyIndex' });
            }).finally(() => {
              this.saving = false;
            });
          }
        });
      },
      fetchData () {
        autoReplyService.getAutoReplyForCreateOrEdit({ id: this.id }).then((result) => {
          this.autoReply = result.autoReply;
          this.articles = result.articles || [];
        });
      }
    },
    created () {
      this.id = this.$route.query.id;
      this.fetchData();
    }
  };
</script>
