<template>
  <portlet>
    <div class="clearfix margin-bottom-1">
      <div class="pull-right">
        <i-button border circle scene="primary" icon="add" @click="create">{{$t('app.common.action.create')}}</i-button>
      </div>
    </div>
    <div class="data-table-container margin-bottom-1">
      <i-table class="data-table"
               :data="items"
               :fit="true"
               border>
        <table-column
          min-width="120"
          prop="name"
          :label="$t('app.common.property.name')">
        </table-column>
        <table-column
          min-width="120"
          prop="key"
          :label="$t('app.common.property.key')">
        </table-column>
        <table-column
          min-width="120"
          :label="$t('app.application.autoReply.requestType')">
          <template scope="scope">
            {{scope.row.requestType|requestTypeParse|localize}}
          </template>
        </table-column>
        <table-column
          min-width="120"
          :label="$t('app.application.autoReply.replyMessageType')">
          <template scope="scope">
            {{scope.row.msgType|responseMsgTypeParse|localize}}
          </template>
        </table-column>
        <table-column :label="$t('app.common.property.creationTime')">
          <template scope="scope">
            {{scope.row.creationTime|momentFormat}}
          </template>
        </table-column>
        <table-column :label="$t('app.common.action.actions')">
          <template scope="scope">
            <i-button border circle scene="primary" @click="edit(scope.row)">{{$t('app.common.action.edit')}}</i-button>
            <i-button border circle scene="danger" @click="deleteItem(scope.row)">{{$t('app.common.action.delete')}}</i-button>
          </template>
        </table-column>
      </i-table>
    </div>
    <Pagination :total="totalCount" :current="filterParams.pageIndex" :page-size="filterParams.pageSize" show-elevator @on-change="handlePageChange"></Pagination>
  </portlet>
</template>

<script>
    import autoReplyService from '../../../../../../appServices/admin/application/autoReplyService';
    import CommonList from './../../../../../mixins/CommonList';

    export default {
        name: 'PublicWechatAutoReplyIndex',
        mixins: [CommonList],
        data () {
            return {
                api: autoReplyService,
            };
        },
        methods: {
            edit (item) {
                this.$router.push({ name: 'PublicWechatAutoReplyCreateOrEdit', query: { id: item.id } });
            },
            create () {
                this.$router.push({ name: 'PublicWechatAutoReplyCreateOrEdit' });
            }
        }
    };
</script>
