<template>
  <i-select :block="block" v-model="selected" @on-change="handleChange">
    <i-option :key="key" :value="value" v-for="(value, key) in requestTypes">{{$t(`app.application.autoReply.requestTypes.${key}`)}}</i-option>
  </i-select>
</template>

<script>
  import requestTypes from './requestTypes';

  export default {
    name: 'RequestTypeSelector',
    props: {
      value: {
        type: [Number, String]
      },
      block: {
        type: Boolean,
        default: false
      }
    },
    watch: {
      value (newValue) {
        this.fetchSelected();
      }
    },
    data () {
      return {
        selected: null,
        requestTypes: requestTypes
      };
    },
    methods: {
      fetchSelected () {
        if (this.value === null) {
          this.selected = null;
        }
        else {
          const key = Object.keys(requestTypes).find((key) => {
            return requestTypes[key] === this.value;
          });
          this.selected = requestTypes[key];
        }
      },
      handleChange (value) {
        this.$emit('input', value);
      }
    },
    created () {
      this.fetchSelected();
    }
  };
</script>
