<template>
  <Modal v-model="dialogVisible"
         @on-cancel="handleCancel"
         :title="$t('core.crud.createOrEdit', { 0: $t('app.application.comment.comment') })">
    <i-form :labelWidth="100" :model="model" :rules="rules" ref="form">
      <form-item :label="$t('app.common.property.nickName')" prop="nickName" v-if="!id">
        <i-input name="nickName" v-model="model.nickName" block></i-input>
      </form-item>
      <form-item :label="$t('app.common.property.avatar')" prop="avatar" v-if="!id">
        <picture-uploader name="avatar" v-model="model.avatar"></picture-uploader>
      </form-item>
      <form-item :label="$t('app.common.property.content')" prop="content">
        <i-input type="textarea" name="content" v-model="model.content" block></i-input>
      </form-item>
      <form-item :label="$t('app.application.comment.rate')" prop="rate">
        <rate v-model="model.rate"></rate>
      </form-item>
      <form-item :label="$t('app.application.team.team')" prop="teamId" v-if="!id">
        <team-select style="width: 200px;" v-model="model.teamId"></team-select>
      </form-item>
      <form-item :label="$t('app.application.package.package')" prop="packageId" v-if="!id">
        <package-select style="width: 200px;" v-model="model.packageId"></package-select>
      </form-item>
    </i-form>
    <template slot="footer">
      <i-button size="large" border circle icon="back" type="text" @click.native="handleCancel">{{$t('app.common.action.cancel')}}</i-button>
      <i-button size="large" border circle icon="success" scene="primary" :loading="saving" @click.native="save">{{$t('app.common.action.save')}}</i-button>
    </template>
  </Modal>
</template>

<script>
    import commentService from './../../../../../appServices/admin/application/commentService';
    import CommonCreateOrUpdateModal from '../../../../mixins/CommonCreateOrUpdateModal';
    import TeamSelect from '../team/TeamSelect';
    import PackageSelect from '../package/PackageSelect';

    export default {
        name: 'CreateOrUpdateModal',
        mixins: [CommonCreateOrUpdateModal],
        components: { PackageSelect, TeamSelect },
        data () {
            return {
                api: commentService,
                rules: {
                    nickName: [{ required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.common.property.nickName') }) }],
                    avatar: [{ required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.common.property.avatar') }) }],
                    content: [{ required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.common.property.content') }) }],
                    packageId: [{ required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.common.property.package') }) }]
                }
            };
        }
    };
</script>
