<template>
  <portlet>
    <div class="clearfix margin-bottom-1">
      <div class="pull-right">
        <i-button border circle scene="primary" icon="add" @click="create">
          {{$t('app.common.action.create')}}
        </i-button>
      </div>
    </div>
    <div>
      <i-form type="inline">
        <form-item>
          <i-input clearable :placeholder="$t('core.placeholder', { 0: $t('app.common.property.content')})" v-model="filterParams.content"></i-input>
        </form-item>
        <form-item>
          <i-button border circle scene="primary" icon="search" @click="search">{{$t('app.common.action.search')}}</i-button>
        </form-item>
      </i-form>
    </div>
    <div class="data-table-container margin-bottom-1">
      <i-table class="data-table"
               :data="items"
               :fit="true"
               v-loading="loading"
               border>
        <table-column
          min-width="200"
          show-overflow-tooltip
          :label="$t('app.common.property.nickName')">
          <template scope="scope">
            <span>{{scope.row.nickName}}</span>
          </template>
        </table-column>
        <table-column
          min-width="200"
          show-overflow-tooltip
          :label="$t('app.common.property.avatar')">
          <template scope="scope">
            <i-image width="32" height="32" :src="scope.row.avatar|filePath"></i-image>
          </template>
        </table-column>
        <table-column
          min-width="200"
          prop="content"
          show-overflow-tooltip
          :label="$t('app.common.property.content')">
        </table-column>
        <table-column
          min-width="200"
          prop="packageName"
          show-overflow-tooltip
          :label="$t('app.application.comment.package')">
          <template scope="scope">
            {{scope.row.package ? scope.row.package.name : '-'}}
          </template>
        </table-column>
        <table-column
          min-width="200"
          prop="teamName"
          show-overflow-tooltip
          :label="$t('app.application.comment.team')">
        </table-column>
        <table-column
          min-width="120"
          :label="$t('app.application.comment.rate')">
          <template scope="scope">
            <rate v-model="scope.row.rate"></rate>
          </template>
        </table-column>
        <table-column
          width="190"
          :label="$t('app.common.property.creationTime')">
          <template scope="scope">
            {{scope.row.creationTime|momentFormat}}
          </template>
        </table-column>
        <table-column
          fixed="right"
          width="300"
          :label="$t('app.common.action.actions')">
          <template scope="scope">
<!--            <i-button border circle scene="primary" @click="edit(scope.row)">-->
<!--              {{$t('app.common.action.edit')}}-->
<!--            </i-button>-->
            <i-button border circle scene="danger" @click="deleteItem(scope.row)">{{$t('app.common.action.delete')}}</i-button>
          </template>
        </table-column>
      </i-table>
    </div>
    <Pagination :total="totalCount" :current="filterParams.pageIndex" :page-size="filterParams.pageSize" show-elevator @on-change="handlePageChange"></Pagination>
    <CreateOrEditModal :id="dialogCreateOrEdit.id" v-model="dialogCreateOrEdit.isShow" @save="handleOnSave"></CreateOrEditModal>
  </portlet>
</template>

<script>
    import commentService from './../../../../../appServices/admin/application/commentService';
    import CommonCreateAndUpdateModalList from '../../../../mixins/CommonCreateAndUpdateModalList';
    import CreateOrEditModal from './CreateOrUpdateModal';

    export default {
        name: 'CommentIndex',
        mixins: [CommonCreateAndUpdateModalList],
        components: {
            CreateOrEditModal
        },
        data () {
            return {
                api: commentService,
                entityName: 'Comment',
                filterParams: {
                    content: null
                }
            };
        }
    };
</script>

