@import "~canknow/src/scss/variables";
@import "~canknow-ui-core/src/scss/mixins/flex";
$app-color: #f2f3f8;
.admin-page {
  background-color: $app-color;
  .page-body {
    background-color: $app-color;
  }
}

.admin-page-content-header{
  @include flex-horizontal-align-center;
  margin-bottom: $component-span;
  .admin-page-content-title{
    @include flex-adapter;
    display: block;
  }
  .admin-page-content-action-bar{

  }
}
