@import "~canknow/src/scss/variables";
.color-selector{
  display: inline-block;
  min-width: $component-size-huger;
  &.block{
    display: block;
  }
  .color-selection{
    height: $component-size;
    line-height: $component-size - 2*$border-width;
    border: $border-width solid $border-color;
    color: #fff;
    user-select: none;
    cursor: pointer;
    text-align: center;
  }
}
.color-list{
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  overflow: hidden;
  .color-item{
    padding: 0 $content-padding;
    height: $component-size-small;
    line-height: $component-size-small;
    color: #fff;
    font-size: $font-size;
    user-select: none;
    cursor: pointer;
    width: $component-size-large;
  }
}
