$resourceRoot:"~canknow/src";
@import "~canknow/src/scss/index.scss";
@import "admin-page";
@import "file-list";
@import "file-manage";
@import "color-selector";
@import "language-list";
@import "text-previewer";
@import "phone-preview";
@import "mobile-access";
@import "media";
@import "picture-uploader";
@import "pretty-portlet";
@import "data-overview";
@import "price-table";
@import "~canknow/src/scss/variables";

@font-face {
  font-family: fzxy;
  src: url('~canknow/src/font/fzxy.ttf');
}

*{
  font-family: fzxy;
}

html, body{
  min-height: initial !important;
  height: 100%;
}

.app-wrap{
  height: 100%;
}
