@import "~canknow/src/scss/variables";
.mobile-access{
  width: 100%;
  height: 100%;
  text-align: center;
  .link{
    display: block;
    margin-bottom: $component-span;
  }
  .qrcode-notice{
    display: block;
  }
}
