@import "~canknow/src/scss/variables";
@import "~canknow-ui-core/src/scss/mixins/flex";

.picture-uploader{
  display: inline-block;
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  overflow: hidden;
  &.block{
    display: block;
  }
  .picture-uploader-wrap{

  }
}
