<template>
  <Modal v-model="showCreateOrEditModal" @on-cancel="handleCancel" :title="$t('core.crud.createOrEdit', { 0: $t('app.application.{{properCase name}}.{{properCase name}}') })">
    <i-form :model="entity" :rules="rules" ref="form" :label-width="100">
      <form-item :label="$t('app.common.property.name')" prop="name">
        <i-input name="name" v-model="entity.name" block></i-input>
      </form-item>
    </i-form>
    <template slot="footer">
      <i-button size="large" border circle icon="back" @click="handleCancel">{{templateStart}}$t('app.common.action.cancel'){{templateEnd}}</i-button>
      <i-button size="large" circle border :loading="saving" icon="save" scene="primary" @click="handleSave">{{templateStart}}$t('app.common.action.save'){{templateEnd}}</i-button>
    </template>
  </Modal>
</template>

<script>
  import {{name}}Api from '../../../../../apis/{{name}}';
  export default {
    name: '{{properCase name}}CreateOrEditModal',
    props: {
      id: {
        type: [Number, String]
      },
      value: {
        type: Boolean,
        default: false
      }
    },
    data () {
      return {
        editId: null,
        showCreateOrEditModal: false,
        entity: {},
        saving: false,
        rules: {
          name: [{ required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.common.property.name') }) }],
        }
      };
    },
    watch: {
      id (newValue) {
        this.editId = newValue;
        if (newValue) {
          this.fetchData();
        }
        else {
          this.entity = {};
        }
      },
      value (newValue) {
        this.showCreateOrEditModal = newValue;
      }
    },
    methods: {
      handleCancel () {
        this.$emit('input', false);
      },
      reset () {
        this.entity = {};
      },
      handleSave () {
        this.$refs.form.validate((valid) => {
          if (valid) {
            this.saving = true;
            const action = this.id ? 'update' : 'create';
              {{name}}Api[action](this.entity).then(() => {
              this.$emit('save');
              this.$Message.success(this.$t('app.common.message.successfullySaved'));
            }).finally(() => {
              this.saving = false;
            });
          }
        });
      },
      fetchData () {
          {{name}}Api.get({ id: this.editId }).then((result) => {
          this.entity = result;
        });
      }
    },
    mounted () {
    }
  };
</script>
