<template>
    <portlet>
        <div class="clearfix margin-bottom-1">
            <div class="pull-right">
                <i-button border circle scene="primary" icon="plus" @click="handleCreate">
                  {{templateStart}}$t('app.common.action.create'){{templateEnd}}
                </i-button>
            </div>
        </div>
        <div>
            <i-form type="inline">
                <form-item>
                    <i-input v-model="filterParams.name"
                             style="width: 300px;"
                             :placeholder="$t('core.placeholder', { 0: $t('app.common.property.keyword') })"></i-input>
                </form-item>
                <form-item>
                    <i-button border circle scene="primary" icon="search" @click="search">{{templateStart}}$t('app.common.action.search'){{templateEnd}}</i-button>
                </form-item>
            </i-form>
        </div>
        <div class="data-table-container margin-bottom-1">
            <i-table class="data-table"
                     :data="items"
                     v-loading="loading"
                     border>
                <table-column
                        min-width="120"
                        prop="name"
                        :label="$t('app.common.property.name')">
                </table-column>
                <table-column
                        width="190"
                        :label="$t('app.common.property.creationTime')">
                    <template scope="scope">
                      {{templateStart}}cope.row.creationTime|momentFormat{{templateEnd}}
                    </template>
                </table-column>
                <table-column
                        :label="$t('app.common.action.actions')">
                    <template scope="scope">
                        <i-button border circle scene="primary" @click="handleEdit(scope.row)">
                          {{templateStart}}$t('app.common.action.edit'){{templateEnd}}
                        </i-button>
                        <i-button border circle scene="danger" @click="deleteItem(scope.$index,scope.row)">{{templateStart}}$t('app.common.action.delete'){{templateEnd}}</i-button>
                    </template>
                </table-column>
            </i-table>
        </div>
        <Pagination :total="totalCount" :current="filterParams.pageIndex" :page-size="filterParams.pageSize" show-elevator @on-change="handlePageChange"></Pagination>
        <CreateOrUpdateModal :id="dialogCreateOrEdit.id" v-model="dialogCreateOrEdit.isShow" @onSave="handleOnSave"></CreateOrUpdateModal>    </portlet>
</template>

<script>
    import {{name}}Api from '../../../../../apis/{{name}}';
    import CreateOrUpdateModal from './CreateOrUpdateModal';
    import CreateAndUpdateList from '../../../../mixins/CreateAndUpdateList';

    export default {
        name: '{{properCase name}}Index',
        components: {
            CreateOrUpdateModal
        },
        mixins: [CreateAndUpdateList],
        data () {
            return {
                api: {{name}}Api,
                filterParams: {
                    name: null
                }
            };
        }
    };
</script>
