<template>
  <portlet>
    <article class="administration-maintenance-container">
      <tab v-model="activeName" :animated="false" @on-click="handleTabClick">
        <tab-pane :label="$t('app.application.maintenance.caches')" name="caches">
          <div class="content-padding">
            <div class="admin-page-content-header">
              <h3 class="admin-page-content-title">{{$t('app.application.maintenance.cachesHeaderInfo')}}</h3>
              <div class="admin-page-content-action-bar">
                <i-button scene="primary" border circle :loading="clearingAll" icon="refresh" @click="clearAll">{{$t('app.common.action.clearAll')}}</i-button>
              </div>
            </div>
            <i-table
              :fit="true"
              stripe
              :show-header="false"
              class="full-width"
              :data="caches.data">
              <table-column prop="name" min-width="200">
              </table-column>
              <table-column width="105">
                <template scope="scope">
                  <i-button circle border radius scene="danger" :loading="scope.row.loading" @click="clearCache(scope.row)">{{$t('app.common.action.clear')}}</i-button>
                </template>
              </table-column>
            </i-table>
          </div>
        </tab-pane>
        <tab-pane :label="$t('app.application.maintenance.initializeData')" name="initializeData">
          <div class="content-padding">
            <i-button border circle scene="primary" @click="initializeData" :loading="initializingData">{{$t('app.application.maintenance.initializeData')}}</i-button>
          </div>
        </tab-pane>
        <tab-pane :label="$t('app.application.maintenance.webSiteLogs')" name="webSiteLogs">
          <div class="content-padding">
            <div class="admin-page-content-header">
              <h3 class="admin-page-content-title"></h3>
              <div class="admin-page-content-action-bar">
                <i-button :loading="deletingAll" circle border scene="danger" icon="remove" @click="deleteAll">{{$t('app.common.action.delete')}}</i-button>
                <i-button circle border scene="primary" icon="download" @click="exportWeblog">{{$t('app.common.action.download')}}</i-button>
                <i-button circle border scene="primary" icon="refresh" @click="getWeblog">{{$t('app.common.action.refresh')}}</i-button>
              </div>
            </div>
            <div class="second-log-content">
              <div class="log-wrap" v-loading="loading">
                <ul class="log-list">
                  <li class="log-line" v-for="(item, index) in weblogs.data" :key="index">
                    <i-label scene="debug" v-if="item.indexOf('DEBUG') == 0">DEBUG</i-label>
                    <i-label scene="info" v-if="item.indexOf('INFO') == 0">INFO</i-label>
                    <i-label scene="warning" v-else-if="item.indexOf('WARN') == 0">WARN</i-label>
                    <i-label scene="danger" v-else-if="item.indexOf('ERROR') == 0">ERROR</i-label>
                    {{item}}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </tab-pane>
      </tab>
    </article>
  </portlet>
</template>

<script>
  import cachingService from '../../../../../appServices/admin/administration/cachingService';
  import weblogService from '../../../../../appServices/admin/administration/weblogService';
  import systemService from '../../../../../appServices/admin/administration/systemService';

  export default {
    components: {
    },
    name: 'maintenance',
    data () {
      return {
        activeName: 'caches',
        loading: false,
        clearingAll: false,
        deletingAll: false,
        clearingBaiduCloudCache: false,
        initializingData: false,
        loadedWebLogs: false,
        caches: {
          data: []
        },
        weblogs: {
          data: []
        }
      };
    },
    methods: {
      initializeData () {
        this.initializingData = true;
        systemService.initializeData().then(() => {
        }).finally(() => {
          this.initializingData = false;
        });
      },
      handleTabClick (name) {
        if (name === 'webSiteLogs' && !this.loadedWebLogs) {
          this.getWeblog();
        }
      },
      async fetchData () {
        this.loading = true;
        this.caches.data = (await cachingService.getAllCaches()).items;
        this.loading = false;
      },
      deleteAll () {
        this.deletingAll = true;
        weblogService.deleteWebLogs().then(() => {
            this.$Message.success(this.$t('app.application.maintenance.webLogsSuccessfullyDeleted'));
        }).finally(() => {
          this.getWeblog();
          this.deletingAll = false;
        });
      },
      clearAll () {
        this.clearingAll = true;
        cachingService.clearAllCaches().then(() => {
            this.$Message.success(this.$t('app.application.maintenance.cacheSuccessfullyCleared'));
        }).finally(() => {
          this.clearingAll = false;
        });
      },
      // isAll 是否清除所有
      async clearCache (item) {
        try {
          this.loading = true;
          this.$set(item, 'loading', true);
          await cachingService.clearCache({ id: item.name });
            this.$Message.success(this.$t('app.application.maintenance.cacheSuccessfullyCleared'));
        }
        finally {
          this.loading = false;
          this.$set(item, 'loading', false);
        }
      },
      async getWeblog () {
        try {
          this.loading = true;
          this.weblogs.data = (await weblogService.getLatestWebLogs()).latestWebLogLines || [];
          this.loadedWebLogs = true;
        }
        finally {
          this.loading = false;
        }
      },
      exportWeblog () {
        weblogService.exportAll();
      }
    },
    mounted () {
      this.fetchData();
    }
  };
</script>

<style lang="scss">
  @import "index";
</style>
