<template>
  <Modal v-model="dialogVisible"
         @on-cancel="handleCancel"
         title="编辑代拍记录">
    <i-form :model="model" :rules="rules" ref="form" :label-width="100">
      <form-item label="截图" prop="shot">
        <PictureUploader v-model="model.shot" block></PictureUploader>
      </form-item>
      <form-item label="代拍时间" prop="winDateTime">
        <date-picker v-model="model.winDateTime"></date-picker>
      </form-item>
    </i-form>
    <template slot="footer">
      <i-button size="large" border circle icon="back" scene="danger" @click.native="handleCancel">{{$t('app.common.action.cancel')}}</i-button>
      <i-button size="large" border circle icon="success" scene="primary" :loading="saving" @click.native="save">{{$t('app.common.action.save')}}</i-button>
    </template>
  </Modal>
</template>

<script>
  import auctionRecordService from '../../../../../appServices/admin/application/auctionRecordService';
  import CommonCreateOrUpdateModal from '../../../../mixins/CommonCreateOrUpdateModal';

  export default {
    name: 'AuctionRecordCreateOrUpdateModal',
    mixins: [CommonCreateOrUpdateModal],
    data () {
      return {
        api: auctionRecordService,
        rules: {
          name: [{ required: true, message: this.$t('core.validate.common.requiredFiled', { 0: '截图' }) }],
          winDateTime: [{ required: true, message: this.$t('core.validate.common.requiredFiled', { 0: '代拍时间' }) }]
        }
      };
    },
    methods: {
      parseGetModel(model) {
        return {
          id: model.id,
          shot: model.shot,
          winDateTime: model.winDateTime
        };
      },
    }
  };
</script>
