<template>
  <portlet>
    <div>
      <i-form type="inline">
        <form-item>
          <i-button border circle scene="primary" icon="search" @click="search">{{$t('app.common.action.search')}}</i-button>
        </form-item>
      </i-form>
    </div>
    <div class="data-table-container margin-bottom-1">
      <i-table class="data-table"
               :data="items"
               v-loading="loading"
               :fit="true"
               border>
        <table-column
          min-width="200"
          label="订单编号">
          <template scope="scope">
            {{scope.row.order ? scope.row.order.number : '-'}}
          </template>
        </table-column>
        <table-column
          min-width="120"
          label="截图">
          <template scope="scope">
            <i-image :preview-images="[getFilePath(scope.row.shot)]" height="32" :src="scope.row.shot"></i-image>
          </template>
        </table-column>
        <table-column
          min-width="300"
          label="用户">
          <template scope="scope">
            <profile :user="scope.row.user"></profile>
          </template>
        </table-column>
        <table-column
          min-width="120"
          label="团队">
          <template scope="scope">
            <span v-if="scope.row.team">{{scope.row.team.name}}</span>
            <span v-else>-</span>
          </template>
        </table-column>
        <table-column
          min-width="120"
          label="套餐">
          <template scope="scope">
            <span v-if="scope.row.package">{{scope.row.package.name}}</span>
          </template>
        </table-column>
        <table-column
          min-width="120"
          label="姓名">
          <template scope="scope">
            <span>{{scope.row.bid.fullName}}</span>
          </template>
        </table-column>
        <table-column
          min-width="120"
          label="手机号">
          <template scope="scope">
            <span>{{scope.row.bid.phoneNumber}}</span>
          </template>
        </table-column>
        <table-column
          min-width="150"
          label="身份证号">
          <template scope="scope">
            <span>{{scope.row.bid.idNumber}}</span>
          </template>
        </table-column>
        <table-column
          min-width="120"
          label="账号">
          <template scope="scope">
            <span>{{scope.row.bid.account}}</span>
          </template>
        </table-column>
        <table-column
          min-width="120"
          label="密码">
          <template scope="scope">
            <span>{{scope.row.bid.password}}</span>
          </template>
        </table-column>
        <table-column
          label="尝试次数">
          <template scope="scope">{{scope.row.attemptCount}}
          </template>
        </table-column>
        <table-column
          width="190"
          label="拍中时间">
          <template scope="scope">{{scope.row.winDateTime|momentFormat}}
          </template>
        </table-column>
        <table-column
          fixed="right"
          width="200"
          :label="$t('app.common.action.actions')">
          <template
            fixed="right"
            width="100"
            scope="scope">
            <i-button border circle scene="primary" @click="edit(scope.row)">编辑</i-button>
            <i-button border circle scene="danger" @click="deleteItem(scope.row)">删除</i-button>
          </template>
        </table-column>
      </i-table>
    </div>
    <Pagination :total="totalCount" :current="filterParams.pageIndex" :page-size="filterParams.pageSize" show-elevator @on-change="handlePageChange"></Pagination>
    <auction-record-create-or-update-modal :id="dialogCreateOrEdit.id" v-model="dialogCreateOrEdit.isShow" @save="handleOnSave"></auction-record-create-or-update-modal>
  </portlet>
</template>

<script>
  import auctionRecordService from '../../../../../appServices/admin/application/auctionRecordService';
  import CommonCreateAndUpdateModalList from '../../../../mixins/CommonCreateAndUpdateModalList';
  import AuctionRecordCreateOrUpdateModal from './AuctionRecordCreateOrUpdateModal';

  export default {
    name: 'AuctionRecordIndex',
    components: { AuctionRecordCreateOrUpdateModal },
    mixins: [CommonCreateAndUpdateModalList],
    data () {
      return {
        api: auctionRecordService,
      };
    }
  };
</script>
