<template>
  <router-view></router-view>
</template>

<script>
  export default {
    name: 'HomeLayout',
    created () {
      if (this.$store.state.session.tenant) {
        this.$router.push({ name: 'Administration.Home.Tenant' });
      }
      else {
        this.$router.push({ name: 'Administration.Home.Host' });
      }
    }
  };
</script>
