<template>
  <portlet>
    <div>
      <i-form type="inline">
        <form-item>
          <i-input v-model="filterParams.name"
                   style="width: 300px;"
                   :placeholder="$t('core.placeholder', { 0: $t('app.common.property.keyword') })"></i-input>
        </form-item>
        <form-item>
          <i-button border circle scene="primary" icon="search" @click="search">{{$t('app.common.action.search')}}</i-button>
        </form-item>
      </i-form>
    </div>
    <i-table class="data-table" :data="items" :fit="true" border v-loading="loading">
      <table-column
        min-width="120"
        :label="$t('app.common.property.fullName')">
        <template scope="scope">
          <span>{{scope.row.fullName}}</span>
        </template>
      </table-column>
      <table-column
        min-width="120"
        :label="$t('app.application.bid.bid')">
        <template scope="scope">
          <i-image height="48" :src="scope.row.bidPicture|filePath"/>
        </template>
      </table-column>
      <table-column
        min-width="120"
        :label="$t('app.common.property.frontOfIDCard')">
        <template scope="scope">
          <i-image height="48" :src="scope.row.frontOfIDCard|filePath"/>
        </template>
      </table-column>
      <table-column
        min-width="120"
        :label="$t('app.common.property.backOfIDCard')">
        <template scope="scope">
          <i-image height="48" :src="scope.row.backOfIDCard|filePath"/>
        </template>
      </table-column>
      <table-column
        min-width="120"
        :label="$t('app.common.property.idNumber')">
        <template scope="scope">
          <span>{{scope.row.idNumber}}</span>
        </template>
      </table-column>
      <table-column
        min-width="120"
        :label="$t('app.common.property.account')">
        <template scope="scope">
          <span>{{scope.row.account}}</span>
        </template>
      </table-column>
      <table-column
        min-width="120"
        :label="$t('app.common.property.password')">
        <template scope="scope">
          <span>{{scope.row.password}}</span>
        </template>
      </table-column>
      <table-column
        width="190"
        prop="creationTime"
        :label="$t('app.common.property.creationTime')">
        <template scope="scope">
          {{scope.row.creationTime | momentFormat}}
        </template>
      </table-column>
    </i-table>
    <Pagination :total="totalCount" :current="filterParams.pageIndex" :page-size="filterParams.pageSize" show-elevator @on-change="handlePageChange"></Pagination>
  </portlet>
</template>

<script>
    import bidService from '../../../../../appServices/admin/application/bidService';
    import CommonList from '../../../../mixins/CommonList';

    export default {
        name: 'Index',
        mixins: [CommonList],
        data () {
            return {
                api: bidService,
                filterParams: {
                    name: null
                }
            };
        }
    };
</script>
