<template>
  <div>
    <div class="data-table-container margin-bottom-1">
      <i-table class="data-table"
               :data="items"
               :fit="true"
               v-loading="loading"
               border>
        <table-column
          :label="$t('app.application.financeAccount.isDefault')">
          <template scope="scope">
            <i-label border scene="success" v-if="scope.row.isDefault === 1">是</i-label>
            <i-label border scene="danger" v-else>否</i-label>
          </template>
        </table-column>
        <table-column
          :label="$t('app.application.financeAccount.type')">
          <template scope="scope">
            <span v-if="scope.row.type === 0">
              {{scope.row.bank.name}}
            </span>
            <span v-if="scope.row.type === 1">
              <img width="32" height="32" src="../../../../../assets/images/apps/alipay.png" class="finance-acount-icon" v-if="scope.row.type===1">
            </span>
            <span v-if="scope.row.type === 2">
              <img width="32" height="32" src="../../../../../assets/images/apps/wechat.png" class="finance-acount-icon" v-if="scope.row.type===2">
            </span>
          </template>
        </table-column>
        <table-column
          :label="$t('app.application.financeAccount.account')">
          <template scope="scope">
            {{scope.row.account}}
          </template>
        </table-column>
        <table-column
          :label="$t('app.application.financeAccount.fullName')">
          <template scope="scope">
            {{scope.row.fullName}}
          </template>
        </table-column>
        <table-column
          :label="$t('app.common.property.creationTime')">
          <template scope="scope">
            {{scope.row.creationTime|momentFormat}}
          </template>
        </table-column>
      </i-table>
    </div>
  </div>
</template>

<script>
  import CommonList from 'canknow-admin-core/src/mixins/CommonList';
  import  financeAccountApi from './../../../../../appServices/admin/application/financeAccount';

  export default {
    name: 'FinanceAccountList',
    mixins: [CommonList],
    props: {
      userId: null
    },
    data () {
      return {
        api: financeAccountApi,
        autoFetch: false,
        filterParams: {
          userId: null
        }
      };
    },
    created() {
      this.filterParams.userId = this.userId;
      this.search();
    }
  };
</script>

