<template>
  <div>
    <portlet :title="$t('app.common.action.create')">
      <i-form :model="model" :rules="rules" ref="form" :label-width="150">
        <form-item label="用户" prop="userId">
          <CustomerSelector v-model="model.userId"></CustomerSelector>
        </form-item>
        <form-item label="状态" prop="status">
          <i-switch name="status" v-model="model.status"></i-switch>
        </form-item>
        <form-item>
          <i-button border radius :loading="saving" icon="save" scene="primary" @click="save">{{$t('app.common.action.save')}}</i-button>
        </form-item>
      </i-form>
    </portlet>
  </div>
</template>

<script>
  import businessNotifierService from '../../../../../appServices/admin/administration/businessNotifierService';
  import CustomerSelector from './../../application/customer/CustomerSelector';
  import CommonCreateOrUpdate from '../../../../mixins/CommonCreateOrUpdate';

  export default {
    components: {
      CustomerSelector
    },
    name: 'BusinessNotifierCreate',
    mixins: [
      CommonCreateOrUpdate
    ],
    data () {
      return {
        id: null,
        model: {},
        rules: {
          userId: [
            { required: true, message: this.$t('core.validate.common.requiredFiled', '用户') }
          ],
          status: [
            { required: true, message: this.$t('core.validate.common.requiredFiled', '状态') }
          ]
        }
      };
    },
    methods: {
      getBusinessNotifierForEdit () {
        businessNotifierService.getBusinessNotifierForEdit({ id: this.id }).then((result) => {
          this.model = result;
        });
      },
      save () {
        this.$refs.form.validate((valid) => {
          if (valid) {
            this.saving = true;
            businessNotifierService.createOrUpdateBusinessNotifier(this.model).then(() => {
              this.$Message.success(this.$t('app.common.message.successfullySaved'));
              this.$router.push({ name: 'Administration.BusinessNotifier.Index' });
            }).finally(() => {
              this.saving = false;
            });
          }
        });
      }
    },
    created () {
      this.id = this.$route.query.id;
      this.getBusinessNotifierForEdit();
    }
  };
</script>
