<template>
  <div>
    <portlet>
      <div class="clearfix margin-bottom-1">
        <div class="pull-right">
          <i-button border circle scene="primary" icon="add" @click="create">
            {{$t('app.common.action.create')}}
          </i-button>
        </div>
      </div>
      <alert>业务通知人将收到所有用户的订单创建、付款、新客户加入通知。</alert>
      <div class="data-table-container margin-bottom-1">
        <i-table class="data-table"
                 :data="items"
                 :fit="true"
                 border>
          <table-column
            min-width="200"
            label="用户">
            <template scope="scope">
              <Profile :user="scope.row.user"></Profile>
            </template>
          </table-column>
          <table-column
            width="80"
            :label="$t('app.common.property.status')">
            <template scope="scope">
              <i-label border fill scene="success" v-if="scope.row.status">{{$t('app.common.status.yes')}}</i-label>
              <i-label border fill v-else>{{$t('app.common.status.no')}}</i-label>
            </template>
          </table-column>
          <table-column
            width="190"
            :label="$t('app.common.property.creationTime')">
            <template scope="scope">
              {{scope.row.creationTime|momentFormat}}
            </template>
          </table-column>
          <table-column
            fixed="right"
            width="200"
            :label="$t('app.common.action.actions')">
            <template scope="scope">
              <i-button border circle scene="primary" @click="edit(scope.row)">
                {{$t('app.common.action.edit')}}
              </i-button>
              <i-button border circle scene="danger"
                        v-if="!scope.row.isStatic"
                        @click="deleteItem(scope.row)">{{$t('app.common.action.delete')}}</i-button>
            </template>
          </table-column>
        </i-table>
      </div>
      <Pagination :total="totalCount" :current="filterParams.pageIndex" :page-size="filterParams.pageSize" show-elevator @on-change="handlePageChange"></Pagination>
    </portlet>
  </div>
</template>

<script>
  import businessNotifierService from '../../../../../appServices/admin/administration/businessNotifierService';
  import CommonList from '../../../../mixins/CommonList';

  export default {
    mixins: [CommonList],
    name: 'BusinessNotifierIndex',
    data () {
      return {
        api: businessNotifierService,
      };
    },
    methods: {
      edit (item) {
        this.$router.push({ name: 'Administration.BusinessNotifier.CreateOrEdit', query: { id: item.id } });
      },
      create () {
        this.$router.push({ name: 'Administration.BusinessNotifier.CreateOrEdit' });
      }
    }
  };
</script>
