<template>
  <div class="thumbnail shadow radius">
    <div class="thumbnail-cover-box">
      <i-image shape="rectangle" class="thumbnail-cover" :proxy="true" :src="article[0].thumb_url"/>
    </div>
    <div class="thumbnail-body">
      <label class="thumbnail-title">{{article[0].title}}</label>
      <ul class="media-list clearfix">
        <li class="media-item" v-for="(newsItem,index) in article" v-if="index>0" :key="index">
          <div class="media">
            <div class="media-cover-box">
              <i-image class="media-cover" width="64" :proxy="true" :src="newsItem.thumb_url" />
            </div>
            <div class="media-body">
              <label class="media-title">{{newsItem.title}}</label>
              <p class="media-content">{{newsItem.digest}}</p>
            </div>
          </div>
        </li>
      </ul>
      <slot></slot>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'PublicWechatArticleItem',
    props: {
      article: {
        type: Array,
        default () {
          return [];
        }
      }
    }
  };
</script>
