<template>
  <div class="file-manage">
    <div class="file-manage-body">
      <div>
        <i-form type="inline">
          <form-item>
            <i-input block :placeholder="$t('core.placeholder', { 0: 'FileName' })" v-model="filterParams.fileName"></i-input>
          </form-item>
          <form-item>
            <i-button border circle scene="primary" icon="search" @click="handleSearch">Search</i-button>
          </form-item>
        </i-form>
      </div>
      <ul class="thumbnail-list span-4" v-loading="loading">
        <li class="thumbnail-item" v-for="item in items" @click="select(item)" :key="item.media_id">
          <ArticleItem :article="item.content.news_item">
            <label class="thumbnail-datetime">{{item.update_time| momentFormat}}</label>
          </ArticleItem>
        </li>
      </ul>
      <Pagination :total="totalCount"
                  :current="filterParams.pageIndex"
                  :page-size="filterParams.pageSize"
                  show-elevator
                  @on-change="handlePageChange"></Pagination>
    </div>
  </div>
</template>

<script>
    import publicWechatService from '../../../../../../appServices/admin/application/publicWechatService';
    import ArticleItem from './ArticleItem';
    import CommonList from './../../../../../mixins/CommonList';

    export default {
        name: 'PublicWechatFileArticle',
        mixins: [CommonList],
        components: {
            ArticleItem
        },
        data () {
            return {
                api: publicWechatService,
                fetchHandleName: 'getMediaNews',
            };
        },
        methods: {
            handleInput (filePath) {
                publicWechatService.uploadMediaImage({ path: filePath }).then((result) => {
                    this.search();
                });
            },
            select (file) {
                this.$emit('select', file);
            }
        }
    };
</script>

