<template>
  <div class="file-manage">
    <div class="file-manage-sidebar">
      <div class="content-padding">
        <FileUploader block @input="handleInput" :useQiniu="false">
          <i-button border circle icon="upload">UploadFile</i-button>
        </FileUploader>
      </div>
    </div>
    <div class="file-manage-body">
      <div>
        <i-form type="inline">
          <form-item>
            <i-input block :placeholder="$t('core.placeholder', { 0: 'FileName' })" v-model="filterParams.fileName"></i-input>
          </form-item>
          <form-item>
            <i-button border circle scene="primary" icon="search" @click="handleSearch">Search</i-button>
          </form-item>
        </i-form>
      </div>
      <ul class="file-list" v-loading="loading">
        <li class="file-item" v-for="(file, index) in items" :key="index" @click="select(file)">
          <div class="file-cover-wrap">
            <audio :src="file.url|proxyFilePath"></audio>
          </div>
          <div class="file-body">
            <label class="file-title">{{file.name}}</label>
            <div class="creation-time-wrap">
              <span class="creation-time">{{file.creationTime}}</span>
            </div>
          </div>
        </li>
      </ul>
      <Pagination :total="totalCount"
                  :current="filterParams.pageIndex"
                  :page-size="filterParams.pageSize"
                  show-elevator
                  @on-change="handlePageChange"></Pagination>
    </div>
  </div>
</template>

<script>
    import publicWechatService from '../../../../../../appServices/admin/application/publicWechatService';
    import CommonList from './../../../../../mixins/CommonList';

    export default {
        name: 'PublicWechatFilePicture',
        mixins: [CommonList],
        data () {
            return {
                api: publicWechatService,
                fetchHandleName: 'getMediaOthers',
                filterParams: {
                    type: 'voice'
                }
            };
        },
        methods: {
            handleInput (filePath) {
                publicWechatService.uploadMediaImage({ path: filePath }).then((result) => {
                    this.search();
                });
            },
            select (file) {
                this.$emit('select', file);
            }
        }
    };
</script>
