<template>
  <portlet>
    <Menu mode="horizontal" active-key="picture" @select="handleMenuSelect">
      <MenuItem key="picture" icon="picture" name="picture"><span slot="title">picture</span></MenuItem>
      <MenuItem key="article" icon="article" name="article"><span slot="title">article</span></MenuItem>
      <MenuItem key="video" icon="video" name="video"><span slot="title">video</span></MenuItem>
      <MenuItem key="audio" icon="audio" name="audio"><span slot="title">audio</span></MenuItem>
    </Menu>
    <router-view class="child-view"></router-view>
  </portlet>
</template>

<script>
  export default {
    name: 'PublicWechatFileIndex',
    data () {
      return {
      };
    },
    methods: {
      handleMenuSelect (name) {
        this.$router.push({ path: name });
      }
    }
  };
</script>
