<template>
  <div>
    <i-button @click="handleClick">{{$t('core.select.placeholder', { 0: 'Audio' })}}</i-button>
    <audio :width="width" :src="url" v-if="url"></audio>
    <Modal v-model="showModal" page :title="L('SelectAudio')">
      <AudioPage @select="handleSelect" v-if="showModal"></AudioPage>
    </Modal>
  </div>
</template>

<script>
  import AudioPage from './AudioPage';

  export default {
    name: 'PublicWechatAudioSelector',
    components: {
      AudioPage
    },
    props: {
      value: {
        type: String
      },
      width: {
        type: [Number, String],
        default: 96
      }
    },
    data () {
      return {
        showModal: false,
        selectedAudio: null,
        url: null
      };
    },
    watch: {
      value (newValue) {
        if (newValue) {
          this.getAudioByValue();
        }
      }
    },
    methods: {
      handleClick () {
        this.showModal = true;
      },
      getAudioByValue () {
        this.url = this.$store.getters.baseUrl + '/Application/GetPublicWechatOthersMediaById?type=audio&MediaId=' + this.value;
      },
      handleSelect (audio) {
        this.selectedAudio = audio;
        this.url = this.selectedAudio.url;
        this.$emit('input', audio.media_id);
        this.showModal = false;
      }
    },
    mounted () {
      if (this.value) {
        this.getAudioByValue();
      }
    }
  };
</script>
