<template>
  <div>
    <row v-if="selectedArticle">
      <column :span="6" md>
        <div @click="handleClick" class="thumbnail-list">
          <ArticleItem :article="selectedArticle"></ArticleItem>
        </div>
      </column>
    </row>
    <i-button v-if="!selectedArticle" @click="handleClick">{{$t('core.select.placeholder', { 0: 'Article' })}}</i-button>
    <Modal v-model="showModal" page :title="$t('core.select.placeholder', { 0: L('Article') })">
      <ArticlePage @select="handleSelect" v-if="showModal"></ArticlePage>
    </Modal>
  </div>
</template>

<script>
  import ArticlePage from './ArticlePage';
  import publicWechatService from './../../../../../../appServices/admin/application/publicWechatService';
  import ArticleItem from './ArticleItem';

  export default {
    name: 'PublicWechatArticleSelector',
    components: {
      ArticlePage,
      ArticleItem
    },
    props: {
      value: {
        type: String
      },
      width: {
        type: [Number, String],
        default: 96
      }
    },
    data () {
      return {
        showModal: false,
        selectedArticle: null
      };
    },
    watch: {
      value (newValue) {
        if (newValue) {
          this.getArticleByValue();
        }
      }
    },
    methods: {
      handleClick () {
        this.showModal = true;
      },
      getArticleByValue () {
        publicWechatService.getForeverNewsAsync({ mediaId: this.value }).then((result) => {
          this.selectedArticle = result;
        });
      },
      handleSelect (article) {
        this.selectedArticle = article;
        this.$emit('input', article.media_id);
        this.showModal = false;
      }
    },
    mounted () {
      if (this.value) {
        this.getArticleByValue();
      }
    }
  };
</script>
