<template>
  <div>
    <i-image :width="width" :src="url" @click.native="handleClick"></i-image>
    <Modal v-model="showModal" :title="$t('core.select.placeholder', { 0: 'Picture'})">
      <PicturePage @select="handleSelect" v-if="showModal"></PicturePage>
    </Modal>
  </div>
</template>

<script>
  import PicturePage from './PicturePage';

  export default {
    name: 'PublicWechatPictureSelector',
    components: {
      PicturePage
    },
    props: {
      value: {
        type: String
      },
      width: {
        type: [Number, String],
        default: 96
      }
    },
    data () {
      return {
        showModal: false,
        selectedPicture: null,
        url: null
      };
    },
    watch: {
      value (newValue) {
        if (newValue) {
          this.getPictureByValue();
        }
      }
    },
    methods: {
      handleClick () {
        this.showModal = true;
      },
      getPictureByValue () {
        this.url = this.$store.getters.baseUrl + '/Application/GetPublicWechatOthersMediaById?MediaId=' + this.value;
      },
      handleSelect (picture) {
        this.selectedPicture = picture;
        this.url = this.selectedPicture.url;
        this.$emit('input', picture.media_id);
        this.showModal = false;
      }
    },
    mounted () {
      if (this.value) {
        this.getPictureByValue();
      }
    }
  };
</script>
