<template>
  <div>
    <i-button @click="handleClick">{{$t('core.select.placeholder', { 0: 'Video' })}}</i-button>
    <video :width="width" :src="url" v-if="url"></video>
    <Modal v-model="showModal" page title="'SelectVideo'">
      <VideoPage @select="handleSelect" v-if="showModal"></VideoPage>
    </Modal>
  </div>
</template>

<script>
  import VideoPage from './VideoPage';

  export default {
    name: 'PublicWechatVideoSelector',
    components: {
      VideoPage
    },
    props: {
      value: {
        type: String
      },
      width: {
        type: [Number, String],
        default: 96
      }
    },
    data () {
      return {
        showModal: false,
        selectedVideo: null,
        url: null
      };
    },
    watch: {
      value (newValue) {
        if (newValue) {
          this.getVideoByValue();
        }
      }
    },
    methods: {
      handleClick () {
        this.showModal = true;
      },
      getVideoByValue () {
        this.url = this.$store.getters.baseUrl + '/Application/GetPublicWechatOthersMediaById?type=video&MediaId=' + this.value;
      },
      handleSelect (video) {
        this.selectedVideo = video;
        this.url = this.selectedVideo.url;
        this.$emit('input', video.media_id);
        this.showModal = false;
      }
    },
    mounted () {
      if (this.value) {
        this.getVideoByValue();
      }
    }
  };
</script>
