<template>
  <portlet :title="$t('app.application.shop.shop')" icon="tenant">
    <div slot="actions">
      <router-link :to="{path: '/admin/shop/setting'}">
        <i-button border circle>{{$t('app.application.shop.setting')}}</i-button>
      </router-link>
    </div>
    <div class="mobile-access">
      <Qrcode :config="config"></Qrcode>
      <a class="link">{{link}}</a>
      <label class="qrcode-notice">请使用手机扫码访问</label>
    </div>
  </portlet>
</template>

<script>
  import Qrcode from 'vue-qart';
  import logo from '../../../../../assets/images/logo.png';
  import mobileLinkHelper from '../../../../../common/mobileLinkHelper';

  export default {
    name: 'ShopIndex',
    components: {
      Qrcode
    },
    computed: {
      link () {
        return mobileLinkHelper.getHomeLink();
      },
      config () {
        return {
          value: this.link,
          imagePath: logo,
          filter: 'color'
        };
      }
    }
  };
</script>

