<template>
  <portlet :title="$t('app.application.shop.editShopInformation')">
    <div slot="actions">
      <i-button border circle icon="save" @click="save" :loading="saving" scene="primary">{{$t("app.common.action.save")}}</i-button>
    </div>
    <div v-loading="loading" mask>
      <i-form :label-width="150" :rules="rules" ref="form" :model="shop">
        <tab :animated="false">
          <tab-pane name="baseInfo" :label="$t('app.application.shop.baseInfo')">
            <div class="content-padding">
              <form-item :label="$t('app.application.shop.shopName')" prop="name">
                <i-input block name="name" v-model="shop.name"></i-input>
              </form-item>
              <form-item :label="$t('app.application.shop.shopTitle')" prop="title">
                <i-input block name="title" v-model="shop.title"></i-input>
              </form-item>
              <form-item :label="$t('app.application.shop.shopDescription')" prop="description">
                <i-input type="textarea" block name="description" v-model="shop.description"></i-input>
              </form-item>
              <form-item :label="$t('app.application.shop.address')" prop="address">
                <i-input block name="address" v-model="shop.address"></i-input>
              </form-item>
              <form-item :label="$t('app.application.shop.companyName')" prop="companyName">
                <i-input block name="companyName" v-model="shop.companyName"></i-input>
              </form-item>
              <form-item :label="$t('app.application.shop.telePhone')" prop="telephone">
                <i-input block name="telephone" v-model="shop.telePhone"></i-input>
              </form-item>
              <form-item :label="$t('app.application.shop.shopLogo')" prop="logo">
                <picture-uploader name="logo" v-model="shop.logo"></picture-uploader>
              </form-item>
              <form-item :label="$t('app.application.shop.copyrightLogo')" prop="copyrightLogo">
                <picture-uploader name="copyrightLogo" v-model="shop.copyrightLogo"></picture-uploader>
                <p slot="help">
                  展示在店铺各个页面底部的logo。规定为长方形图标。
                </p>
              </form-item>
              <form-item :label="$t('app.application.shop.wechatQrcode')" prop="wechatQrcode">
                <picture-uploader name="wechatQrcode" v-model="shop.wechatQrcode"></picture-uploader>
                <p slot="help">
                  店铺客服二维码。
                </p>
              </form-item>
              <form-item :label="$t('app.application.shop.seal')" prop="seal">
                <picture-uploader name="seal" v-model="shop.seal"></picture-uploader>
                <p slot="help">
                  店铺合同公章。
                </p>
              </form-item>
            </div>
          </tab-pane>
          <tab-pane name="shareInformation" :label="$t('app.application.shop.shareInformation')">
            <div class="content-padding">
              <alert>
                设置店铺主页的分享信息。
              </alert>
              <form-item :label="$t('app.application.shop.shareTitle')">
                <i-input block name="shareTitle" v-model="shop.shareTitle"></i-input>
              </form-item>
              <form-item :label="$t('app.application.shop.shareDescription')">
                <i-input block name="shareDescription" v-model="shop.shareDescription"></i-input>
              </form-item>
              <form-item :label="$t('app.application.shop.sharePicture')">
                <picture-uploader name="sharePicture" v-model="shop.sharePicture"></picture-uploader>
                <p slot="help">
                  请保证上传文件名非中文，否则分享后无法显示图片。
                </p>
              </form-item>
            </div>
          </tab-pane>
          <tab-pane name="agree" :label="$t('app.application.shop.agree.agree')">
            <div class="content-padding">
              <form-item :label="$t('app.application.shop.agree.enableAgree')">
                <i-switch v-model="shop.enableAgree"></i-switch>
              </form-item>
              <form-item :label="$t('app.application.shop.agree.agreeContent')">
                <i-input block type="textarea" name="agreeContent" v-model="shop.agreeContent"></i-input>
              </form-item>
            </div>
          </tab-pane>
          <tab-pane name="notice" :label="$t('app.application.shop.notice.notice')">
            <div class="content-padding">
              <form-item :label="$t('app.application.shop.notice.notice')">
                <i-input block type="textarea" name="notice" v-model="shop.notice"></i-input>
              </form-item>
            </div>
          </tab-pane>
          <tab-pane name="order" :label="$t('app.application.shop.order.order')">
            <div class="content-padding">
              <form-item :label="$t('app.application.shop.order.uploadBidNotice')">
                <i-input :rows="5" block type="textarea" name="uploadBidNotice" v-model="shop.uploadBidNotice"></i-input>
              </form-item>
              <form-item :label="$t('app.application.shop.order.offlinePayNote')">
                <i-input :rows="15" block type="textarea" name="offlinePayNote" v-model="shop.offlinePayNote"></i-input>
              </form-item>
            </div>
          </tab-pane>
          <tab-pane name="contract" :label="$t('app.application.shop.contract.contract')">
            <div class="content-padding">
              <row :gutter="1">
                <column md="12">
                  <form-item :label="$t('app.application.shop.contract.contractTemplate')">
                    <i-input :rows="20" type="textarea" block name="contract" v-model="shop.contractTemplate"/>
                  </form-item>
                </column>
                <column md="12">
                  <i-table :data="contractTemplateVariables">
                    <table-column label="模板字段">
                      <template slot-scope="scope">
                        {{scope.row.name}}
                      </template>
                    </table-column>
                    <table-column label="模板占位符">
                      <template slot-scope="scope">
                        {{scope.row.value}}
                      </template>
                    </table-column>
                  </i-table>
                </column>
              </row>
            </div>
          </tab-pane>
          <tab-pane name="aboutUs" :label="$t('app.application.shop.aboutUs.aboutUs')">
            <Editor v-model="shop.aboutUs"></Editor>
          </tab-pane>
        </tab>
      </i-form>
    </div>
  </portlet>
</template>

<script>
  import shopService from '../../../../../appServices/admin/application/shopService';

  export default {
    name: 'ShopSettings',
    data () {
      return {
        saving: false,
        shop: {
        },
        loading: false,
        address: null,
        rules: {
        },
        contractTemplateVariables: [
          {
            name: '姓名',
            value: '{FullName}'
          },
          {
            name: '身份证号',
            value: '{IDNumber}'
          },
          {
            name: '手机号',
            value: '{PhoneNumber}'
          },
          {
            name: '投标号',
            value: '{Account}'
          },
          {
            name: '公司名',
            value: '{ShopCompany}'
          },
          {
            name: '公司电话',
            value: '{ShopTelePhone}'
          },
          {
            name: '地址',
            value: '{ShopAddress}'
          },
          {
            name: '服务费用',
            value: '{Price}'
          },
          {
            name: '代拍次数',
            value: '{AttemptCount}'
          },
          {
            name: '赔付金额',
            value: '{CompensationMoney}'
          },
          {
            name: '签名',
            value: '{Sign}'
          },
          {
            name: '日期',
            value: '{DateTime}'
          }
        ]
      };
    },
    methods: {
      save () {
        this.$refs.form.validate((valid) => {
          if (valid) {
            this.saving = true;
            shopService.updateShop(this.shop).then(() => {
            }).finally(() => {
              this.saving = false;
            });
          }
        });
      },
      getShop () {
        this.loading = true;
        shopService.getShop().then((result) => {
          this.shop = result;
        }).finally(() => {
          this.loading = false;
        });
      }
    },
    created () {
      this.getShop();
    }
  };
</script>
