<template>
  <portlet>
    <div class="margin-bottom-1">
      <i-form type="inline">
        <form-item>
          <DatePicker clearable :placeholder="$t('core.select.placeholder', { 0: $t('app.common.property.dateRange') })" transfer type="daterange" block v-model="filterParams.dateRange"></DatePicker>
        </form-item>
        <form-item>
          <i-select clearable class="width-em20" v-model="filterParams.status" :placeholder="$t('core.select.placeholder', { 0: $t('app.common.property.status') })">
            <i-option value="0">{{$t('app.application.withdrawApply.statuses.withdrawing')}}</i-option>
            <i-option value="1">{{$t('app.application.withdrawApply.statuses.success')}}</i-option>
            <i-option value="2">{{$t('app.application.withdrawApply.statuses.fail')}}</i-option>
            <i-option value="3">{{$t('app.application.withdrawApply.statuses.invalid')}}</i-option>
          </i-select>
        </form-item>
        <form-item>
          <i-button :loading="loading" border circle icon="search" scene="primary" @click="search">{{ $t('app.common.action.search')}}</i-button>
        </form-item>
      </i-form>
    </div>
    <alert>累计提现记录{{totalCount}}。累计提现金额{{totalMoney}}。</alert>
    <div class="data-table-container margin-bottom-1">
      <i-table class="data-table" :data="items" highlight-current-row border>
        <table-column
          fixed
          min-width="200"
          prop="serialNumber"
          :label="$t('app.application.walletRecord.serialNumber')">
        </table-column>
        <table-column
          min-width="120"
          prop="money"
          :label="$t('app.common.property.money')">
        </table-column>
        <table-column
          min-width="300"
          :label="$t('app.common.property.user')">
          <template scope="scope">
            <Profile :user="scope.row.user"></Profile>
          </template>
        </table-column>
        <table-column
          width="100"
          :label="$t('app.application.withdrawApply.payType')">
          <template scope="scope">
            {{scope.row.payTypeText}}
          </template>
        </table-column>
        <table-column
          width="100"
          prop="withdrawMethod"
          :label="$t('app.application.withdrawApply.withdrawMethod')">
          <template scope="scope">
            {{scope.row.withdrawMethodText}}
          </template>
        </table-column>
        <table-column
          width="200"
          prop="failReason"
          :label="$t('app.common.property.user')">
        </table-column>
        <table-column
          width="200"
          prop="account"
          :label="$t('app.application.withdrawApply.account')">
        </table-column>
        <table-column
          width="100"
          prop="status"
          :label="$t('app.common.property.status')">
          <template scope="scope">
            <i-label border fill scene="success" v-if="scope.row.status==0">{{scope.row.statusText}}</i-label>
            <i-label border fill scene="success" v-if="scope.row.status==1">{{scope.row.statusText}}</i-label>
            <i-label border fill scene="danger" v-if="scope.row.status==2">{{scope.row.statusText}}</i-label>
            <i-label border fill scene="danger" v-if="scope.row.status==3">{{scope.row.statusText}}</i-label>
          </template>
        </table-column>
        <table-column
          width="150"
          :label="$t('app.common.property.creationTime')">
          <template scope="scope">
            {{scope.row.creationTime|momentFormat}}
          </template>
        </table-column>
        <table-column
          width="150"
          :label="$t('app.common.property.lastModificationTime')">
          <template scope="scope">
            {{scope.row.lastModificationTime|momentFormat}}
          </template>
        </table-column>
        <table-column
          fixed="right"
          width="100"
          :label="$t('app.common.action.actions')">
          <template scope="scope">
            <i-button border
                      circle
                      scene="primary"
                      @click="withdraw(scope.row)"
                      :loading="withdrawing&&withdrawingWithdrawApply==scope.row"
                      v-if="scope.row.status!==1">{{$t('app.application.withdrawApply.withdraw')}}</i-button>
          </template>
        </table-column>
      </i-table>
    </div>
    <Pagination :total="totalCount" :current="filterParams.pageIndex" :page-size="filterParams.pageSize" show-elevator @on-change="handlePageChange"></Pagination>
  </portlet>
</template>

<script>
  import withdrawApplyService from '../../../../../../appServices/admin/application/withdrawApplyService';
  import CommonList from './../../../../../mixins/CommonList';

  export default {
    name: 'WithdrawApplyIndex',
    mixins: [CommonList],
    data () {
      return {
        api: withdrawApplyService,
        totalMoney: 0,
        withdrawing: false,
        withdrawingWithdrawApply: null,
        filterParams: {
          dateRange: null,
          startTime: null,
          endTime: null,
          status: null,
          userId: null
        }
      };
    },
    methods: {
      withdraw (withdrawApply) {
        this.withdrawing = true;
        this.withdrawingWithdrawApply = withdrawApply;
        withdrawApplyService.withdraw({
          id: withdrawApply.id
        }).then((result) => {
          this.fetchData();
        }).finally(() => {
          this.withdrawing = false;
          this.withdrawingWithdrawApply = null;
        });
      },
      getAll () {
        this.loading = true;
        withdrawApplyService.getWithdrawApplyAllOfPage(this.filterParams).then((result) => {
          this.items = result.pagedResult.items;
          this.totalCount = result.pagedResult.totalCount;
          this.totalMoney = result.totalMoney;
        }).finally(() => {
          this.loading = false;
          this.loaded = true;
        });
      }
    }
  };
</script>
