<template>
  <portlet>
    <div class="clearfix margin-bottom-1">
    </div>
    <div class="margin-bottom-1">
      <i-form type="inline" class="clearfix">
        <form-item>
          <i-select class="width-em20" clearable block v-model="filterParams.status" :placeholder="$t('core.select.placeholder', { 0: $t('app.common.property.status') })">
            <i-option value="0">{{$t('app.application.walletRecord.walletRecordStatuses.active')}}</i-option>
            <i-option value="1">{{$t('app.application.walletRecord.walletRecordStatuses.freezing')}}</i-option>
            <i-option value="2">{{$t('app.application.walletRecord.walletRecordStatuses.invalid')}}</i-option>
          </i-select>
        </form-item>
        <form-item>
          <DatePicker clearable :placeholder="$t('core.select.placeholder', { 0: $t('app.common.property.dateRange') })" transfer type="daterange" block v-model="filterParams.dateRange"></DatePicker>
        </form-item>
        <i-button :loading="loading" border circle icon="search" scene="primary" @click="search">{{ $t('app.common.action.search')}}</i-button>
      </i-form>
    </div>
    <div class="data-table-container margin-bottom-1">
      <i-table class="data-table"
               :data="items"
               highlight-current-row
               border>
        <table-column
          fixed
          min-width="200"
          prop="serialNumber"
          :label="$t('app.application.walletRecord.serialNumber')">
        </table-column>
        <table-column
          min-width="80"
          prop="money"
          :label="$t('app.application.walletRecord.money')">
        </table-column>
        <table-column
          min-width="300"
          :label="$t('app.common.property.user')">
          <template scope="scope">
            <Profile :user="scope.row.user"></Profile>
          </template>
        </table-column>
        <table-column
          width="100"
          :label="$t('app.common.property.type')">
          <template scope="scope">
            {{`app.application.walletRecord.types.${scope.row.typeText.toLowerCase()}`|localize}}
          </template>
        </table-column>
        <table-column
          width="300"
          prop="remark"
          show-overflow-tooltip
          :label="$t('app.common.property.remark')">
        </table-column>
        <table-column
          width="100"
          prop="status"
          :label="$t('app.common.property.status')">
          <template scope="scope">
            <i-label border fill scene="success" v-if="scope.row.status===0">
              {{`app.application.walletRecord.walletRecordStatuses.${scope.row.statusText.toLowerCase()}`|localize}}
            </i-label>
            <i-label border fill scene="danger" v-if="scope.row.status!==0">
              {{`app.application.walletRecord.walletRecordStatuses.${scope.row.statusText.toLowerCase()}`|localize}}
            </i-label>
          </template>
        </table-column>
        <table-column
          width="150"
          :label="$t('app.common.property.creationTime')">
          <template scope="scope">
            {{scope.row.creationTime|momentFormat}}
          </template>
        </table-column>
        <table-column
          width="150"
          :label="$t('app.common.property.lastModificationTime')">
          <template scope="scope">
            {{scope.row.lastModificationTime|momentFormat}}
          </template>
        </table-column>
        <table-column
          fixed="right"
          width="100"
          :label="$t('app.common.action.actions')">
          <template>

          </template>
        </table-column>
      </i-table>
    </div>
    <Pagination :total="totalCount" :current="filterParams.pageIndex" :page-size="filterParams.pageSize" show-elevator @on-change="handlePageChange"></Pagination>
  </portlet>
</template>

<script>
  import walletRecordService from '../../../../../../appServices/admin/application/walletRecordService';
  import CommonList from './../../../../../mixins/CommonList';

  export default {
    name: 'WalletRecordIndex',
    mixins: [CommonList],
    data () {
      return {
        api: walletRecordService,
        income: 0,
        output: 0,
        filterParams: {
          dateRange: null,
          startTime: null,
          endTime: null,
          status: null,
          userId: null
        }
      };
    },
    watch: {
      'filterParams.dateRange' (dateRange) {
        this.filterParams.startTime = dateRange[0];
        this.filterParams.endTime = dateRange[1];
      }
    }
  };
</script>

