<template>
  <portlet :title="$t('core.crud.createOrEdit', { 0: $t('app.application.article.article') })">
    <div slot="actions">
      <i-button border circle :loading="saving" icon="save" scene="primary" @click="save">{{$t('app.common.action.save')}}</i-button>
    </div>
    <i-form :model="model" :rules="rules" ref="form" :label-width="100" v-loading="loading" mask>
      <Row :gutter="1">
        <Column md="12">
          <form-item :label="$t('app.common.property.title')" prop="title">
            <i-input name="title" v-model="model.title" block></i-input>
          </form-item>
          <form-item :label="$t('app.application.article.subTitle')" prop="subTitle">
            <i-input name="subTitle" v-model="model.subTitle" block></i-input>
          </form-item>
          <form-item :label="$t('app.application.article.articleCategory')" prop="articleCategoryId">
            <ArticleCategorySelector name="articleCategoryId" v-model="model.articleCategoryId" ></ArticleCategorySelector>
          </form-item>
          <form-item :label="$t('app.application.article.description')" prop="description">
            <i-input :rows="8" name="description" type="textarea" v-model="model.description" block></i-input>
          </form-item>
          <form-item :label="$t('app.common.property.thumbnail')" prop="thumbnail">
            <PictureUploader v-model="model.thumbnail" block></PictureUploader>
          </form-item>
          <form-item :label="$t('app.common.property.author')" prop="author">
            <i-input name="author" v-model="model.author" block></i-input>
          </form-item>
          <form-item :label="$t('app.common.property.keyword')" prop="keyWord">
            <i-input name="keyWord" v-model="model.keyWord" block></i-input>
          </form-item>
          <form-item :label="$t('app.common.property.hint')" prop="hint">
            <i-input type="number" min="0" name="hint" v-model="model.hint" block></i-input>
          </form-item>
          <form-item :label="$t('app.common.property.like')" prop="like">
            <i-input type="number" min="0" name="like" v-model="model.like" block></i-input>
          </form-item>
          <form-item :label="$t('app.common.property.status')" prop="status">
            <i-switch :trueValue="1" :falseValue="0" v-model="model.status" block></i-switch>
          </form-item>
          <form-item :label="$t('app.application.article.isRedirectExternal')" prop="isRedirectExternal">
            <i-switch v-model="model.isRedirectExternal" block></i-switch>
          </form-item>
          <form-item :label="$t('app.application.article.externalLink')" prop="externalLink" v-if="model.isRedirectExternal">
            <i-input name="externalLink" v-model="model.externalLink" block></i-input>
          </form-item>
        </Column>
        <Column md="12">
          <form-item prop="content" class="no-label" v-if="!model.isRedirectExternal">
            <Editor v-model="model.content"></Editor>
          </form-item>
        </Column>
      </Row>
    </i-form>
  </portlet>
</template>

<script>
  import articleService from './../../../../../appServices/admin/application/articleService';
  import ArticleCategorySelector from './../articleCategory/ArticleCategorySelector';
  import CommonCreateOrUpdate from '../../../../mixins/CommonCreateOrUpdate';

  export default {
    name: 'ArticleCreateOrUpdate',
    components: {
      ArticleCategorySelector
    },
    mixins: [CommonCreateOrUpdate],
    data () {
      return {
        api: articleService,
        entityName: 'Article',
        rules: {
          title: [
            { required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.common.property.title') }) }
          ],
          articleCategoryId: [
            { required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.application.article.articleCategory') }) }
          ],
          thumbnail: [
            { required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.common.property.thumbnail') }) }
          ],
          content: [
            { required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.application.article.content') }) }
          ],
          author: [
            { required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.common.property.author') }) }
          ]
        }
      };
    }
  };
</script>

