<template>
  <portlet>
    <div slot="actions">
      <router-link :to="{name: 'ArticleCategoryIndex'}">
        <i-button border circle>文章分类</i-button>
      </router-link>
      <i-button border circle scene="primary" icon="add" @click="create">
        {{$t('app.common.action.create')}}
      </i-button>
    </div>
    <div>
      <i-form type="inline">
        <form-item>
          <i-input clearable :placeholder="$t('core.placeholder', { 0: $t('app.common.property.title')})" v-model="filterParams.title"></i-input>
        </form-item>
        <form-item>
          <ArticleCategorySelector class="width-em20" v-model="filterParams.articleCategoryId"></ArticleCategorySelector>
        </form-item>
        <form-item>
          <i-button border circle scene="primary" icon="search" @click="search">{{$t('app.common.action.search')}}</i-button>
        </form-item>
      </i-form>
    </div>
    <div class="data-table-container margin-bottom-1">
      <i-table class="data-table"
               :data="items"
               :fit="true"
               v-loading="loading"
               border>
        <table-column
          min-width="200"
          prop="title"
          show-overflow-tooltip
          :label="$t('app.common.property.title')">
        </table-column>
        <table-column
          min-width="120"
          :label="$t('app.common.property.thumbnail')">
          <template scope="scope">
            <i-image width="32" :src="scope.row.thumbnail"></i-image>
          </template>
        </table-column>
        <table-column
          min-width="120"
          prop="author"
          :label="$t('app.common.property.author')">
        </table-column>
        <table-column
          min-width="120"
          prop="like"
          :label="$t('app.common.property.like')">
        </table-column>
        <table-column
          min-width="120"
          prop="hint"
          :label="$t('app.common.property.hint')">
        </table-column>
        <table-column
          width="80"
          :label="$t('app.common.property.status')">
          <template scope="scope">
            <i-label border fill scene="success" v-if="scope.row.status">{{$t('app.common.status.yes')}}</i-label>
            <i-label border fill v-else>{{$t('app.common.status.no')}}</i-label>
          </template>
        </table-column>
        <table-column
          width="190"
          :label="$t('app.common.property.creationTime')">
          <template scope="scope">
            {{scope.row.creationTime|momentFormat}}
          </template>
        </table-column>
        <table-column
          fixed="right"
          width="300"
          :label="$t('app.common.action.actions')">
          <template scope="scope">
            <i-button border circle scene="primary" @click="edit(scope.row)">
              {{$t('app.common.action.edit')}}
            </i-button>
            <i-button border circle scene="danger" @click="deleteItem(scope.row)">{{$t('app.common.action.delete')}}</i-button>
          </template>
        </table-column>
      </i-table>
    </div>
    <Pagination :total="totalCount" :current="filterParams.pageIndex" :page-size="filterParams.pageSize" show-elevator @on-change="handlePageChange"></Pagination>
  </portlet>
</template>

<script>
    import articleService from './../../../../../appServices/admin/application/articleService';
    import ArticleCategorySelector from './../articleCategory/ArticleCategorySelector';
    import IndependentCreateOrUpdateCommonList from '../../../../mixins/CommonIndependentCreateOrUpdateList';

    export default {
        name: 'ArticleIndex',
        components: {
            ArticleCategorySelector
        },
        mixins: [IndependentCreateOrUpdateCommonList],
        data () {
            return {
                api: articleService,
                entityName: 'Article',
                filterParams: {
                    title: null,
                    articleCategoryId: null
                }
            };
        }
    };
</script>

