<template>
  <portlet>
    <div class="data-table-container margin-bottom-1">
      <i-table class="data-table"
               :data="items"
               border>
        <table-column
          min-width="120"
          prop="code"
          :label="$t('app.application.captcha.code')">
        </table-column>
        <table-column
          min-width="120"
          prop="providerKey"
          :label="$t('app.application.captcha.providerKey')">
        </table-column>
        <table-column
          min-width="120"
          prop="provider"
          :label="$t('app.application.captcha.provider')">
        </table-column>
        <table-column
          min-width="120"
          prop="verificationState"
          :label="$t('app.common.property.status')">
        </table-column>
        <table-column
          width="190"
          :label="$t('app.common.property.creationTime')">
          <template scope="scope">
            {{scope.row.creationTime|momentFormat}}
          </template>
        </table-column>
        <table-column
          fixed="right"
          width="200"
          :label="$t('app.common.action.actions')">
          <template scope="scope">
            <i-button circle border scene="primary" @click="reSend(scope.row)">{{$t('app.application.captcha.reSend')}}</i-button>
          </template>
        </table-column>
      </i-table>
    </div>
    <Pagination :total="totalCount" :current="filterParams.pageIndex" :page-size="filterParams.pageSize" show-elevator @on-change="handlePageChange"></Pagination>
  </portlet>
</template>

<script>
    import captchaService from '../../../../../appServices/admin/administration/captchaService';
    import CommonList from './../../../../mixins/CommonList';

    export default {
        name: 'CaptchaIndex',
        mixins: [CommonList],
        data () {
            return {
                api: captchaService,
                filterParams: {
                }
            };
        },
        methods: {
            reSend (item) {
                this.api.reSend({ id: item.id }).then(() => {
                    this.$Message.success(this.$t('app.application.captcha.successfullyResend'));
                });
            }
        }
    };
</script>
