<template>
  <div>
    <i-form :label-width="150" :model="model">
      <form-item :label="$t('app.application.publicWechat.setting.baseInfo.publicWechatName')">
        <i-input block v-model="model.name" name="name"></i-input>
      </form-item>
      <form-item :label="$t('app.application.publicWechat.setting.baseInfo.loginAccount')">
        <i-input block v-model="model.account" name="account"></i-input>
      </form-item>
      <form-item :label="$t('app.application.publicWechat.setting.baseInfo.loginPassword')">
        <i-input type="password" block v-model="model.password" name="password"></i-input>
      </form-item>
      <form-item :label="$t('app.application.publicWechat.setting.baseInfo.publicWechatDescription')">
        <i-input type="textarea" block v-model="model.description" name="description"></i-input>
      </form-item>
      <form-item :label="$t('app.application.publicWechat.setting.baseInfo.publicWechatQrcode')">
        <PictureUploader v-model="model.qrcode" name="qrcode"></PictureUploader>
      </form-item>
      <form-item>
        <i-button border circle icon="save" :loading="saving" @click="save" scene="primary">{{$t('app.common.action.save')}}</i-button>
      </form-item>
    </i-form>
  </div>
</template>

<script>
    import publicWechatService from '../../../../../../appServices/admin/application/publicWechatService';

    export default {
        name: 'BaseInfo',
        data () {
            return {
                loading: false,
                model: {},
                saving: false
            };
        },
        methods: {
            fetchData () {
                this.loading = true;
                publicWechatService.getPublicWechat().then((result) => {
                    this.model = result;
                }).finally(() => {
                    this.loading = false;
                });
            },
            save () {
                this.saving = true;
                publicWechatService.updatePublicWechat(this.model).then(() => {
                    this.$Message.success('app.common.message.successfullySaved');
                }).finally(() => {
                    this.saving = false;
                });
            }
        },
        created() {
            this.fetchData();
        }
    };
</script>
