<template>
  <div>
    <Alert type="warning">
      <p>更换主公众号后，会员进入店铺将成为新的会员，建议不要更换。</p>
      <p>设置时，请将<i-label>{{mpVerifyFileUrl}}</i-label>设为微信JS接口安全域名。</p>
    </Alert>
    <i-form :label-width="150">
      <form-item label="InterfaceUrl">
        <a :data-clipboard-text="interfaceUrl" v-copy>{{interfaceUrl}}</a>
      </form-item>
      <form-item label="IPs">
        <div class="input-wrapper block">
          <p class="static-text">{{settings.iPs}}</p>
        </div>
        <p slot="help">
          将IP地址复制到公众号后台 - 开发 - 基本配置 - IP白名单里。
        </p>
      </form-item>
      <form-item :label="$t('app.application.publicWechat.setting.general.appId')">
        <i-input block v-model="settings.appId" name="appId"></i-input>
      </form-item>
      <form-item :label="$t('app.application.publicWechat.setting.general.secret')">
        <i-input block v-model="settings.secret" name="secret"></i-input>
      </form-item>
      <form-item :label="$t('app.application.publicWechat.setting.general.token')">
        <i-input block v-model="settings.token" name="token"></i-input>
      </form-item>
      <form-item :label="$t('app.application.publicWechat.setting.general.refreshAccessToken')">
        <i-button sync-button circle border :synching="synchronizingAccessToken" @click="refreshAccessToken">RefreshAccessToken</i-button>
      </form-item>
      <form-item :label="$t('app.application.publicWechat.setting.general.mPVerifyFile')">
        <InputFileUploader block v-model="settings.mpVerifyFile" name="mpVerifyFile" :actionUrl="'/Admin/PublicWechat/UploadMPVerifyFile'|filePath"></InputFileUploader>
        <p slot="help" v-if="!settings.mpVerifyFile">请从微信公众号后台授权回调页面域名配置页面下载MP_verify文件。</p>
        <p slot="help" v-if="settings.mpVerifyFile">请将该链接<a v-copy :data-clipboard-text="mpVerifyFileUrl">{{mpVerifyFileUrl}}</a>设置到微信公众号后台授权回调页面域名。</p>
      </form-item>
      <form-item :label="$t('app.application.publicWechat.setting.general.encodingAESKey')">
        <i-input block v-model="settings.encodingAESKey" name="encodingAESKey"></i-input>
      </form-item>
      <form-item :label="$t('app.application.publicWechat.setting.general.subscribeLink')">
        <i-input block v-model="settings.subscribeLink" name="subscribeLink"></i-input>
        <template slot="help">
          https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=<i-label scene="danger">MzIxODcwODk4NQ</i-label>==#wechat_redirect
        </template>
      </form-item>
      <form-item>
        <i-button border circle icon="save" :loading="saving" @click="save" scene="primary">{{$t('app.common.action.save')}}</i-button>
      </form-item>
    </i-form>
  </div>
</template>

<script>
  import publicWechatSettingsService from '../../../../../../appServices/admin/application/publicWechatSettingsService';
  import publicWechatService from '../../../../../../appServices/admin/application/publicWechatService';

  export default {
    name: 'PublicWechatSettingsGeneral',
    props: {
        settings: {
            type: Object,
            default () {
                return {};
            }
        }
    },
    data () {
      return {
        loading: false,
        saving: false,
        synchronizingAccessToken: false
      };
    },
    computed: {
      mpVerifyFileUrl () {
        return this.$store.state.session.tenant?.domain;
      },
      interfaceUrl () {
        return window.location.protocol + '//' + this.$store.state.session.tenant?.domain + '/Client/Weixin/Index';
      }
    },
    methods: {
      refreshAccessToken () {
        this.synchronizingAccessToken = true;
        publicWechatService.refreshAccessToken().then((result) => {
        }).finally(() => {
          this.synchronizingAccessToken = false;
        });
      },
      save () {
        this.saving = true;
        publicWechatSettingsService.updateGeneral(this.settings).then(() => {
          this.$Message.success('app.common.message.successfullySaved');
        }).finally(() => {
          this.saving = false;
        });
      }
    }
  };
</script>
