<template>
  <portlet>
    <div>
      <i-form :label-width="150">
        <tab>
          <tab-pane name="BaseInfo" :label="$t('app.application.publicWechat.setting.baseInfo.baseInfo')">
            <div class="content-padding">
              <BaseInfo></BaseInfo>
            </div>
          </tab-pane>
          <tab-pane name="Interface" :label="$t('app.application.publicWechat.setting.general.general')">
            <div class="content-padding">
              <General :settings="settings.general"></General>
            </div>
          </tab-pane>
          <tab-pane name="Pay" :label="$t('app.application.publicWechat.setting.pay.paySettings')">
            <div class="content-padding">
              <Pay :settings="settings.pay"></Pay>
            </div>
          </tab-pane>
          <tab-pane name="OnlineCustomerService" :label="$t('app.application.publicWechat.setting.onlineCustomerService.onlineCustomerService')">
            <div class="content-padding">
              <OnlineCustomerService :settings="settings.customerService"></OnlineCustomerService>
            </div>
          </tab-pane>
          <tab-pane name="TemplateMessage" :label="$t('app.application.publicWechat.setting.templateMessage.templateMessage')" v-if="settings.general.appId">
            <div class="content-padding">
              <TemplateMessage></TemplateMessage>
            </div>
          </tab-pane>
        </tab>
      </i-form>
    </div>
  </portlet>
</template>

<script>
    import BaseInfo from './BaseInfo';
    import Pay from './Pay';
    import General from './General';
    import TemplateMessage from './TemplateMessage';
    import OnlineCustomerService from './OnlineCustomerService';
    import publicWechatSettingsService from './../../../../../../appServices/admin/application/publicWechatSettingsService';

    export default {
        name: 'PublicWechatSetting',
        components: {
            BaseInfo,
            Pay,
            General,
            TemplateMessage,
            OnlineCustomerService
        },
        data () {
          return {
              settings: {
                  general: {},
                  customerService: {},
                  pay: {},
                  templateMessage: {}
              }
          };
        },
        methods: {
          getSettings () {
              publicWechatSettingsService.getSettings().then((result) => {
                  Object.assign(this.settings, result);
              });
          }
        },
        created () {
            this.getSettings();
        }
    };
</script>
