<template>
  <i-form :label-width="150">
    <form-item :label="$t('app.application.publicWechat.setting.onlineCustomerService.triggerWord')">
      <i-input block v-model="settings.triggerWord" name="triggerWord"></i-input>
    </form-item>
    <form-item>
      <a href="https://mpkf.weixin.qq.com/" target="_blank">{{$t('app.application.publicWechat.setting.onlineCustomerService.openOnlineCustomerService')}}</a>
    </form-item>
    <form-item>
      <i-button border circle icon="save" :loading="saving" @click="save" scene="primary">Save</i-button>
    </form-item>
  </i-form>
</template>

<script>
  import publicWechatSettingsService from '../../../../../../appServices/admin/application/publicWechatSettingsService';

  export default {
    name: 'PublicWechatSettingsOnlineCustomerService',
      props: {
          settings: {
              type: Object,
              default () {
                  return {};
              }
          }
      },
    data () {
      return {
        loading: false,
        saving: false
      };
    },
    methods: {
      save () {
        this.saving = true;
        publicWechatSettingsService.updateCustomerService(this.settings).then(() => {
          this.$Message.success('app.common.message.successfullySaved');
        }).finally(() => {
          this.saving = false;
        });
      }
    }
  };
</script>
