<template>
  <div>
    <row>
      <column :md="12">
        <i-form :label-width="150">
          <form-item :label="$t('app.application.publicWechat.setting.pay.mchId')">
            <i-input block v-model="settings.mchId" name="mchId"></i-input>
            <p slot="help">请将该链接<a v-copy :data-clipboard-text="payFolder">{{payFolder}}</a>设置到微信商户后台支付授权目录。</p>
          </form-item>
          <form-item :label="$t('app.application.publicWechat.setting.pay.certificateSecret')">
            <i-input block v-model="settings.key" name="key"></i-input>
            <p slot="help">
              请输入微信商户平台设置的32位密钥。
            </p>
          </form-item>
          <form-item :label="$t('app.application.publicWechat.setting.pay.sslcert')">
            <InputFileUploader block v-model="settings.sslcertPath" name="sslcertPath" :useQiniu="false"></InputFileUploader>
          </form-item>
          <form-item>
            <i-button border circle icon="save" :loading="saving" @click="save" scene="primary">{{$t('app.common.action.save')}}</i-button>
          </form-item>
        </i-form>
      </column>
      <column :md="12">
        <div class="padding-left-1">
          <PayCertificateInstall></PayCertificateInstall>
        </div>
      </column>
    </row>
  </div>
</template>

<script>
    import publicWechatSettingsService from '../../../../../../appServices/admin/application/publicWechatSettingsService';
    import PayCertificateInstall from './PayCertificateInstall';

    export default {
        name: 'PublicWechatSettingsPay',
        components: {
            PayCertificateInstall
        },
        props: {
            settings: {
                type: Object,
                default () {
                    return {};
                }
            }
        },
        data () {
            return {
                certificateInstallPassword: null,
                loading: false,
                installingCertificate: false,
                saving: false
            };
        },
        computed: {
            payFolder () {
                return this.$store.state.session.tenant?.domain + '/app/mobile/';
            }
        },
        methods: {
            installCertificate () {
                this.installingCertificate = true;
                publicWechatSettingsService.installCertificate({ password: this.certificateInstallPassword }).then(() => {
                    this.$Notify.info('InstallSuccessfully');
                }).finally(() => {
                    this.installingCertificate = false;
                });
            },
            save () {
                this.saving = true;
                publicWechatSettingsService.updatePay(this.settings).then(() => {
                    this.$Message.success('app.common.message.successfullySaved');
                }).finally(() => {
                    this.saving = false;
                });
            }
        }
    };
</script>

