<template>
  <i-form :label-width="150">
    <form-item label="CertificatePassword">
      <i-input block type="password" name="password" v-model="certificateInstallPassword"></i-input>
      <p slot="help">证书密码默认为您的商户ID（如：10010000）</p>
    </form-item>
    <form-item>
      <i-button border circle :loading="installingCertificate" @click="installCertificate">{{$t('app.application.publicWechat.setting.pay.installCertificate')}}</i-button>
    </form-item>
  </i-form>
</template>

<script>
  import publicWechatSettingsService from '../../../../../../appServices/admin/application/publicWechatSettingsService';

  export default {
    name: 'PayCertificateInstall',
    data () {
      return {
        certificateInstallPassword: null,
        installingCertificate: false
      };
    },
    methods: {
      installCertificate () {
        this.installingCertificate = true;
        publicWechatSettingsService.installCertificate({ password: this.certificateInstallPassword }).then(() => {
          this.$Notify.info('InstallSuccessfully');
        }).finally(() => {
          this.installingCertificate = false;
        });
      }
    }
  };
</script>
