<template>
  <div>
    <alert type="warning" closable>
      使用微信公众号模板消息需先绑定认证服务号，并于微信公众号后台开通“模板消息”功能。
    </alert>
    <row gutter="1">
      <column md="18">
        <i-table class="data-table margin-bottom-1"
                 :data="templateMessageTemplates"
                 :fit="true"
                 highlightCurrentRow
                 @row-click="handleTemplateMessageTemplateRowClick"
                 border>
          <table-column  min-width="100"
                         prop="title"
                         :label="$t('app.common.property.title')"></table-column>
          <table-column  min-width="220"
                         prop="template_id"
                         :label="$t('app.application.publicWechat.setting.templateMessage.template')"></table-column>
          <table-column  min-width="80"
                         prop="primary_industry"
                         :label="$t('app.application.publicWechat.setting.templateMessage.primaryIndustry')"></table-column>
          <table-column  min-width="80"
                         prop="deputy_industry"
                         :label="$t('app.application.publicWechat.setting.templateMessage.deputyIndustry')"></table-column>
        </i-table>
        <div class="clearfix">
          <i-button class="pull-right" scene="primary" sync-button circle :synching="installing" @click="installTemplateMessageTemplate">{{$t('app.common.action.install')}}</i-button>
        </div>
      </column>
      <column md="6">
        <div v-if="selectedTemplateMessageTemplate">
          <h5>模板消息内容</h5>
          <pre class="text-previewer margin-bottom-1">{{selectedTemplateMessageTemplate.content}}</pre>
          <h5>模板消息示例</h5>
          <pre class="text-previewer">{{selectedTemplateMessageTemplate.example}}</pre>
        </div>
      </column>
    </row>
  </div>
</template>

<script>
  import publicWechatService from '../../../../../../appServices/admin/application/publicWechatService';

  export default {
    name: 'template-message',
    data () {
      return {
        loading: false,
        saving: false,
        installing: false,
        templateMessageTemplates: [],
        selectedTemplateMessageTemplate: null
      };
    },
    methods: {
      installTemplateMessageTemplate () {
        this.installing = true;
        publicWechatService.installTemplateMessageTempalte().then((result) => {
          setTimeout(() => {
            this.getTemplateMessageTemplates();
          }, 1000);
        }).finally(() => {
          this.installing = false;
        });
      },
      handleTemplateMessageTemplateRowClick (row) {
        this.selectedTemplateMessageTemplate = row;
      },
      getTemplateMessageTemplates () {
        publicWechatService.getTemplateMessageTemplates().then((result) => {
          this.templateMessageTemplates = result;
        }).finally(() => {
        });
      }
    },
    created () {
        this.getTemplateMessageTemplates();
    }
  };
</script>
