<template>
  <i-form :model="controlData" :rules="rules" ref="form" :label-width="100">
    <form-item :label="$t('app.application.shopTemplate.bottomSpan')">
      <i-switch v-model="controlData.bottomSpan"></i-switch>
    </form-item>
  </i-form>
</template>

<script>
  export default {
    name: 'AuctionRecordControlConfig',
    props: {
      controlData: {
        type: Object,
        default () {
          return {
          };
        }
      }
    },
    data () {
      return {
        rules: {

        }
      };
    },
    methods: {
    }
  };
</script>

