<template>
  <i-form :model="controlData" :rules="rules" ref="form">
    <form-item :label="$t('app.application.shopTemplate.bottomSpan')">
      <i-switch v-model="controlData.bottomSpan"></i-switch>
    </form-item>
    <i-table :data="controlData.items">
      <table-column :label="$t('app.common.property.icon')">
        <template scope="scope">
          <PictureUploader v-model="scope.row.icon"></PictureUploader>
        </template>
      </table-column>
      <table-column :label="$t('app.common.property.title')">
        <template scope="scope">
          <i-input block name="name" v-model="scope.row.name"></i-input>
        </template>
      </table-column>
      <table-column :label="$t('app.common.property.link')">
        <template scope="scope">
          <LinkInput block name="name" v-model="scope.row.url"></LinkInput>
        </template>
      </table-column>
      <table-column :label="$t('app.common.action.actions')">
        <template scope="scope">
          <i-button circle border scene="danger" @click="removeItem(scope.$index, scope.row)">{{$t('app.common.action.remove')}}</i-button>
        </template>
      </table-column>
    </i-table>
    <div class="margin-bottom-1">
      <i-button block @click="addItem">{{$t('app.common.action.addItem')}}</i-button>
    </div>
  </i-form>
</template>

<script>

  export default {
    components: {

    },
    name: 'NavControlConfig',
    props: {
      controlData: {
        type: Object,
        default () {
          return {
            bottomSpan: false,
            items: []
          };
        }
      }
    },
    data () {
      return {
        rules: {

        }
      };
    },
    methods: {
      addItem () {
        this.controlData.items.push({
          name: null,
          url: null,
          icon: null
        });
      },
      removeItem (index, item) {
        this.controlData.items.splice(index, 1);
      }
    }
  };
</script>
