<template>
  <i-form :model="controlData" :rules="rules" ref="form" :label-width="100">
    <form-item :label="$t('app.application.shopTemplate.bottomSpan')">
      <i-switch v-model="controlData.bottomSpan"></i-switch>
    </form-item>
    <form-item :label="$t('app.common.property.link')" prop="url">
      <LinkInput type="url" v-model="controlData.url" block></LinkInput>
    </form-item>
    <form-item :label="$t('app.common.property.picture')" prop="path">
      <PictureUploader v-model="controlData.path"></PictureUploader>
    </form-item>
  </i-form>
</template>

<script>
  export default {
    name: 'PictureAdControlConfig',
    props: {
      controlData: {
        type: Object,
        default () {
          return {
            bottomSpan: false,
            path: null,
            url: null
          };
        }
      }
    },
    data () {
      return {
        rules: {

        }
      };
    },
    methods: {
    }
  };
</script>
