<template>
  <portlet>
    <div v-if="customer">
      <portlet class="margin-bottom-1" :title="$t('app.common.property.baseInfo')">
        <template slot="actions">
          <i-button scene="primary" border circle @click="resetPassword">{{$t('app.application.user.resetPassword')}}</i-button>
        </template>
        <Profile :user="customer" v-if="customer"></Profile>
        <Row :gutter="1" class="margin-top-1">
          <Column :span="12">
            <dl class="dl-horizontal">
              <dt>{{$t('app.application.customer.userName')}}</dt>
              <dd>{{customer.userName}}</dd>
              <dt>{{$t('app.application.user.lastLoginTime')}}</dt>
              <dd>{{customer.lastLoginTime|momentFormat}}</dd>
              <dt>{{$t('app.application.customer.number')}}</dt>
              <dd>{{customer.number}}</dd>
              <dt>{{$t('app.application.user.userSource')}}</dt>
              <dd>{{customer.sourceText|localize}}</dd>
              <dt>{{$t('app.application.customer.spreader')}}</dt>
              <dd>
                <i-switch v-model="customer.isSpreader" @on-change="handleIsSpreadChange()"></i-switch>
              </dd>
            </dl>
          </Column>
        </Row>
      </portlet>
      <Row :gutter="1">
        <Column :span="12">
          <portlet :title="$t('app.application.customer.parentUser')">
            <Profile :user="customer.parentUser"
                     class="margin-bottom-1"
                     v-if="customer&&customer.parentUser"></Profile>
            <div class="width-em30 flex-horizontal align-middle">
              <div class="flex-adapter margin-bottom-1">
                <CustomerSelector v-model="changeParentCustomerId"></CustomerSelector>
              </div>
              <div>
                <i-button border circle scene="primary" :disabled="!changeParentCustomerId" @click="changeParent" :loading="binding">{{$t('app.application.customer.changeParent')}}</i-button>
              </div>
            </div>
          </portlet>
        </Column>
        <Column :span="12">
          <portlet v-if="customer.channelAgency" :title="$t('ChannelAgency')">
            <Profile :user="customer.channelAgency.user"></Profile>
          </portlet>
        </Column>
      </Row>
    </div>
  </portlet>
</template>

<script>
    import customerService from '../../../../../appServices/admin/application/customerService';
    import CustomerSelector from './CustomerSelector';

    export default {
        components: {
            CustomerSelector
        },
        name: 'CustomerCreateOrEdit',
        data () {
            return {
                id: null,
                customer: null,
                changeParentCustomerId: null,
                binding: false
            };
        },
        watch: {
            $route () {
                this.id = this.$route.query.id;
            },
            id () {
                this.fetchData();
            }

        },
        methods: {
            async handleIsSpreadChange () {
                await customerService.setAsSpreader({
                    id: this.id,
                    isSpreader: this.customer.isSpreader
                }).finally(() => {
                    this.$Message.success(this.$t('app.common.message.operateSuccessfully'));
                }).catch(() => {
                });
            },
            resetPassword () {
                this.$Modal.confirm({
                    onOk: () => {
                        customerService.resetPassword({
                            id: this.id
                        }).then((result) => {
                            this.$Message.success(this.$t('app.common.message.operateSuccessfully'));
                        });
                    }
                });
            },
            changeParent () {
                this.binding = true;
                customerService.bindParent({
                    sourceUserId: this.id,
                    targetUserId: this.changeParentCustomerId
                }).then((result) => {
                    this.$Message.success(this.$t('app.common.message.operateSuccessfully'));
                    this.customer = result.customer;
                }).finally(() => {
                    this.binding = false;
                });
            },
            fetchData () {
                customerService.getCustomerDetail({
                    id: this.id
                }).then((result) => {
                    this.customer = result.customer;
                    this.changeParentCustomerId = this.customer.parentUser ? this.customer.parentUser.id : null;
                });
            }
        },
        created () {
            this.id = this.$route.query.id;
            this.fetchData();
        }
    };
</script>
