<template>
  <div class="width-em25 flex-horizontal">
    <i-image height="32" v-if="selectedUser" :src="selectedUser.avatar"></i-image>
    <div class="flex-adapter">
      <i-input
        :value="inputValue"
        :placeholder="$t('core.select.placeholder', { 0: $t('app.application.customer.customer') })"
        @on-focus="handleFocus" endIcon="user"></i-input>
    </div>
    <Modal v-model="showModal" :width="1200" :title="$t('core.select.placeholder', { 0: $t('app.application.customer.customer') })">
      <CustomerSelectorPage @select="handleSelect" v-if="showModal"></CustomerSelectorPage>
    </Modal>
  </div>
</template>

<script>
  import CustomerSelectorPage from './CustomerSelectorPage';
  import userService from '../../../../../appServices/admin/administration/userService';

  export default {
    name: 'CustomerSelector',
    components: {
      CustomerSelectorPage
    },
    props: {
      value: {
        type: [Number, String]
      }
    },
    data () {
      return {
        showModal: false,
        selectedUser: null
      };
    },
    computed: {
      inputValue () {
        return this.selectedUser ? this.selectedUser.nickName || this.selectedUser.userName : null;
      }
    },
    watch: {
      value (newValue) {
        if (newValue) {
          this.getUserByValue();
        }
      }
    },
    methods: {
      handleFocus () {
        this.showModal = true;
      },
      getUserByValue () {
        userService.get({ id: this.value }).then((result) => {
          this.selectedUser = result;
        });
      },
      handleSelect (user) {
        this.selectedUser = user;
        this.$emit('input', user.id);
        this.showModal = false;
      }
    },
    created () {
      if (this.value) {
        this.getUserByValue();
      }
    }
  };
</script>
