<template>
  <div>
    <div>
      <i-form type="inline">
        <form-item>
          <i-input :placeholder="$t('app.application.customer.userName')" v-model="filters.userName"></i-input>
        </form-item>
        <form-item>
          <i-input :placeholder="$t('app.application.customer.number')" v-model="filters.number"></i-input>
        </form-item>
        <form-item>
          <i-input :placeholder="$t('app.application.customer.nickName')" v-model="filters.nickName"></i-input>
        </form-item>
        <form-item>
          <label>{{$t('app.application.customer.spreader')}}</label>
          <i-switch :placeholder="$t('app.application.customer.spreader')" v-model="filters.isSpreader"></i-switch>
        </form-item>
        <form-item>
          <i-button border circle scene="primary" icon="search" @click="handleSearch">{{$t('app.common.action.search')}}</i-button>
        </form-item>
      </i-form>
    </div>
    <div class="data-table-container margin-bottom-1">
      <i-table class="data-table"
               :data="data"
               @row-click="handleRowClick"
               highlight-current-row
               v-loading="loadingData"
               @sort-change="handleSortChange"
               border>
        <table-column
          min-width="300"
          fixed="left"
          :label="$t('app.application.customer.user')">
          <template scope="scope">
            <Profile :user="scope.row"></Profile>
          </template>
        </table-column>
        <table-column
          min-width="200"
          prop="number"
          show-overflow-tooltip
          :label="$t('app.application.customer.number')">
        </table-column>
        <table-column
          min-width="200"
          prop="userName"
          show-overflow-tooltip
          :label="$t('app.application.customer.userName')">
        </table-column>
        <table-column
          min-width="300"
          :label="$t('app.application.customer.parentUser')">
          <template scope="scope">
            <Profile :user="scope.row.parentUser" v-if="scope.row.parentUser"></Profile>
          </template>
        </table-column>
      </i-table>
    </div>
    <Pagination :total="totalCount" :current="filters.pageIndex" :page-size="filters.pageSize" show-elevator @on-change="handlePageChange"></Pagination>
  </div>
</template>

<script>
  import userService from '../../../../../appServices/admin/application/customerService';

  export default {
    name: 'CustomerSelectorPage',
    data () {
      return {
        loadingData: false,
        totalCount: 0,
        data: [],
        filters: {
          userSource: null,
          userName: null,
          nickName: null,
          filter: void 0,
          sorting: void 0,
          pageSize: 5,
          pageIndex: 1
        }
      };
    },
    methods: {
      handleSortChange () {

      },
      handleRowClick (row) {
        this.$emit('select', row);
      },
      handleSearch () {
        this.fetchData();
      },
      handlePageChange (pageIndex) {
        this.filters.pageIndex = pageIndex;
        this.fetchData();
      },
      async fetchData () {
        this.loadingData = true;
        let result = await userService.getAll(this.filters).catch(() => {
          this.loadingData = false;
        });
        this.data = result.items;
        this.totalCount = result.totalCount;
        this.loadingData = false;
      }
    },
    created () {
      this.fetchData();
    }
  };
</script>
