<template>
  <portlet>
    <div>
      <i-form type="inline">
        <form-item>
          <i-input clearable :placeholder="$t('core.placeholder', { 0: $t('app.application.customer.userName')})" v-model="filterParams.userName"></i-input>
        </form-item>
        <form-item>
          <i-input clearable :placeholder="$t('core.placeholder', { 0: $t('app.application.customer.number')})" v-model="filterParams.number"></i-input>
        </form-item>
        <form-item>
          <i-input clearable :placeholder="$t('core.placeholder', { 0: $t('app.application.customer.nickName')})" v-model="filterParams.nickName"></i-input>
        </form-item>
        <form-item>
          <i-select class="width-em20" v-model="filterParams.isSpreader" clearable :placeholder="$t('core.select.placeholder', { 0: $t('app.application.customer.spreader')})">
            <i-option :value="true" :label="$t('app.common.status.yes')"></i-option>
            <i-option :value="false" :label="$t('app.common.status.no')"></i-option>
          </i-select>
        </form-item>
        <form-item>
          <i-button border circle scene="primary" icon="search" @click="handleSearch">{{$t('app.common.action.search')}}</i-button>
        </form-item>
      </i-form>
    </div>
    <Alert>
      共检索到用户{{totalCount}}位。
    </Alert>
    <div class="data-table-container margin-bottom-1">
      <i-table class="data-table"
               :data="data"
               highlight-current-row
               v-loading="loadingData"
               @sort-change="handleSortChange"
               border>
        <table-column
          min-width="350"
          fixed="left"
          :label="$t('app.application.customer.user')">
          <template scope="scope">
            <Profile :user="scope.row"></Profile>
          </template>
        </table-column>
        <table-column
          min-width="250"
          show-overflow-tooltip
          prop="userName"
          :label="$t('app.application.customer.userName')">
        </table-column>
        <table-column
          min-width="250"
          show-overflow-tooltip
          prop="phoneNumber"
          :label="$t('app.application.customer.phoneNumber')">
        </table-column>
        <table-column
          min-width="200"
          prop="number"
          :label="$t('app.application.customer.number')">
        </table-column>
        <table-column
          min-width="120"
          :label="$t('app.application.customer.spreader')">
          <template scope="scope">
            <i-switch v-model="scope.row.isSpreader" @on-change="handleIsSpreadChange(scope.row)"></i-switch>
          </template>
        </table-column>
        <table-column
          min-width="120"
          :label="$t('app.common.property.active')">
          <template scope="scope">
            <i-switch v-model="scope.row.isActive" @on-change="handleIsActiveChange(scope.row)"></i-switch>
          </template>
        </table-column>
        <table-column
          min-width="350"
          :label="$t('app.application.customer.parentUser')">
          <template scope="scope">
            <Profile :user="scope.row.parentUser" v-if="scope.row.parentUser"></Profile>
          </template>
        </table-column>
        <table-column
          width="190"
          prop="lastLoginTime"
          :label="$t('app.application.user.lastLoginTime')">
          <template scope="scope">
            {{scope.row.lastLoginTime|momentFormat}}
          </template>
        </table-column>
        <table-column
          width="190"
          :label="$t('app.common.property.creationTime')">
          <template scope="scope">
            {{scope.row.creationTime|momentFormat}}
          </template>
        </table-column>
        <table-column
          fixed="right"
          width="100"
          :label="$t('app.common.action.actions')">
          <template scope="scope">
            <i-button border circle scene="primary" @click="handleEdit(scope.row)">
              {{$t('app.common.action.edit')}}
            </i-button>
          </template>
        </table-column>
      </i-table>
    </div>
    <Pagination :total="totalCount" :current="filterParams.pageIndex" :page-size="filterParams.pageSize" show-elevator @on-change="handlePageChange"></Pagination>
  </portlet>
</template>

<script>
    import userService from '../../../../../appServices/admin/application/customerService';

    export default {
        name: 'AdministrationUser',
        data () {
            return {
                loadingData: false,
                totalCount: 0,
                data: [],
                filterParams: {
                    userSource: null,
                    userName: null,
                    number: null,
                    nickName: null,
                    isSpreader: null,
                    filter: void 0,
                    sorting: void 0,
                    productId: null,
                    pageSize: 5,
                    pageIndex: 1
                }
            };
        },
        methods: {
            async handleIsSpreadChange (item) {
                await userService.setAsSpreader({
                    id: item.id,
                    isSpreader: item.isSpreader
                }).finally(() => {
                    this.$Message.success(this.$t('app.common.message.operateSuccessfully'));
                });
            },
            async handleIsActiveChange(item) {
                await userService.toggleActive({
                    id: item.id,
                }).finally(() => {
                    this.$Message.success(this.$t('app.common.message.operateSuccessfully'));
                });
            },
            handleSortChange () {

            },
            handleSearch () {
                this.filterParams.pageIndex = 1;
                this.fetchData();
            },
            handleEdit (user) {
                this.$router.push({ name: 'CustomerCreateOrEdit', query: { id: user.id } });
            },
            handleOnSave () {
                this.fetchData();
            },
            handlePageChange (pageIndex) {
                this.filterParams.pageIndex = pageIndex;
                this.fetchData();
            },
            async fetchData () {
                this.loadingData = true;
                let result = await userService.getAll(this.filterParams).catch(() => {
                    this.loadingData = false;
                });
                this.data = result.items;
                this.totalCount = result.totalCount;
                this.loadingData = false;
            }
        },
        created () {
            this.fetchData();
        }
    };
</script>
