<template>
  <div class="file-manage">
    <div class="file-manage-sidebar">
      <div class="content-padding">
        <FileUploader :ratio="ratio" :shouldBeRatio="shouldBeRatio" :showUploadList="true" :maxFileSize="maxFileSize" block @input="handleInput">
          <i-button border circle icon="upload">{{$t('app.common.action.upload')}}</i-button>
        </FileUploader>
      </div>
    </div>
    <div class="file-manage-body">
      <div>
        <i-form type="inline">
          <form-item>
            <i-input :placeholder="$t('core.placeholder', { 0: $t('app.application.file.name') })" v-model="filterParams.fileName"></i-input>
          </form-item>
          <form-item>
            <i-button border circle scene="primary" icon="search" @click="search">{{$t('app.common.action.search')}}</i-button>
          </form-item>
          <form-item>
            <i-button border circle
                      icon="dustbin"
                      scene="danger"
                      @click="deleteFiles"
                      :disabled="!checkedFiles||!checkedFiles.length">{{$t('app.common.action.delete')}}</i-button>
          </form-item>
        </i-form>
      </div>
      <ul class="file-list">
        <li class="file-item" v-for="file in files" :key="file.id">
          <Checkbox v-if="showCheckbox" v-model="file.checked"></Checkbox>
          <div class="file-cover-wrap" @click="select(file)">
            <i-image class="file-cover" :src="file.path" v-if="isPicture(file.path)" />
            <div class="file-cover common-file-cover" v-else>
              <span class="file-extension">{{file.name|fileExtension}}</span>
            </div>
          </div>
          <div class="file-body">
            <label class="file-title">
               <Tooltip class="block" placement="top" :content="file.name">
                 <span>{{file.name}}</span>
               </Tooltip>
            </label>
            <div class="creation-time-wrap">
              <span class="creation-time">{{file.creationTime|momentFormat}}</span>
            </div>
          </div>
        </li>
      </ul>
      <Pagination :total="totalCount"
                  :current="filterParams.pageIndex"
                  :page-size="filterParams.pageSize"
                  show-elevator
                  @on-change="handlePageChange"></Pagination>
    </div>
  </div>
</template>

<script>
  import fileService from '../../../appServices/admin/administration/fileService';
  import assist from './../../../utils/assist';

  export default {
    name: 'FileManage',
    props: {
      fileType: {
        type: [Number, String],
        default: 'common'
      },
      ratio: {
        type: Number
      },
      shouldBeRatio: {
        type: Number
      },
      maxFileSize: {
        type: Number
      }
    },
    data () {
      return {
        showCheckbox: true,
        totalCount: 0,
        files: [],
        filterParams: {
          fileName: null,
          pageIndex: 1,
          pageSize: 10
        }
      };
    },
    computed: {
      checkedFiles () {
        return this.files.filter((item) => {
          return item.checked;
        });
      }
    },
    methods: {
      deleteFiles () {
        const ids = this.checkedFiles.map((item) => {
          return item.id;
        });
        fileService.deleteFiles({ ids: ids.join(',') }).then((result) => {
          this.search();
        });
      },
      handleInput () {
        this.fetchData();
      },
      search () {
        this.filterParams.pageIndex = 1;
        this.fetchData();
      },
      handlePageChange (pageIndex) {
        this.filterParams.pageIndex = pageIndex;
        this.fetchData();
      },
      select (file) {
        if (this.shouldBeRatio) {
          const image = new Image();
          image.src = assist.getImageUrl(file.path);
          image.onload = () => {
            if (image.width / image.height !== this.shouldBeRatio) {
              return;
            }
            this.$emit('select', file);
          };
        }
        else {
          this.$emit('select', file);
        }
      },
      isPicture (path) {
        const strFilter = '.jpeg|.gif|.jpg|.png|.bmp|.pic|';

        if (path.indexOf('.') > -1) {
          const p = path.lastIndexOf('.');
          let strPostfix = path.substring(p, path.length) + '|';
          strPostfix = strPostfix.toLowerCase();

          if (strFilter.indexOf(strPostfix) > -1) {
            return true;
          }
        }
        return false;
      },
      fetchData () {
        fileService.getAll({ fileType: this.fileType, ...this.filterParams }).then((result) => {
          this.files = result.items;
          this.totalCount = result.totalCount;
        });
      }
    },
    mounted () {
      this.fetchData();
    }
  };
</script>
