<template>
  <div>
    <ul class="language-list">
      <li v-for="(language) in languages"
          :key="language"
          @click="changeLanguage(language)">
        <Tooltip :content="language" placement="bottom"></Tooltip>
      </li>
    </ul>
  </div>
</template>

<script>
    import { setCurrentLanguage } from '../../../common/localizationHelper';

    export default {
        name: 'Language',
        computed: {
            languages(){
                return this.$store.state.localization.languages.filter(language => {
                    return language !== this.$store.state.localization.currentLanguageName;
                });
            }
        },
        methods: {
            changeLanguage (name) {
                setCurrentLanguage(this.$store, name);
            }
        }
    };
</script>
