<template>
  <div class="topbar-menu-item" style="width: 120px;">
    <Dropdown trigger="click" :transfer="true" @on-click="setLanguage">
      <div slot="handle">
        <i-button border circle scene="primary">
          <span class="dropdown-handle-title">{{$store.state.localization.currentLanguageName}}</span>
          <icon class="dropdown-status-icon" name="down"></icon>
        </i-button>
      </div>
      <DropdownMenu>
        <DropdownMenuItem v-for="(language, index) in languages" :key="index" :name="language">
          <span class="dropdown-menu-item-title">{{language}}</span>
        </DropdownMenuItem>
      </DropdownMenu>
    </Dropdown>
  </div>
</template>

<script>
    import { setCurrentLanguage } from '../../../common/localizationHelper';

    export default {
        data () {
            return {
                loading: false
            };
        },
        computed: {
            languages(){
                return this.$store.state.localization.languages.filter(language => {
                    return language !== this.$store.state.localization.currentLanguageName;
                });
            }
        },
        methods: {
            getCultureIconClass (originClassName) {
                return `culture-flag-${originClassName.split(' ')[1]}`;
            },
            async setLanguage (name) {
                setCurrentLanguage(this.$store, name);
            }
        }
    };
</script>
