<template>
  <Modal v-model="dialogVisible" width="960" :title="$t('core.crud.createOrEdit', { 0: $t('app.application.questionAndAnswer.questionAndAnswer') })" @on-cancel="handleCancel">
    <i-form :model="model" :rules="rules" ref="form" :label-width="150">
      <form-item :label="$t('app.application.questionAndAnswer.question')" prop="question">
        <i-input block v-model="model.question"></i-input>
      </form-item>
      <form-item :label="$t('app.application.questionAndAnswer.answer')" prop="answer">
        <rich-editor v-model="model.answer"></rich-editor>
      </form-item>
    </i-form>
    <template slot="footer">
      <i-button size="large" border circle icon="back" @click="handleCancel">{{$t('app.common.action.cancel')}}</i-button>
      <i-button size="large" border circle icon="save" scene="primary" @click="save">{{$t('app.common.action.save')}}</i-button>
    </template>
  </Modal>
</template>

<script>
    import questionAndAnswerService from '../../../../../appServices/admin/application/questionAndAnswerService';
    import CreateOrUpdateModal from '../../../../mixins/CommonCreateOrUpdateModal';

    export default {
        name: 'CreateOrUpdateTeamModal',
        mixins: [CreateOrUpdateModal],
        data () {
            return {
                api: questionAndAnswerService,
                activeName: 'first',
                rules: {
                    question: [{ required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.common.property.question') }), trigger: 'change' }]
                },
                defaultModel: {
                    question: null,
                    answer: null
                },
            };
        }
    };
</script>

