<template>
  <portlet>
    <div class="clearfix margin-bottom-1">
      <div class="pull-right">
        <i-button border circle scene="primary" icon="add" @click="create">
          {{$t('app.common.action.create')}}
        </i-button>
      </div>
    </div>
    <div>
      <i-form type="inline">
        <form-item>
          <i-input v-model="filterParams.question"
                   style="width: 300px;"
                   :placeholder="$t('core.placeholder', { 0: $t('app.application.questionAndAnswer.question') })"></i-input>
        </form-item>
        <form-item>
          <i-button border circle scene="primary" icon="search" @click="search">{{$t('app.common.action.search')}}</i-button>
        </form-item>
      </i-form>
    </div>
    <i-table class="data-table" :data="items" :fit="true" border v-loading="loading">
      <table-column
        min-width="120"
        :label="$t('app.application.questionAndAnswer.question')">
        <template scope="scope">
          <span>{{scope.row.question}}</span>
        </template>
      </table-column>
      <table-column
        width="190"
        prop="creationTime"
        :label="$t('app.common.property.creationTime')">
        <template scope="scope">
          {{scope.row.creationTime | momentFormat}}
        </template>
      </table-column>
      <table-column
        fixed="right"
        width="200"
        :label="$t('app.common.action.actions')">
        <template scope="scope">
          <i-button border circle scene="primary" @click="edit(scope.row)">{{$t('app.common.action.edit')}}</i-button>
          <i-button border circle scene="danger" @click="deleteItem(scope.row)">{{$t('app.common.action.delete')}}</i-button>
        </template>
      </table-column>
    </i-table>
    <Pagination :total="totalCount" :current="filterParams.pageIndex" :page-size="filterParams.pageSize" show-elevator @on-change="handlePageChange"></Pagination>
    <CreateOrUpdateModal :id="dialogCreateOrEdit.id" v-model="dialogCreateOrEdit.isShow" @save="handleOnSave"></CreateOrUpdateModal>
  </portlet>
</template>

<script>
    import questionAndAnswerService from '../../../../../appServices/admin/application/questionAndAnswerService';
    import CreateOrUpdateModal from './CreateOrUpdateModal';
    import CreateAndUpdateList from '../../../../mixins/CommonCreateAndUpdateModalList';

    export default {
        name: 'Index',
        components: {
            CreateOrUpdateModal
        },
        mixins: [CreateAndUpdateList],
        data () {
            return {
                api: questionAndAnswerService,
                filterParams: {
                    question: null
                }
            };
        }
    };
</script>
