<template>
  <Modal v-model="dialogVisible" :title="$t('core.crud.createOrEdit', { 0: $t('app.application.tenant.tenant') })" @on-cancel="cancel">
    <Tab :value="activeName">
      <TabPane :label="$t('app.application.tenant.tenantInformations')" name="tenantInformations">
        <div class="content-padding">
          <i-form :model="tenant" :rules="rules" ref="form" :label-width="170">
            <form-item :label="$t('app.common.property.tenancyName')" prop="tenancyName">
              <i-input block v-model="tenant.tenancyName" name="tenancyName" :disabled="!!tenant.id" :maxlength="64" :minlength="2"></i-input>
            </form-item>
            <form-item :label="$t('app.common.property.name')" prop="name">
              <i-input block v-model="tenant.name" name="name"  :maxlength="128"></i-input>
            </form-item>
            <form-item :label="$t('app.application.tenant.databaseConnectionString')" prop="connectionString">
              <i-input block name="connectionString" v-model="tenant.connectionString" ></i-input>
            </form-item>
            <form-item :label="$t('app.application.tenant.independentDomain')" prop="independentDomain">
              <i-input block name="independentDomain" v-model="tenant.independentDomain" ></i-input>
            </form-item>
            <form-item :label="$t('app.application.tenant.isActive')" prop="isActive">
              <i-switch v-model="tenant.isActive" ></i-switch>
            </form-item>
            <form-item :label="$t('app.application.tenant.isInTrialPeriod')" prop="isInTrialPeriod" v-if="isSubscriptionFieldsVisible">
              <i-switch v-model="tenant.isInTrialPeriod" ></i-switch>
            </form-item>
            <form-item :label="$t('app.application.tenant.subscriptionEndDateUtc')" prop="subscriptionEndDateUtc">
              <DatePicker transfer block type="date" v-model="tenant.subscriptionEndDateUtc" ></DatePicker>
            </form-item>
            <template v-if="!tenant.id">
              <form-item prop="adminEmailAddress" :label="$t('app.application.tenant.adminEmailAddress')">
                <i-input type="email" block name="adminEmailAddress" v-model="tenant.adminEmailAddress"/>
              </form-item>
              <form-item :label="$t('app.application.tenant.sendActivationEmail')" prop="sendActivationEmail">
                <i-switch v-model="tenant.sendActivationEmail" ></i-switch>
              </form-item>
              <form-item prop="adminPhoneNumber" :label="$t('app.application.tenant.adminPhoneNumber')">
                <i-input type="tel" block name="adminPhoneNumber" v-model="tenant.adminPhoneNumber"/>
              </form-item>
              <form-item prop="adminPassword" :label="$t('app.application.tenant.adminPassword')">
                <i-input type="password" block name="adminPassword" v-model="tenant.adminPassword"/>
              </form-item>
              <form-item prop="adminPasswordRepeat" :label="$t('app.application.tenant.adminPasswordRepeat')">
                <i-input type="password" block name="adminPasswordRepeat" v-model="tenant.adminPasswordRepeat"/>
              </form-item>
            </template>
          </i-form>
        </div>
      </TabPane>
      <TabPane :label="$t('app.application.tenant.edition')" name="Roles">
        <div class="content-padding">
          <EditionSelector v-model="tenant.editionId"></EditionSelector>
        </div>
      </TabPane>
    </Tab>
    <template slot="footer">
      <i-button size="large" border circle icon="back" @click="cancel">{{$t('app.common.action.cancel')}}</i-button>
      <i-button size="large" border circle icon="save" :loading="loading" scene="primary" @click="save">{{$t('app.common.action.save')}}</i-button>
    </template>
  </Modal>
</template>

<script type="text/jsx">
  import tenantService from '../../../../../appServices/admin/administration/tenantService';
  import EditionSelector from './../edition/EditionSelector';

  export default {
    name: 'CreateOrEditTenantModal',
    components: {
      EditionSelector
    },
    props: {
      value: Boolean,
      id: {
        type: Number
      }
    },
    data () {
      return {
        dialogVisible: false,
        activeName: 'tenantInformations',
        loading: false,
        isSubscriptionFieldsVisible: false,
        isSelectedEditionFree: false,
        isUnlimited: true,
        tenant: {
          isActive: true,
          sendActivationEmail: false
        },
        rules: {
          tenancyName: [{ required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.common.property.tenancyName') }), trigger: 'change' }],
          name: [{ required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.common.property.name') }), trigger: 'change' }],
          isActive: [{ required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('IsActive') }) }],
          adminEmailAddress: [{ required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('AdminEmailAddress') }), trigger: 'change' }],
          sendActivationEmail: [{ required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('SendActivationEmail') }) }],
          adminPhoneNumber: [{ required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('AdminPhoneNumber') }), trigger: 'change' }],
          adminPassword: [{ required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('AdminPassword') }), trigger: 'change' }]
        }
      };
    },
    watch: {
      id (value) {
        if (value) {
          this.getTenantForEdit();
        }
        else {
          this.tenant = {};
          this.currentConnectionString = null;
          this.tenant.editionId = 0;
        }
      },
      value (value) {
        this.dialogVisible = value;
      }
    },
    methods: {
      onEditionChange () {
        this.tenant.isInTrialPeriod = this.tenant.editionId > 0 && !this.isSelectedEditionFree;
        this.toggleSubscriptionFields();
      },
      toggleSubscriptionFields () {
        if (this.tenant.editionId <= 0 || this.isSelectedEditionFree) {
          this.isSubscriptionFieldsVisible = false;
          if (this.isSelectedEditionFree) {
            this.isUnlimited = true;
          }
          else {
            this.isUnlimited = false;
          }
        }
        else {
          this.isSubscriptionFieldsVisible = true;
        }
      },
      cancel () {
        this.$emit('input', false);
      },
      async save () {
        await new Promise((resolve, reject) => {
          this.$refs.form.validate((valid) => {
            valid ? resolve(true) : reject(new Error('表单验证失败' + valid));
          });
        });
        this.loading = true;
        const action = this.id ? 'updateTenant' : 'createTenant';
        try {
          await tenantService[action](this.tenant);
          this.loading = false;
          this.$Message.success(this.$t('app.common.message.successfullySaved'));
          this.$emit('onSave', this.tenant);
          this.$emit('input', false);
        }
        catch (e) {
          this.loading = false;
        }
      },
      getTenantForEdit () {
        tenantService.getTenantForEdit({
          id: this.id
        }).then((result) => {
          this.tenant = result;
          this.currentConnectionString = result.connectionString;
          this.tenant.editionId = this.tenant.editionId || 0;
        });
      }
    }
  };
</script>
