<template>
  <portlet :title="$t('app.application.tenant.tenantsHeaderInfo')">
    <template slot="actions">
      <i-button border circle scene="primary" icon="add" @click="create">
        {{$t('app.common.action.create')}}
      </i-button>
    </template>
    <div>
      <i-form type="inline">
        <form-item>
          <i-input clearable :placeholder="$t('core.placeholder', { 0: $t('app.application.tenant.tenantNameOrTenancyCode')})" v-model="filterParams.filterText"></i-input>
        </form-item>
        <form-item>
          <EditionSelector class="width-em20" :placeholder="$t('core.placeholder', { 0: $t('app.common.property.number')})" v-model="filterParams.editionId"></EditionSelector>
        </form-item>
        <form-item>
          <checkbox name="subscriptionEndDateRangeActive" v-model="filterParams.subscriptionEndDateRangeActive"> {{$t('app.application.edition.subscriptionEndDate')}}</checkbox>
        </form-item>
        <form-item>
          <DatePicker class="width-em20" clearable type="daterange"
                      :disabled="!filterParams.subscriptionEndDateRangeActive"
                      :placeholder="$t('core.placeholder', { 0: $t('app.common.property.dateRange') })"
                      :onChange="fetchData"></DatePicker>
        </form-item>
        <form-item>
          <checkbox name="creationDateRangeActive" v-model="filterParams.creationDateRangeActive"> {{$t('app.common.property.creationTime')}}</checkbox>
        </form-item>
        <form-item>
          <DatePicker class="width-em20" clearable type="daterange"
                      :disabled="!filterParams.creationDateRangeActive"
                      :placeholder="$t('core.placeholder', { 0: $t('app.common.property.dateRange') })"
                      :onChange="fetchData"></DatePicker>
        </form-item>
        <form-item>
          <i-button border circle scene="primary" icon="search" @click="search">{{$t('app.common.action.search')}}</i-button>
        </form-item>
      </i-form>
    </div>
    <div class="data-table-container margin-bottom-1">
      <i-table class="data-table"
               :data="tenants"
               highlight-current-row
               v-loading="loading"
               border>
        <table-column
          width="150"
          prop="tenancyName"
          :label="$t('app.common.property.tenancyName')">
        </table-column>
        <table-column
          width="150"
          prop="tenancyCodeName"
          :label="$t('app.application.tenant.tenancyCodeName')">
        </table-column>
        <table-column
          prop="name"
          width="150"
          :label="$t('app.common.property.name')">
        </table-column>
        <table-column
          width="150"
          prop="editionDisplayName"
          :label="$t('app.application.tenant.edition')">
        </table-column>
        <table-column
          width="200"
          prop="subscriptionEndDateUtc"
          :label="$t('app.application.tenant.subscriptionEndDateUtc')">
        </table-column>
        <table-column
          width="150"
          :label="$t('app.application.tenant.isInTrialPeriod')">
          <template scope="scope">
            <i-label scene="success" v-if="scope.row.isInTrialPeriod">{{$t('app.common.status.yes')}}</i-label>
            <i-label v-else>{{$t('app.common.status.no')}}</i-label>
          </template>
        </table-column>
        <table-column
          :label="$t('app.common.property.active')">
          <template scope="scope">
            <i-label scene="success" v-if="scope.row.isActive">{{$t('app.common.status.yes')}}</i-label>
            <i-label v-else>{{$t('app.common.status.no')}}</i-label>
          </template>
        </table-column>
        <table-column
          :label="$t('app.common.property.creationTime')">
          <template scope="scope">
            {{scope.row.creationTime|momentFormat}}
          </template>
        </table-column>
        <table-column
          width="300"
          fixed="right"
          :label="$t('app.common.action.actions')">
          <template scope="scope">
            <i-button scene="primary" border circle @click="edit(scope.row)">{{$t('app.common.action.edit')}}</i-button>
            <i-button :loading="creatintOrMigratingForTenant&&createOrMigrateTenant==scope.row"
                      scene="danger"
                      border
                      circle
                      @click="createOrMigrateForTenant(scope.row)">{{$t('app.application.tenant.createOrMigrateForTenant')}}</i-button>
          </template>
        </table-column>
      </i-table>
    </div>
    <Pagination :total="totalCount" :current="filterParams.pageIndex" :page-size="filterParams.pageSize" show-elevator  @on-page-size-change="pageSizeChange" @on-change="pageChange"></Pagination>
    <CreateOrUpdateModal :id="editTenantId" v-model="showCreateOrEditModal" @save="handleOnSave"></CreateOrUpdateModal>
  </portlet>
</template>

<script>
  import tenantService from '../../../../../appServices/admin/administration/tenantService';
  import CreateOrUpdateModal from './CreateOrUpdateModal';
  import EditionSelector from '../edition/EditionSelector';

  export default {
    name: 'TenantIndex',
    components: {
      EditionSelector,
        CreateOrUpdateModal
    },
    data () {
      return {
        showCreateOrEditModal: false,
        creatintOrMigratingForTenant: false,
        createOrMigrateTenant: null,
        editTenantId: null,
        tenants: [],
        totalCount: 0,
        loading: false,
        filterParams: {
          filter: null,
          pageIndex: 1,
          pageSize: 5,
          filterText: null,
          editionId: null,
          subscriptionEndDateRangeActive: false,
          subscriptionEndDateStart: null,
          subscriptionEndDateEnd: null,
          creationDateRangeActive: false,
          creationDateStart: null,
          creationDateEnd: null
        }
      };
    },
    methods: {
      handleOnSave () {
        this.fetchData();
      },
      create () {
        this.editTenantId = null;
        this.showCreateOrEditModal = true;
      },
      edit (tenant) {
        this.editTenantId = tenant.id;
        this.showCreateOrEditModal = true;
      },
      async createOrMigrateForTenant (tenant) {
        this.creatintOrMigratingForTenant = true;
        this.createOrMigrateTenant = tenant;
        await tenantService.createOrMigrateForTenant({ id: tenant.id }).then((result) => {
          this.creatintOrMigratingForTenant = false;
          this.createOrMigrateTenant = null;
        });
      },
      search () {
        this.filterParams.pageIndex = 1;
        this.fetchData();
      },
      pageChange (pageIndex) {
        this.filterParams.pageIndex = pageIndex;
        this.fetchData();
      },
      pageSizeChange (pageSize) {
        this.filterParams.pageSize = pageSize;
        this.fetchData();
      },
      async fetchData () {
        this.loading = true;
        await tenantService.getTenants(this.filterParams).then((result) => {
          this.tenants = result.items;
          this.totalCount = result.totalCount;
        });
        this.loading = false;
      }
    },
    created () {
      this.fetchData();
    }
  };
</script>
