<template>
  <div class="editable-tree-item">
    <div class="editable-tree-item-header">
      <span class="sort-handler"><icon name="menu"></icon></span>
      <label class="editable-tree-item-title" @click="handleSelect">{{data.name}}</label>
      <div class="editable-tree-item-toolbar">
        <ToolBar :node="data" :parent="parent"></ToolBar>
      </div>
    </div>
    <ul v-if="data.sub_button">
      <draggable v-model="data.sub_button">
        <li v-for="(item, index) in data.sub_button" :key="index">
          <EditableMenuTreeItem :data="item" :parent="data.sub_button" :renderContent="renderContent"></EditableMenuTreeItem>
        </li>
      </draggable>
    </ul>
  </div>
</template>

<script type="text/jsx">
  import Emitter from 'canknow-ui-core/src/mixins/emitter';
  import draggable from 'vuedraggable';

  export default {
    name: 'EditableMenuTreeItem',
    mixins: [ Emitter ],
    components: {
      draggable,
      ToolBar: {
        props: {
          node: {
            required: true
          },
          parent: null
        },
        render (h) {
          const parent = this.$parent;
          const data = this.node;
          const parentData = this.parent;
          return (
            parent.renderContent
              ? parent.renderContent.call(parent._renderProxy, h, { data, parent: parentData })
              : null
          );
        }
      }
    },
    props: {
      data: {
        type: Object,
        default () {
          return {};
        }
      },
      parent: {
        type: Array
      },
      renderContent: Function
    },
    methods: {
      handleSelect () {
        this.dispatch('EditableMenuTree', 'select', this.data);
      }
    }
  };
</script>

