<template>
  <ul class="editable-tree-list">
    <draggable v-model="treeData">
      <li v-for="(item, index) in treeData" :key="index" v-dragging="{ item: item, list: treeData }">
        <EditableMenuTreeItem
          :render-content="renderContent"
          :parent="treeData"
          :data="item">
        </EditableMenuTreeItem>
      </li>
    </draggable>
  </ul>
</template>

<script type="text/jsx">
  import draggable from 'vuedraggable';
  import EditableMenuTreeItem from './EditableMenuTreeItem';

  export default {
    name: 'EditableMenuTree',
    components: {
      EditableMenuTreeItem,
      draggable
    },
    props: {
      renderContent: Function,
      treeData: {
        type: Array,
        default () {
          return [];
        }
      }
    },
    data () {
      return {
      };
    },
    mounted () {
      this.$on('select', (data) => {
        this.$emit('selectChange', data);
      });
    }
  };
</script>

