<template>
  <div>
    <alert>
      <p>菜单的刷新策略是，在用户进入公众号会话页或公众号profile页时，如果发现上一次拉取菜单的请求在5分钟以前，就会拉取一下菜单，如果菜单有更新，就会刷新客户端的菜单。测试时可以尝试取消关注公众账号后再次关注，则可以看到创建后的效果。</p>
    </alert>
    <div>
      <Row :gutter="1">
        <Column :span="12">
          <portlet :title="$t('app.application.publicWechat.publicWechatMenu.publicWechatMenu')">
            <div slot="actions">
              <i-button border circle scene="primary" icon="add" @click="append(null)">{{$t('app.application.publicWechat.publicWechatMenu.addRootMenu')}}</i-button>
            </div>
            <div v-loading="loading">
              <EditableMenuTree @selectChange="handleSelect" :tree-data="menu.button" :renderContent="renderContent"></EditableMenuTree>
            </div>
            <i-button border circle scene="primary" :loading="saving" icon="upload" @click="send">{{$t('app.application.publicWechat.publicWechatMenu.send')}}</i-button>
          </portlet>
        </Column>
        <Column :span="12">
          <portlet :title="$t('app.application.publicWechat.publicWechatMenu.editMenuItemInfo')">
            <i-form :label-width="100" :model="selectedButton" v-if="selectedButton">
              <form-item :label="$t('app.application.publicWechat.publicWechatMenu.name')">
                <i-input block name="name" v-model="selectedButton.name"></i-input>
              </form-item>
              <form-item :label="$t('app.application.publicWechat.publicWechatMenu.type')">
                <MenuTypeSelector block v-model="selectedButton.type"></MenuTypeSelector>
              </form-item>
              <form-item :label="$t('app.application.publicWechat.publicWechatMenu.key')" v-if="showKey(selectedButton)">
                <PublicWechatEventHandleSelector block v-model="selectedButton.key"></PublicWechatEventHandleSelector>
              </form-item>
              <form-item :label="$t('app.application.publicWechat.publicWechatMenu.url')" v-if="selectedButton.type=='view'">
                <LinkInput block name="url" v-model="selectedButton.url"></LinkInput>
              </form-item>
              <form-item :label="$t('app.application.publicWechat.publicWechatMenu.media_id')" v-if="selectedButton.type=='media_id'">
                <public-wechat-picture-selector v-model="selectedButton.media_id"></public-wechat-picture-selector>
              </form-item>
              <form-item>
                <i-button border circle icon="save" @click="save">{{$t('app.common.action.save')}}</i-button>
              </form-item>
            </i-form>
          </portlet>
        </Column>
      </Row>
    </div>
  </div>
</template>

<script type="text/jsx">
  import EditableMenuTree from './EditableMenuTree';
  import publicWechatService from '../../../../../../appServices/admin/application/publicWechatService';
  import MenuTypeSelector from './MenuTypeSelector';
  import PublicWechatPictureSelector from '../file/PublicWechatPictureSelector';

  export default {
    components: {
      PublicWechatPictureSelector,
      EditableMenuTree,
      MenuTypeSelector
    },
    name: 'PublicWechatMenu',
    data () {
      const _this = this;
      return {
        saving: false,
        loading: false,
        isShowEditConditionalMenu: false,
        getMenuResult: {
          menu: {},
          conditionalmenu: []
        },
        menu: {
          button: []
        },
        renderContent (h, { data, parent }) {
          return (<div>
            <i-button size="small" border type="icon" icon="edit" onClick={() => _this.edit(data)}></i-button>
            <i-button size="small" border type="icon" icon="remove" onClick={() => _this.deleteItem(data, parent)}></i-button>
            <i-button size="small" border type="icon" icon="add" onClick={() => _this.append(data)}></i-button>
          </div>);
        },
        selectedButton: null
      };
    },
    methods: {
      showKey (selectedButton) {
        return [
          'click',
          'scancode_waitmsg',
          'scancode_push',
          'pic_sysphoto',
          'pic_photo_or_album',
          'pic_weixin',
          'location_select'
        ].includes(selectedButton.type);
      },
      initialize () {
        if (localStorage.getItem('publicWechatMenu') && localStorage.getItem('publicWechatMenu') !== 'null') {
          this.menu = JSON.parse(localStorage.getItem('publicWechatMenu')) || {
            button: []
          };
          this.selectedButton = this.menu.button[0] == null ? null : this.menu.button[0];
        }
        else {
          this.fetchData();
        }
      },
      send () {
        this.saving = true;
        publicWechatService.createMenuAsync(this.menu).then((result) => {
          this.fetchData();
          this.$Message.success('app.common.message.successfullyCreated');
        }).finally(() => {
          this.saving = false;
        });
      },
      save () {
        localStorage.setItem('publicWechatMenu', JSON.stringify(this.menu));
      },
      edit (data) {
        if (data) {
          this.selectedButton = data;
        }
      },
      deleteItem (data, parent) {
        const index = parent.findIndex((item) => {
          return item === data;
        });
        if (this.selectedButton === data) {
          this.selectedButton = null;
        }
        parent.splice(index, 1);
      },
      append (parent) {
        let parentList;
        if (parent == null) {
          parent = this.menu;
          parentList = this.menu.button;
          if (parentList.length >= 3) {
            return false;
          }
        }
        else if (!parent.sub_button) {
          this.$set(parent, 'sub_button', []);
          parentList = parent.sub_button;
        }
        else {
          parentList = parent.sub_button;
          if (parentList.length >= 5) {
            return false;
          }
        }
        const button = {
          name: '',
          type: null,
          key: null,
          url: null
        };
        parentList.push(button);
        this.selectedButton = button;
      },
      handleSelect (node) {
      },
      fetchData () {
        this.loading = true;
        publicWechatService.getMenuAsync().then((result) => {
          if (result) {
            this.getMenuResult = result;
            this.menu = result ? result.menu : { button: [] };
            this.selectedButton = this.menu.button[0] == null ? null : this.menu.button[0];
          }
          localStorage.setItem('publicWechatMenu', null);
        }).finally(() => {
          this.loading = false;
        });
      }
    },
    created () {
      this.initialize();
    }
  };
</script>
