<template>
  <div>
    <i-select transfer :block="block" v-model="selected" @on-change="handleChange">
      <i-option :key="menuType.name" :value="menuType.name" v-for="menuType in menuTypes">{{menuType.title}}</i-option>
    </i-select>
  </div>
</template>

<script>
  import menuTypes from './menuTypes';
  export default {
    name: 'MenuTypeSelector',
    props: {
      value: {
        type: [String, Number]
      },
      block: Boolean
    },
    watch: {
      value (newValue) {
        this.selected = newValue;
      }
    },
    data () {
      return {
        selected: null,
        menuTypes
      };
    },
    methods: {
      handleChange (value) {
        this.$emit('input', value);
      }
    },
    mounted () {
      this.selected = this.value;
    }
  };
</script>
