<template>
  <Modal v-model="showCreateOrEditModal" :title="$t('core.crud.createOrEdit', { 0: $t('app.application.edition.edition') })">
    <i-form :model="edition" :rules="rules" ref="form" :label-width="100">
      <tab>
        <tab-pane name="editionProperties" :label="$t('app.application.edition.editionProperties')">
          <div class="content-padding">
            <form-item :label="$t('app.application.edition.name')" prop="displayName">
              <i-input name="edition" v-model="edition.displayName" block></i-input>
            </form-item>
            <form-item :label="$t('app.application.edition.subscriptionPrice')" prop="isFree">
              <RadioGroup v-model="isFree" @on-change="handleIsFreeChange">
                <Radio :value="1">{{$t("app.common.property.free")}}</Radio>
                <Radio :value="0">{{$t("app.common.property.paid")}}</Radio>
              </RadioGroup>
            </form-item>
            <form-item :label="$t('app.common.property.monthlyPrice')" prop="monthlyPrice" v-if="!isFree">
              <i-input name="monthlyPrice" autocomplete="off" v-model="edition.monthlyPrice" block></i-input>
            </form-item>
            <form-item :label="$t('app.common.property.annualPrice')" prop="annualPrice" v-if="!isFree">
              <i-input name="annualPrice" autocomplete="off" v-model="edition.annualPrice" block></i-input>
            </form-item>
            <form-item :label="$t('app.application.edition.isTrialActive')" prop="isTrialActive" v-if="!isFree">
              <Checkbox name="isTrialActive" v-model="isTrialActive" @on-change="handleIsTrialActive"></Checkbox>
            </form-item>
            <form-item :label="$t('app.application.edition.trialDayCount')" prop="trialDayCount" v-if="isTrialActive">
              <i-input type="number" name="trialDayCount" autocomplete="off" v-model="edition.trialDayCount" block></i-input>
            </form-item>
            <form-item :label="$t('app.application.edition.isWaitingDayActive')" prop="isWaitingDayActive" v-if="!isFree">
              <Checkbox name="isWaitingDayActive" v-model="isWaitingDayActive" @on-change="handleIsWaitingDayActive"></Checkbox>
            </form-item>
            <form-item :label="$t('app.application.edition.waitingDayAfterExpire')" prop="waitingDayAfterExpire" v-if="isWaitingDayActive">
              <i-input type="number" name="waitingDayAfterExpire" autocomplete="off" v-model="edition.waitingDayAfterExpire" block></i-input>
            </form-item>
            <form-item :label="$t('app.application.edition.whatWillDoneAfterSubscriptionExpiry')" prop="expireAction">
              <RadioGroup v-model="expireAction">
                <Radio :value="expireActionEnum.DeactiveTenant">{{$t("app.application.edition.deactiveTenant")}}</Radio>
                <Radio :value="expireActionEnum.AssignToAnotherEdition">{{$t("app.application.edition.assignToAnotherEdition")}}</Radio>
              </RadioGroup>
            </form-item>
            <form-item v-if="expireAction === expireActionEnum.AssignToAnotherEdition">
              <edition-selector v-model="edition.expiringEditionId"></edition-selector>
            </form-item>
          </div>
        </tab-pane>
        <tab-pane name="features" :label="$t('app.application.edition.features')">
          <div class="content-padding">
            <FeatureTree ref="featureTree" :defaultCheckedKeys="featureValues" :showCheckbox="true"></FeatureTree>
          </div>
        </tab-pane>
      </tab>
    </i-form>
    <template slot="footer">
      <i-button size="large" border circle icon="back" @click="handleCancel">{{$t('app.common.action.cancel')}}</i-button>
      <i-button size="large" circle border :loading="saving" icon="save" scene="primary" @click="save">{{$t('app.common.action.save')}}</i-button>
    </template>
  </Modal>
</template>

<script>
  import editionService from '../../../../../appServices/admin/administration/editionService';
  import FeatureTree from './FeatureTree';
  import { AppEditionExpireAction } from '../../../../../application/edition/AppEditionExpireAction';
  import EditionSelector from './EditionSelector';

  export default {
    components: {
      EditionSelector,
      FeatureTree
    },
    name: 'EditionCreateOrEditModal',
    props: {
      id: {
        type: [Number, String]
      },
      value: {
        type: Boolean,
        default: false
      }
    },
    data () {
      return {
        expireActionEnum: AppEditionExpireAction,
        editId: null,
        showCreateOrEditModal: false,
        edition: {},
        isFree: false,
        expireAction: AppEditionExpireAction.DeactiveTenant,
        isTrialActive: false,
        isWaitingDayActive: false,
        featureValues: [],
        saving: false,
        rules: {

        }
      };
    },
    watch: {
      id (newValue) {
        this.editId = newValue;
        if (newValue) {
          this.fetchData();
        }
        else {
          this.edition = {};
        }
      },
      value (newValue) {
        this.showCreateOrEditModal = newValue;
      }
    },
    methods: {
      handleIsFreeChange (value) {
        if (value) {
          this.edition.monthlyPrice = null;
          this.edition.annualPrice = null;
        }
      },
      handleIsTrialActive (value) {
        if (value) {
          this.edition.trialDayCount = 0;
        }
      },
      handleIsWaitingDayActive (value) {
        if (value) {
          this.edition.waitingDayAfterExpire = 0;
        }
      },
      handleCancel () {
        this.$emit('input', false);
      },
      save () {
        this.saving = true;
        try {
          let featureValues = this.$refs.featureTree.getCheckedKeys();
          editionService.createOrUpdateEdition({
            edition: this.edition,
            featureValues: featureValues
          }).then(() => {
            this.$emit('input', false);
            this.$emit('onSave');
            this.$Message.success(this.$t('app.common.message.successfullySaved'));
          });
        }
        finally {
          this.saving = false;
        }
      },
      fetchData () {
        editionService.getEditionForEdit({ id: this.editId }).then((result) => {
          this.edition = result.edition;
          this.expireAction = this.edition.expiringEditionId > 0 ? AppEditionExpireAction.AssignToAnotherEdition : AppEditionExpireAction.DeactiveTenant;
          this.isFree = !result.edition.monthlyPrice && !result.edition.annualPrice;
          this.isTrialActive = result.edition.trialDayCount > 0;
          this.isWaitingDayActive = result.edition.waitingDayAfterExpire > 0;
          this.featureValues = result.featureValues.map((item) => {
            return item.name;
          });
        });
      }
    },
    created () {
      this.fetchData();
    }
  };
</script>
