<template>
  <div class="">
    <i-select v-if="editions.length"
              :block="block"
              transfer
              :placeholder="$t('core.select.placeholder', { 0: $t('app.application.edition.edition') })"
              v-model="selectedValue"
              @on-change="handleChange">
      <i-option v-for="item in editions" :key="item.value" :value="item.value">{{item.displayText}}</i-option>
    </i-select>
  </div>
</template>

<script>
  import commonLookupService from '../../../../../appServices/common/commonLookupService';
  export default {
    name: 'EditionSelector',
    props: {
      value: {
        type: [Number, String]
      },
      block: {
        type: Boolean,
        default: true
      }
    },
    watch: {
      value (newValue) {
        this.selectedValue = newValue;
      }
    },
    data () {
      return {
        selectedValue: this.value,
        editions: []
      };
    },
    methods: {
      handleChange (value) {
        this.$emit('input', value);
        this.$emit('change', this.editions.find((item) => {
          return item.id === value;
        }));
      },
      fetchData () {
        commonLookupService.getEditionsForCombobox().then((result) => {
          result.items.forEach((item) => {
            item.value = parseInt(item.value);
          });
          this.editions = result.items;
          this.editions.unshift({ value: 0, displayText: this.$t('NotAssigned') });
        });
      }
    },
    mounted () {
      this.fetchData();
    }
  };
</script>
