<template>
  <div>
    <Tree :data="treeData"
          :default-checked-keys="defaultCheckedKeys"
          ref="tree"
          @check-change="handleCheckChange"
          node-key="name"
          :default-expanded-keys="defaultExpandedKeys"
          :accordion="accordion"
          :show-checkbox="showCheckbox"></Tree>
  </div>
</template>

<script>
  import editionService from '../../../../../appServices/admin/administration/editionService';
  import assist from './../../../../../utils/assist';

  export default {
    name: 'FeatureTree',
    props: {
      accordion: {
        type: Boolean,
        default: true
      },
      defaultCheckedKeys: {
        type: Array,
        default () {
          return [];
        }
      },
      showCheckbox: {
        type: Boolean,
        default: false
      }
    },
    watch: {
      defaultCheckedKeys (newValue) {
        return this.$refs.tree.setCheckedKeys(newValue);
      }
    },
    data () {
      return {
        features: [],
        treeData: []
      };
    },
    computed: {
      defaultExpandedKeys () {
        return this.treeData.length ? [this.treeData[0].name] : [];
      }
    },
    methods: {
      handleCheckChange () {
        this.$emit('check-change');
      },
      fetchData () {
        editionService.getFeatures().then((result) => {
          this.features = result;
          this.treeData = assist.getTreeFromPlain(this.features, 'name', 'parentName', 'children', (item) => {
            item.id = item.name;
            item.label = item.displayName;
          });
        });
      },
      getCheckedKeys () {
        return this.$refs.tree.getCheckedKeys();
      }
    },
    mounted () {
      this.fetchData();
    }
  };
</script>
