<template>
  <portlet>
    <admin-page-content-header>
      <template slot="title">
        {{$t('app.application.edition.editionsHeaderInfo')}}
      </template>
      <i-button border circle scene="primary" icon="add" @click="create">
        {{$t('app.application.edition.createNewEdition')}}
      </i-button>
    </admin-page-content-header>
    <div class="data-table-container margin-bottom-1">
      <i-table class="data-table"
               :data="items"
               border>
        <table-column
          min-width="120"
          prop="displayName"
          :label="$t('app.application.edition.displayName')">
        </table-column>
        <table-column
          min-width="120"
          prop="monthlyPrice"
          :label="$t('app.common.property.monthlyPrice')">
        </table-column>
        <table-column
          min-width="120"
          prop="annualPrice"
          :label="$t('app.common.property.annualPrice')">
        </table-column>
        <table-column
          min-width="120"
          prop="trialDayCount"
          :label="$t('app.common.property.trialDayCount')">
        </table-column>
        <table-column
          min-width="120"
          prop="waitingDayAfterExpire"
          :label="$t('app.application.edition.waitingDayAfterExpire')">
        </table-column>
        <table-column
          width="190"
          :label="$t('app.common.property.creationTime')">
          <template scope="scope">
            {{scope.row.creationTime|momentFormat}}
          </template>
        </table-column>
        <table-column
          fixed="right"
          width="200"
          :label="$t('app.common.action.actions')">
          <template scope="scope">
            <i-button circle border scene="primary" @click="edit(scope.row)">{{$t('app.common.action.edit')}}</i-button>
            <i-button circle border scene="danger" @click="deleteItem(scope.row)">{{$t('app.common.action.delete')}}</i-button>
          </template>
        </table-column>
      </i-table>
    </div>
    <Pagination :total="totalCount" :current="filterParams.pageIndex" :page-size="filterParams.pageSize" show-elevator @on-change="handlePageChange"></Pagination>
    <CreateOrUpdateModal :id="editId" @save="handleOnSave" v-model="showCreateOrEditModal"></CreateOrUpdateModal>
  </portlet>
</template>

<script>
    import editionService from '../../../../../appServices/admin/administration/editionService';
    import CreateOrUpdateModal from './CreateOrUpdateModal';

    export default {
        name: 'EditionIndex',
        components: {
            CreateOrUpdateModal
        },
        data () {
            return {
                showCreateOrEditModal: false,
                totalCount: 0,
                items: [],
                editId: null,
                filterParams: {
                    pageIndex: 1,
                    pageSize: 10
                }
            };
        },
        methods: {
            edit (item) {
                this.editId = item.id;
                this.showCreateOrEditModal = true;
            },
            delete (index, item) {
                this.$confirm(this.$t('app.common.message.areYouSure')).then(() => {
                    editionService.delete({ id: item.id }).then((result) => {
                        this.getAll();
                    });
                });
            },
            handleOnSave () {
                this.getAll();
            },
            handlePageChange (pageIndex) {
                this.filterParams.pageIndex = pageIndex;
            },
            create() {
                this.editId = null;
                this.showCreateOrEditModal = true;
            },
            getAll () {
                editionService.getEditions(this.filterParams).then((result) => {
                    this.items = result.items;
                    this.totalCount = result.totalCount;
                });
            }
        },
        created () {
            this.getAll();
        }
    };
</script>
