<template>
  <portlet :title="$t('core.crud.createOrEdit', { 0: $t('app.application.shopTemplate.shopTemplate') })">
    <i-form :model="model" :rules="rules" ref="form" :label-width="150">
      <form-item :label="$t('app.application.shopTemplate.name')" prop="name">
        <i-input name="name" v-model="model.name" block></i-input>
      </form-item>
      <form-item>
        <i-button :loading="saving" circle border icon="save" scene="primary" @click="save">{{$t('app.common.action.save')}}</i-button>
      </form-item>
    </i-form>
  </portlet>
</template>

<script>
    import shopTemplateService from '../../../../../appServices/admin/application/shopTemplateService';
    import CommonCreateOrUpdate from '../../../../mixins/CommonCreateOrUpdate';

    export default {
        name: 'CreateOrUpdate',
        mixins: [CommonCreateOrUpdate],
        data () {
            return {
                api: shopTemplateService,
                entityName: 'ShopTemplate',
                rules: {
                    name: [
                        { required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.application.shopTemplate.name') }) }
                    ]
                }
            };
        }
    };
</script>
