<template>
  <portlet :title="$t('app.application.shopTemplate.editTemplate')">
    <div slot="actions">
      <i-button border circle scene="danger" icon="remove" :loading="saving" @click="clear">{{$t('app.common.action.clear')}}</i-button>
      <i-button border circle scene="primary" icon="save" :loading="saving" @click="save">{{$t('app.common.action.save')}}</i-button>
    </div>
    <div class="shop-template-edit" v-loading="loading" mask>
      <div class="flex-horizontal">
        <div class="margin-right-1">
          <PhonePreview>
            <div class="template-controls" v-for="(control, index) in template" :key="index" @click="selectControl(control)">
              <div class="template-control-item" :class="{'margin-bottom-1': control.bottomSpan,active: control === selectedControl }">
                <Component :is="control.name" :controlData="control"></Component>
                <div class="template-control-item-toolbar">
                  <i-button type="icon" scene="light" circle icon="up" @click="up(control, index)" v-if="index>0"></i-button>
                  <i-button type="icon" scene="light" circle icon="down" @click="down(control, index)" v-if="index<template.length-1"></i-button>
                  <i-button type="icon" scene="danger" circle icon="remove" @click="removeControl(control, index)"></i-button>
                </div>
              </div>
            </div>
          </PhonePreview>
        </div>
        <div class="width-em15 margin-right-1">
          <div class="control-list">
            <div class="control-item" :class="{selected: selectedControl && selectedControl.name===controlName}" v-for="(control, controlName) in controls" :key="controlName" @click="addControl(control)">
              <label class="control-item-name">{{`app.application.shopTemplate.controls.${controlName}`|localize}}</label>
            </div>
          </div>
        </div>
        <div class="flex-adapter">
          <div v-if="selectedControl">
            <Component :is="selectedControl.name + 'Config'" :controlData="selectedControl"></Component>
          </div>
        </div>
      </div>
    </div>
  </portlet>
</template>

<script>
  import shopTemplateService from '../../../../../appServices/admin/application/shopTemplateService';
  import controls from './controls/index';
  import controlConfigs from './controlConfigs/index';
  import Vue from 'vue';

  Object.keys((controls)).forEach(key => {
    Vue.component(key, controls[key]);
  });

  Object.keys((controlConfigs)).forEach(key => {
    Vue.component(key, controlConfigs[key]);
  });

  export default {
    components: {},
    name: 'EditTemplate',
    data () {
      return {
        controls,
        saving: false,
        loading: false,
        selectedControl: null,
        template: [],
        shopTemplate: {
        }
      };
    },
    methods: {
      clear () {
        this.template = [];
      },
      up (control, index) {
        const tempControl = this.template[index - 1];
        this.$set(this.template, index - 1, control);
        this.$set(this.template, index, tempControl);
      },
      down (control, index) {
        const tempControl = this.template[index + 1];
        this.$set(this.template, index + 1, control);
        this.$set(this.template, index, tempControl);
      },
      removeControl (control, index) {
        if (!this.selectedControl) {
          return;
        }
        if (this.selectedControl.name === control.name) {
          this.$nextTick(() => {
            this.selectedControl = null;
          });
        }
        this.template.splice(index, 1);
      },
      selectControl (control) {
        this.selectedControl = control;
      },
      addControl (control) {
        this.template.push({
          name: control.name,
          ...control.controlData
        });
      },
      save () {
        this.saving = true;
        this.shopTemplate.template = JSON.stringify(this.template);
        shopTemplateService.createOrUpdateShopTemplate(this.shopTemplate).then(() => {
        }).finally(() => {
          this.saving = false;
        });
      },
      fetchData () {
        this.loading = true;
        shopTemplateService.getShopTemplateForCreateOrEdit({ id: this.id }).then((result) => {
          this.shopTemplate = result;
          this.template = JSON.parse(this.shopTemplate.template) || [];
        }).finally(() => {
          this.loading = false;
        });
      }
    },
    mounted () {
      this.id = this.$route.query.id;
      if (this.id) {
        this.fetchData();
      }
    }
  };
</script>

<style lang="scss">
  @import "shop-template-edit";
</style>
