<template>
  <portlet>
    <div class="clearfix margin-bottom-1">
      <div class="pull-right">
        <i-button border circle scene="primary" icon="add" @click="create">
          {{$t('app.common.action.create')}}
        </i-button>
      </div>
    </div>
    <div class="data-table-container margin-bottom-1">
      <i-table class="data-table"
               :data="items"
               v-loading="loading"
               border>
        <table-column
          min-width="120"
          prop="name"
          :label="$t('app.application.shopTemplate.name')">
        </table-column>
        <table-column
          min-width="120"
          :label="$t('app.common.property.isDefault')">
          <template scope="scope">
            <i-switch v-model="scope.row.isDefault" @on-change="handleDefaultChange(scope.row)"></i-switch>
          </template>
        </table-column>
        <table-column
          width="190"
          :label="$t('app.common.property.creationTime')">
          <template scope="scope">
            {{scope.row.creationTime|momentFormat}}
          </template>
        </table-column>
        <table-column
          fixed="right"
          width="300"
          :label="$t('app.common.action.actions')">
          <template scope="scope">
            <i-button border circle scene="primary" @click="edit(scope.row)">{{$t('app.common.action.edit')}}</i-button>
            <i-button border circle scene="primary" @click="editTemplate(scope.row)">{{$t('app.application.shopTemplate.editTemplate')}}</i-button>
            <i-button border circle scene="danger" @click="deleteItem(scope.row)">{{$t('app.common.action.delete')}}</i-button>
          </template>
        </table-column>
      </i-table>
    </div>
    <Pagination :total="totalCount" :current="filterParams.pageIndex" :page-size="filterParams.pageSize" show-elevator @on-change="handlePageChange"></Pagination>
  </portlet>
</template>

<script>
    import shopTemplateService from '../../../../../appServices/admin/application/shopTemplateService';
    import CommonIndependentCreateOrUpdateList from '../../../../mixins/CommonIndependentCreateOrUpdateList';

    export default {
        components: {},
        name: 'ShopTemplateIndex',
        mixins: [CommonIndependentCreateOrUpdateList],
        data () {
            return {
                api: shopTemplateService,
                entityName: 'ShopTemplate',
                filterParams: {
                    name: null
                }
            };
        },
        methods: {
            handleDefaultChange(shopTemplate) {
                this.api.setAsDefault({ id: shopTemplate.id }).then((result) => {
                    this.items.forEach((item) => {
                        if (item !== shopTemplate) {
                            item.isDefault = false;
                        }
                    });
                }, () => {
                    shopTemplate.isDefault = false;
                });
            },
            editTemplate(item) {
                this.$router.push({ name: 'ShopTemplateEditTemplate', query: { id: item.id } });
            },
        }
    };
</script>

