@import "~canknow/src/scss/variables";
@import "~canknow-ui-core/src/scss/mixins/flex";
.shop-template-edit{
  .control-list{
    .control-item{
      padding: $content-padding;
      background: $background-color;
      margin-bottom: $component-span;
      cursor: pointer;
      &.selected {
        background: $primary-color;
        .control-item-name {
          color: #fff;
          font-weight: bold;
        }
      }
      .control-item-name{
        display: block;
        text-align: center;
        cursor: pointer;
        user-select: none;
      }
    }
  }
  .template-controls{
    .template-control-item{
      cursor: pointer;
      min-height: $component-size;
      position: relative;
      .template-control-item-toolbar{
        position: absolute;
        width: 100%;
        padding: $text-padding $content-padding;
        background-color: rgba(51,51,51,0.7);
        bottom:0;
        right: 0;
        text-align: right;
        z-index: 10;
        display: none;
      }
      &:hover, &.active{
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          border: $border-width-large dashed $primary-color;
          cursor: move;
          z-index: 10;
        }
        .template-control-item-toolbar{
          display: block;
        }
      }
    }
  }
}
