<template>
  <Modal v-model="dialogVisible" width="960" :title="$t('core.crud.createOrEdit', { 0: $t('app.common.property.user') })" @on-cancel="handleCancel">
    <Tab :value="activeName">
      <TabPane :label="$t('app.application.user.userInformations')" name="UserInformations">
        <div class="content-padding">
          <i-form :model="user" :rules="rules" ref="form" :label-width="170">
            <form-item :label="$t('app.common.property.userName')" prop="userName">
              <i-input block v-model="user.userName" :placeholder="$t('app.common.property.userName')" :disabled="!!user.id"></i-input>
            </form-item>
            <form-item :label="$t('app.common.property.name')" prop="name">
              <i-input block v-model="user.name" :placeholder="$t('app.common.property.name')"></i-input>
            </form-item>
            <form-item :label="$t('app.common.property.surname')" prop="surname">
              <i-input block v-model="user.surname" :placeholder="$t('app.common.property.surname')"></i-input>
            </form-item>
            <form-item :label="$t('app.common.property.emailAddress')" prop="emailAddress">
              <i-input block type="email" v-model="user.emailAddress" :placeholder="$t('app.common.property.emailAddress')"></i-input>
            </form-item>
            <form-item :label="$t('app.common.property.phoneNumber')" prop="phoneNumber">
              <i-input block v-model="user.phoneNumber" :placeholder="$t('app.common.property.phoneNumber')"></i-input>
            </form-item>
            <form-item :label="$t('app.application.user.setRandomPassword')" prop="setRandomPassword">
              <checkbox v-model="fetchParam.setRandomPassword"></checkbox>
            </form-item>
            <form-item :label="$t('app.common.property.password')" prop="password" v-show="!fetchParam.setRandomPassword">
              <i-input block type="password" v-model="user.password" :placeholder="$t('app.common.property.password')"></i-input>
            </form-item>
            <form-item :label="$t('app.common.property.passwordRepeat')" prop="rePassword" v-show="!fetchParam.setRandomPassword">
              <i-input block type="password" v-model="user.rePassword" :placeholder="$t('app.common.property.passwordRepeat')"></i-input>
            </form-item>
            <form-item :label="$t('app.application.user.shouldChangePasswordOnNextLogin')" prop="shouldChangePasswordOnNextLogin">
              <checkbox v-model="user.shouldChangePasswordOnNextLogin"></checkbox>
            </form-item>
            <form-item :label="$t('app.application.user.sendActivationEmail')" prop="sendActivationEmail">
              <checkbox v-model="fetchParam.sendActivationEmail"></checkbox>
            </form-item>
            <form-item :label="$t('app.common.property.active')" prop="isActive">
              <checkbox v-model="user.isActive"></checkbox>
            </form-item>
            <form-item :label="$t('app.application.user.isLockoutEnabled')" prop="isLockoutEnabled">
              <checkbox v-model="user.isLockoutEnabled"></checkbox>
            </form-item>
          </i-form>
        </div>
      </TabPane>
      <TabPane :label="rolesTabPaneLabel" name="Roles">
        <div class="content-padding">
          <checkbox @change="setRoleCount" v-for="item in roles" v-model="item.isAssigned" :key="item.roleId">
            {{item.roleDisplayName}}
          </checkbox>
        </div>
      </TabPane>
    </Tab>
    <template slot="footer">
      <i-button size="large" border circle icon="back" @click="handleCancel">{{$t('app.common.action.cancel')}}</i-button>
      <i-button size="large" border circle icon="save" scene="primary" @click="save">{{$t('app.common.action.save')}}</i-button>
    </template>
  </Modal>
</template>

<script type="text/jsx">
  import userService from '../../../../../appServices/admin/administration/userService';
  import userNameValidator from './../../../../../common/validators/userNameValidator';

  export default {
    name: 'CreateOrEditUserModal',
    props: {
      value: Boolean,
      id: {
        type: Number
      }
    },
    data () {
      const userNameExitValidator = (rule, value, callback) => {
        if (this.id) {
          callback();
          return;
        }
        this.$store.dispatch('authorization/checkUserName', {
          userName: value,
          tenancyName: this.$store.getters.tenant ? this.$store.getters.tenant.name : null
        }).then((result) => {
          if (result) {
            callback(new Error(this.$t('app.common.validate.exist', { 0: this.$t('app.common.property.userName') })));
          }
          else {
            callback();
          }
        });
      };
      const validRePassword = (rule, value, callback) => {
        if (value !== this.user.password) {
          callback(new Error('两次输入密码不一致!'));
        }
        else {
          callback();
        }
      };
      return {
        dialogVisible: false,
        activeName: 'UserInformations',
        loading: false,
        user: {},
        userDetail: {},
        fetchParam: {
          sendActivationEmail: false,
          setRandomPassword: false // 使用随机密码
        },
        rules: {
          emailAddress: [{ required: true, type: 'email', message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.common.property.emailAddress') }), trigger: 'change' }],
          name: [{ required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.common.property.name') }), trigger: 'change' }],
          surname: [{ required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.common.property.surname') }), trigger: 'change' }],
          userName: [
            { required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.common.property.userName') }), trigger: 'change' },
            { validator: userNameValidator, trigger: 'change' },
            { validator: userNameExitValidator, trigger: 'change' }
            ],
          rePassword: [{ validator: this.validRePassword, trigger: 'change' }]
        },
        validRePassword,
        roles: [], // 所有的角色
        canChangeUserName: false,
        assignedRoleCount: 0 // 拥有的角色数量
      };
    },
    watch: {
      dialogVisible (value) {
        if (value) {
          this.handleOpen();
        }
      },
      value (value) {
        this.dialogVisible = value;
      },
      'fetchParam.setRandomPassword' (val) {
        if (!val) {
          this.rules['rePassword'] = [{ validator: this.validRePassword, trigger: 'change' }];
        }
        else {
          delete this.rules['rePassword'];
        }
      }
    },
    methods: {
      rolesTabPaneLabel () {
        return (<badge count={this.assignedRoleCount}>{this.$t('app.common.property.role')}</badge>);
      },
      async save () {
        await new Promise((resolve, reject) => {
          this.$refs.form.validate((valid) => {
            valid ? resolve(true) : reject(new Error('表单验证失败' + valid));
          });
        });
        this.loading = true;
        this.user.roles = [];
        let assignedRoleNames = [];
        this.roles.forEach((item) => {
          if (item.isAssigned) {
            assignedRoleNames.push(item.roleName);
            this.user.roles.push({ roleName: item.roleName });
          }
        });
        try {
          await userService.createOrUpdateUser({
            user: this.user,
            ...this.fetchParam,
            assignedRoleNames
          });
          this.loading = false;
          this.dialogVisible = false;
          this.$Message.success(this.$t('app.common.message.successfullySaved'));
          this.$emit('save', this.user);
          this.$emit('input', false);
        }
        catch (e) {
          this.loading = false;
        }
      },
      handleCancel () {
        this.$emit('input', false);
      },
      async handleOpen () {
        this.$nextTick(() => {
          this.$refs.form.resetFields();
        });
        this.activeName = 'UserInformations';
        this.loading = true;
        this.title = `${this.$t('app.common.action.edit')}: ${this.user.name}`;
        this.rules['rePassword'] = [{
          validator: this.validRePassword,
          trigger: 'change'
        }];
        if (!this.id) {
          this.title = this.$t('app.common.action.create');
          this.fetchParam.setRandomPassword = this.fetchParam.sendActivationEmail = true;
          delete this.rules['rePassword'];
        }
        else {
          this.fetchParam.setRandomPassword = this.fetchParam.sendActivationEmail = false;
        }
        // 获取用户信息
        let result = await userService.getUserForEdit({ id: this.id });
        result.user.password = null;
        this.user = result.user;
        this.roles = result.roles;
        this.userDetail = result.userDetail;
        this.canChangeUserName = this.user.userName !== 'Admin';

        this.loading = false;
        this.setRoleCount(); // 设置拥有的角色数量
      },
      // 设置拥有的角色数量
      setRoleCount () {
        this.assignedRoleCount = 0;
        this.roles.forEach((item) => {
          if (item.isAssigned) {
            this.assignedRoleCount++;
          }
        });
      }
    }
  };
</script>
