<template>
  <portlet>
    <div class="clearfix margin-bottom-1">
      <div class="pull-right">
        <i-button border circle icon="permission" :to="{name: 'Administration.Role'}">
          {{$t('app.application.role.role')}}
        </i-button>
        <i-button border circle icon="download" @click="exportExcel">{{$t('app.common.action.exportToExcel')}}</i-button>
        <i-button border circle scene="primary" icon="add" @click="create">
          {{$t('app.common.action.create')}}
        </i-button>
      </div>
    </div>
    <div>
      <i-form type="inline">
        <form-item>
          <i-input :clearable="true" :placeholder="$t('core.placeholder', { 0: $t('app.application.user.userName') })" v-model="filterParams.userName"></i-input>
        </form-item>
        <form-item>
          <i-input :clearable="true" :placeholder="$t('core.placeholder', { 0: $t('app.common.property.emailAddress') })" v-model="filterParams.emailAddress"></i-input>
        </form-item>
        <form-item>
          <i-input :clearable="true" :placeholder="$t('core.placeholder', { 0: $t('app.application.user.nickName')})" v-model="filterParams.nickName"></i-input>
        </form-item>
        <form-item>
          <i-button border circle scene="primary" icon="search" @click="search">{{$t('app.common.action.search')}}</i-button>
        </form-item>
      </i-form>
    </div>
    <div class="data-table-container margin-bottom-1">
      <i-table class="data-table"
               :data="items"
               highlight-current-row
               v-loading="loading"
               border>
        <table-column
          min-width="100"
          fixed
          show-overflow-tooltip
          prop="userName"
          :label="$t('app.common.property.userName')">
        </table-column>
        <table-column
          min-width="200"
          show-overflow-tooltip
          prop="emailAddress"
          :label="$t('app.common.property.emailAddress')">
        </table-column>
        <table-column
          min-width="100"
          show-overflow-tooltip
          prop="avatar"
          :label="$t('app.common.property.avatar')">
          <template scope="scope">
            <i-image width="32" :src="scope.row.avatar"></i-image>
          </template>
        </table-column>
        <table-column
          min-width="200"
          :label="$t('app.common.property.role')">
          <template scope="scope">
            <i-label border scene="info" v-for="(role, index) in scope.row.roles" :key="index">{{role.roleName}}</i-label>
          </template>
        </table-column>
        <table-column
          width="150"
          :label="$t('app.application.user.isEmailConfirmed')">
          <template scope="scope">
            <i-label fill border scene="success" v-if="scope.row.isEmailConfirmed">{{$t('app.common.status.yes')}}</i-label>
            <i-label fill border v-else>{{$t('app.common.status.no')}}</i-label>
          </template>
        </table-column>
        <table-column
          width="80"
          :label="$t('app.common.property.active')">
          <template scope="scope">
            <i-label fill border scene="success" v-if="scope.row.isActive">{{$t('app.common.status.yes')}}</i-label>
            <i-label fill border v-else>{{$t('app.common.status.no')}}</i-label>
          </template>
        </table-column>
        <table-column
          width="190"
          prop="lastLoginTime"
          :label="$t('app.application.user.lastLoginTime')">
          <template scope="scope">
            {{scope.row.lastLoginTime|momentFormat}}
          </template>
        </table-column>
        <table-column
          width="190"
          :label="$t('app.common.property.creationTime')">
          <template scope="scope">
            {{scope.row.creationTime|momentFormat}}
          </template>
        </table-column>
        <table-column
          fixed="right"
          width="300"
          :label="$t('app.common.action.actions')">
          <template scope="scope">
            <i-button border circle scene="primary" @click="edit(scope.row)">
              {{$t('app.common.action.edit')}}
            </i-button>
            <i-button v-if="scope.row.userName !== 'admin'" border circle scene="danger" @click="deleteItem(scope.row)">
              {{$t('app.common.action.delete')}}
            </i-button>
            <i-button border circle scene="success" @click="unlock(scope.$index, scope.row)">
              {{$t('app.common.action.unlock')}}
            </i-button>
          </template>
        </table-column>
      </i-table>
    </div>
    <Pagination :total="totalCount" :current="filterParams.pageIndex" :page-size="filterParams.pageSize" show-elevator @on-change="handlePageChange"></Pagination>
    <CreateOrUpdateUserModal :id="editUserId" v-model="showCreateOrEditModal" @save="handleOnSave"></CreateOrUpdateUserModal>
  </portlet>
</template>

<script>
    import userService from '../../../../../appServices/admin/administration/userService';
    import CreateOrUpdateUserModal from './CreateOrUpdateUserModal';
    import appConfig from './../../../../../config/app';
    import List from '../../../../mixins/CommonList';

    export default {
        name: 'AdministrationUser',
        components: {
            CreateOrUpdateUserModal
        },
        mixins: [List],
        data () {
            return {
                showCreateOrEditModal: false,
                editUserId: null,
                filterParams: {
                    userName: null,
                    emailAddress: null,
                    nickName: null,
                    filter: void 0,
                    permission: void 0,
                    role: void 0,
                    sorting: void 0
                }
            };
        },
        methods: {
            create () {
                this.editUserId = null;
                this.showCreateOrEditModal = true;
            },
            edit (user) {
                this.editUserId = user.id;
                this.showCreateOrEditModal = true;
            },
            handleOnSave () {
                this.getAll();
            },
            handlePageChange (pageIndex) {
                this.filterParams.pageIndex = pageIndex;
                this.getAll();
            },
            exportExcel () {

            },
            async getAll () {
                this.loading = true;
                let result = await userService.getUsers(this.filterParams).catch(() => {
                    this.loading = false;
                });
                this.items = result.items;
                this.totalCount = result.totalCount;
                this.loading = false;
            },
            async deleteItem (index, user) {
                if (user.userName === appConfig.userManagement.defaultAdminUserName) {
                    this.message.warn(this.$t('{0}UserCannotBeDeleted', appConfig.userManagement.defaultAdminUserName));
                    return;
                }
                this.$confirm(this.$t('UserDeleteWarningMessage', user.userName)).then(async (result) => {
                    if (!result) {
                        return;
                    }
                    this.loading = true;
                    try {
                        await userService.deleteUser({ id: user.id });
                        this.$Message.success('app.common.message.successfullyDeleted');
                        this.data.splice(index, 1);
                    }
                    catch (e) {
                        this.$Message.error(e.message);
                    }
                    this.loading = false;
                });
            },
            async unlock (index, user) {
                await userService.unlockUser({ id: user.id });
                this.$Message.success(this.$t('app.application.user.unlockedTheUser', user.userName));
            }
        }
    };
</script>
