<template>
  <i-select :transfer="transfer" v-model="selectValue" :name="name" :class="classes" @on-change="handleChange" :clearable="clearable">
    <i-option :value="parameterType.value"
              :key="parameterType.value"
              v-for="parameterType in parameterTypes">{{parameterType.name}}</i-option>
  </i-select>
</template>

<script>
  import pictureTemplateParameterType from './pictureTemplateParameterType';

  export default {
    name: 'PictureTemplateParameterTypeSelector',
    props: {
      value: {
        type: Number
      },
      name: {
        type: String,
        default: 'userSource'
      },
      clearable: {
        type: Boolean,
        default: true
      },
      transfer: {
        type: Boolean,
        default: true
      },
      block: {
        type: Boolean,
        default: false
      }
    },
    watch: {
      value (value) {
        this.selectValue = value;
      }
    },
    data () {
      return {
        parameterTypes: pictureTemplateParameterType,
        selectValue: null
      };
    },
    computed: {
      classes () {
        return [
          { block: !!this.block }
        ];
      }
    },
    methods: {
      handleChange (value) {
        this.$emit('input', value);
      }
    },
    mounted () {
      this.selectValue = this.value;
    }
  };
</script>
