<template>
  <div class="template-editor" ref="templateEditor">
    <canvas class="template-canvas" ref="canvas"></canvas>
  </div>
</template>

<script>
  import assist from '../../../../../utils/assist';
  import Fabric from 'fabric';
  import blankPicture from '../../../../../assets/images/apps/wechat.png';
  import parameterTypes from './parameterTypes';
  const fabric = Fabric.fabric;

  export default {
    name: 'template-editor',
    props: {
      picture: {
        type: String
      },
      parameters: {
        type: Array,
        default () {
          return [];
        }
      }
    },
    data () {
      return {
        ratio: 1,
        loadingTemplate: false,
        localParameters: [],
        objects: []
      };
    },
    watch: {
      picture (value) {
        if (value) {
          this.drawTemplate();
        }
      }
    },
    methods: {
      update () {
        this.localParameters = JSON.parse(JSON.stringify(this.parameters));
        if (!this.loadingTemplate) {
          this.$nextTick(() => {
            this.drawItems();
          });
        }
      },
      initialize () {
        this.canvas = new fabric.Canvas(this.$refs.canvas);
        this.canvas.setWidth(this.$refs.templateEditor.offsetWidth);
        this.canvas.on('object:modified', (data) => {
          if (data.target.parameter.type === 1) {
            data.target.parameter.coordinate.width *= data.target.scaleX / data.target.orginScaleX;
            data.target.parameter.coordinate.height *= data.target.scaleY / data.target.orginScaleY;
          }
          else {
            data.target.parameter.fontStyle.size = parseInt(data.target.fontSize);
          }
          data.target.orginScaleX = data.target.scaleX;
          data.target.orginScaleY = data.target.scaleY;
          data.target.parameter.coordinate.startX = data.target.left / this.ratio;
          data.target.parameter.coordinate.startY = data.target.top / this.ratio;
          this.$emit('inputParameters', this.localParameters);
        });
      },
      drawTemplate () {
        return new Promise((resolve, reject) => {
          this.loadingTemplate = true;
          fabric.Image.fromURL(assist.getImageUrl(this.picture), (image) => {
              this.ratio = this.canvas.width / image.width;
              this.canvas.setHeight(this.canvas.width * image.height / image.width);
              image.scale(this.ratio); // 缩放比例
              this.canvas.backgroundImage = image;
              this.loadingTemplate = false;
              setTimeout(() => {
                this.update();
              }, 200);
              resolve();
            },
            {
              left: 0,
              top: 0
            });
        });
      },
      drawPicture (parameter) {
        let picture = blankPicture;
        for (let i = 0; i < parameterTypes.length; i++) {
          const parameterType = parameterTypes[i];
          if (parameter.name === parameterType.value && parameterType.demoPicture) {
            picture = parameterType.demoPicture;
            break;
          }
        }
        fabric.Image.fromURL(picture, (image) => {
          const ratio = parameter.coordinate.width * this.ratio / image.width;
          image.scale(ratio); // 缩放比例
          image.orginScaleX = ratio;
          image.orginScaleY = ratio;
          image.parameter = parameter;
          this.canvas.add(image);
          this.objects.push(image);
        }, {
          left: parameter.coordinate.startX * this.ratio,
          top: parameter.coordinate.startY * this.ratio
        });
      },
      drawText (parameter) {
        const value = parameter.demoText || parameter.name || 'I am Sample';
        const text = new fabric.Text(value, {
          left: parameter.coordinate.startX * this.ratio,
          top: parameter.coordinate.startY * this.ratio,
          fontSize: parameter.fontStyle.size,
          fill: parameter.fontStyle.color,
          fontFamily: 'px sans-serif'
        });
        text.parameter = parameter;
        this.canvas.add(text);
        this.objects.push(text);
      },
      drawItems () {
        this.clearParamters();
        if (this.localParameters && this.localParameters.length) {
          this.localParameters.forEach((parameter) => {
            if (parameter.type === 1) {
              this.drawPicture(parameter);
            }
            else if (parameter.type === 0) {
              this.drawText(parameter);
            }
          });
        }
      },
      clearParamters () {
        this.objects.forEach((item) => {
          this.canvas.remove(item);
        });
        this.objects.splice(0, this.objects.length);
      },
      clear () {
        this.canvas.clear();
      }
    },
    mounted () {
      this.initialize();
      if (this.picture) {
        this.drawTemplate();
      }
    }
  };
</script>

<style lang="scss">
  @import "~canknow/src/scss/variables";
  .template-editor{
    padding: $content-padding;
    .template-canvas{
      width: 100%;
    }
  }
</style>
