<template>
  <div id="app" class="app-wrap">
    <router-view/>
  </div>
</template>

<script>
    export default {
        name: 'App',
        created () {
            this.loadAppConfiguration();
            this.$store.dispatch('localization/initialize');
        }
    };
</script>
