<template>
  <div>
    <portlet>
      <div class="clearfix margin-bottom-1">
        <div class="pull-right">
          <i-button border circle scene="primary" @click="viewHangfireDashboard">
            {{$t('app.application.hangfire.dashboard')}}
          </i-button>
        </div>
      </div>
      <div class="data-table-container margin-bottom-1">
        <i-table class="data-table"
                 :data="items"
                 border>
          <table-column
            min-width="500"
            prop="jobType"
            fixed="left"
            :label="$t('JobType')">
          </table-column>
          <table-column
            min-width="300"
            prop="jobArgs"
            :label="$t('JobArgs')">
          </table-column>
          <table-column
            min-width="120"
            prop="tryCount"
            :label="$t('TryCount')">
          </table-column>
          <table-column
            min-width="120"
            prop="priority"
            :label="$t('Priority')">
          </table-column>
          <table-column
            width="150"
            :label="$t('IsAbandoned')">
            <template scope="scope">
              <i-label scene="success" v-if="scope.row.isAbandoned">{{$t('app.common.status.yes')}}</i-label>
              <i-label v-else>{{$t('app.common.status.no')}}</i-label>
            </template>
          </table-column>
          <table-column
            width="190"
            :label="$t('LastTryTime')">
            <template scope="scope">
              {{scope.row.lastTryTime|momentFormat}}
            </template>
          </table-column>
          <table-column
            width="190"
            :label="$t('NextTryTime')">
            <template scope="scope">
              {{scope.row.nextTryTime|momentFormat}}
            </template>
          </table-column>
          <table-column
            fixed="right"
            width="100"
            :label="$t('app.common.action.actions')">
            <template scope="scope">
              <i-button border circle scene="danger" @click="deleteBackgroundJob(scope.row)">{{$t("app.common.action.delete")}}</i-button>
            </template>
          </table-column>
        </i-table>
      </div>
      <Pagination :total="totalCount" :current="filterParams.pageIndex"
                  :page-size="filterParams.pageSize"
                  show-elevator
                  @on-change="handlePageChange"></Pagination>
    </portlet>
    </div>
</template>

<script>
  import backgroundJobService from '../../../../../appServices/admin/administration/backgroundJobService';
  import appConfig from './../../../../../config/app';

  export default {
    components: {},
    name: 'BackgroundJobIndex',
    data () {
      return {
        totalCount: 0,
        items: [],
        filterParams: {
          pageIndex: 1,
          pageSize: 5
        }
      };
    },
    methods: {
      viewHangfireDashboard () {
        window.open(appConfig.baseUrl + '/hangfire');
      },
      handlePageChange (pageIndex) {
        this.filterParams.pageIndex = pageIndex;
        this.getAll();
      },
      deleteBackgroundJob (row) {
        backgroundJobService.delete({
          id: row.id
        }).then(() => {
          this.getAll();
        });
      },
      getAll () {
        backgroundJobService.getAll(this.filterParams).then((result) => {
          this.items = result.items;
          this.totalCount = result.totalCount;
        });
      }
    },
    mounted () {
      this.getAll();
    }
  };
</script>
