<template>
  <i-select :block="block"
            :placeholder="$t('core.select.placeholder', { 0: $t('app.application.articleCategory.articleCategory') })"
            v-model="selectedValue"
            @on-change="handleChange">
    <i-option v-for="item in items" :key="item.id" :value="item.id">{{item.name}}</i-option>
  </i-select>
</template>

<script>
    import articleCategoryService from '../../../../../appServices/admin/application/articleCategoryService';

    export default {
        name: 'ArticleCategorySelector',
        props: {
            value: {
                type: [Number]
            },
            block: {
                type: Boolean,
                default: true
            }
        },
        watch: {
            value (newValue) {
                this.selectedValue = newValue;
            }
        },
        data () {
            return {
                selectedValue: this.value,
                items: []
            };
        },
        methods: {
            handleChange (value) {
                this.$emit('input', value);
                this.$emit('change', this.items.find((item) => {
                    return item.id === value;
                }));
            },
            fetchData () {
                articleCategoryService.getAll().then((result) => {
                    this.items = result.items;
                });
            }
        },
        mounted () {
            this.fetchData();
        }
    };
</script>
