<template>
  <Modal v-model="dialogVisible"
         @on-cancel="handleCancel"
         :title="$t('core.crud.createOrEdit', { 0: $t('app.application.articleCategory.articleCategory') })">
    <i-form :labelWidth="100" :model="model" :rules="rules" ref="form">
      <form-item prop="name" :label="$t('app.common.property.name')">
        <i-input name="name" block v-model="model.name"></i-input>
      </form-item>
      <form-item prop="icon" :label="$t('app.common.property.icon')">
        <PictureUploader name="icon" v-model="model.icon"></PictureUploader>
      </form-item>
    </i-form>
    <template slot="footer">
      <i-button size="large" border circle icon="back" type="text" @click.native="handleCancel">{{$t('app.common.action.cancel')}}</i-button>
      <i-button size="large" border circle icon="success" scene="primary" :loading="saving" @click.native="save">{{$t('app.common.action.save')}}</i-button>
    </template>
  </Modal>
</template>

<script>
    import articleCategoryService from '../../../../../appServices/admin/application/articleCategoryService';
    import CommonCreateOrUpdateModal from '../../../../mixins/CommonCreateOrUpdateModal';

    export default {
        name: 'CreateOrUpdateModal',
        mixins: [CommonCreateOrUpdateModal],
        data () {
            return {
                api: articleCategoryService,
                rules: {
                    name: [{ required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.common.property.name') }) }],
                    icon: [{ required: true, message: this.$t('core.validate.common.requiredFiled', { 0: this.$t('app.common.property.icon') }) }]
                }
            };
        }
    };
</script>
