<template>
  <portlet>
    <div class="clearfix margin-bottom-1">
      <div class="pull-right">
        <i-button border circle scene="primary" icon="add" @click="create">
          {{$t('app.common.action.create')}}
        </i-button>
      </div>
    </div>
    <div class="margin-bottom-1">
      <i-table class="data-table" :data="items" :fit="true" border>
        <table-column prop="name" :label="$t('app.common.property.name')">
          <template scope="scope">
            {{scope.row.name}}
          </template>
        </table-column>
        <table-column
          min-width="120"
          :label="$t('app.common.property.icon')">
          <template scope="scope">
            <i-image width="32" :src="scope.row.icon|filePath"></i-image>
          </template>
        </table-column>
        <table-column prop="creationTime" :label="$t('app.common.property.creationTime')">
          <template scope="scope">
            {{scope.row.creationTime|momentFormat}}
          </template>
        </table-column>
        <table-column :label="$t('app.common.action.actions')">
          <template scope="scope">
            <i-button border circle scene="primary" @click="edit(scope.row)">{{$t('app.common.action.edit')}}</i-button>
            <i-button border circle scene="danger" @click="deleteItem(scope.row)">{{$t('app.common.action.delete')}}</i-button>
          </template>
        </table-column>
      </i-table>
    </div>
    <pagination @change="handlePageChange"
                :current="filterParams.pageIndex"
                :page-size="filterParams.pageSize"
                :total="totalCount">
    </pagination>
    <CreateOrEditModal :id="dialogCreateOrEdit.id" v-model="dialogCreateOrEdit.isShow" @save="handleOnSave"></CreateOrEditModal>
  </portlet>
</template>

<script>
    import articleCategoryService from '../../../../../appServices/admin/application/articleCategoryService';
    import CreateOrEditModal from './CreateOrUpdateModal';
    import CreateAndUpdateModalList from '../../../../mixins/CommonCreateAndUpdateModalList';

    export default {
        name: 'ArticleCategory',
        components: {
            CreateOrEditModal
        },
        mixins: [CreateAndUpdateModalList],
        data () {
            return {
                api: articleCategoryService,
                filterParams: {
                    name: null
                }
            };
        }
    };
</script>
