<template>
  <div>
    <RichEditor v-model="currentValue" @input="handleInput" :options="options"></RichEditor>
  </div>
</template>

<script>
  import store from '../../store';
  const url = store.getters.baseUrl + '/Application/Upload';

  export default {
    name: 'Editor',
    props: {
      value: {
        type: [String, Number]
      },
      height: {
        type: [String, Number],
        default: 300
      }
    },
    watch: {
      value (value) {
        this.currentValue = value;
      }
    },
    data () {
      return {
        currentValue: null,
        url: url,
        options: {
          action: url,
          baseUrl: this.$store.getters.baseUrl,
          height: this.height,
          headers: {
            Authorization: `Bearer ${store.getters['authorization/token']}`
          },
          resultParse (response) {
            return response.result.path;
          }
        }
      };
    },
    computed: {
    },
    methods: {
      handleInput (value) {
        this.$emit('input', value);
      }
    },
    mounted () {
      this.currentValue = this.value;
    }
  };
</script>

