<template>
  <Uploader v-model="filePath"
            ref="uploader"
            :action="computedUrl"
            :block="block"
            :progress="progress"
            :showUploadList="showUploadList"
            :headers="headers"
            :resultParse="resultParse"
            :withCredentials="true"
            :baseUrl="baseUrl"
            :triggerSelect="triggerSelect"
            :onSuccess="onSuccess">
    <slot></slot>
  </Uploader>
</template>

<script>
  import store from '../../store';
  import UploaderCommon from '../mixins/UploaderCommon';
  const url = store.getters.baseUrl + '/Application/Upload';

  export default {
    name: 'FileUploader',
    mixins: [UploaderCommon],
    props: {
      value: {
        type: String
      },
      progress: {
        type: Boolean,
        default: false
      },
      actionUrl: {
        type: String
      },
      ratio: {
        type: Number
      },
      shouldBeRatio: {
        type: Number
      },
      maxFileSize: {
        type: Number
      },
      showUploadList: {
        type: Boolean,
        default: false
      },
      block: {
        type: Boolean,
        default: false
      },
      triggerSelect: {
        type: Boolean,
        default: true
      },
      defaultPicture: {
        type: String
      },
      width: {
        type: Number,
        default: 96
      }
    },
    data () {
      return {
        url: url,
        filePath: null,
        uploadData: {
          token: ''
        },
        headers: {
          Authorization: `Bearer ${store.getters['authorization/token']}`
        },
        onSuccess: (result) => {
          this.filePath = result.result.path;
          this.$emit('input', this.filePath);
        }
      };
    },
    watch: {
      value (value) {
        this.filePath = value;
      }
    },
    computed: {
      computedUrl () {
        if (this.actionUrl) {
          return this.actionUrl;
        }
        let url = this.url + `?useQiniu=${this.useQiniu}`;
        if (this.ratio) {
          url += `&ratio=${this.ratio}`;
        }
        if (this.shouldBeRatio) {
          url += `&shouldBeRatio=${this.shouldBeRatio}`;
        }
        if (this.maxFileSize) {
          url += `&maxFileSize=${this.maxFileSize}`;
        }
        return url;
      }
    },
    methods: {
      selectFile () {
        this.$refs.uploader.selectFile();
      },
      handleInput (filePath) {
        this.$emit('input', filePath);
      }
    },
    mounted () {
      this.filePath = this.value;
    }
  };
</script>
