<template>
  <div class="link-input" :class="{block: block}">
    <i-input block :name="name" :value="currentValue" @input="handleInput">
      <i-button icon="link" slot="append" @click="handleClick">{{$t('app.common.property.systemLink')}}</i-button>
    </i-input>
    <Modal width="960" :title="$t('app.common.property.systemLink')" v-model="showModal">
      <SystemLinkSelectorPage @select="handleSelect"></SystemLinkSelectorPage>
      <template slot="footer">
        <i-button border circle icon="back" type="text" @click.native="cancel">{{$t('app.common.action.cancel')}}</i-button>
        <i-button border circle icon="success" scene="primary" :disabled="!selected" @click.native="save">{{$t('app.common.action.save')}}</i-button>
      </template>
    </Modal>
  </div>
</template>

<script>
  import SystemLinkSelectorPage from './SystemLinkSelectorPage';

  export default {
    name: 'LinkInput',
    components: {
      SystemLinkSelectorPage
    },
    props: {
      value: {
        type: String
      },
      name: {
        type: String
      },
      block: {
        type: Boolean,
        default: false
      }
    },
    data () {
      return {
        selected: null,
        currentValue: null,
        showModal: false
      };
    },
    watch: {
      value (value) {
        this.currentValue = value;
      }
    },
    methods: {
      cancel () {
        this.showModal = false;
      },
      handleClick () {
        this.showModal = true;
      },
      handleSelect (value) {
        this.selected = value;
      },
      save () {
        this.$emit('input', this.selected);
        this.showModal = false;
      },
      handleInput (value) {
        this.$emit('input', value);
      }
    },
    mounted () {
      this.currentValue = this.value;
    }
  };
</script>

<style lang="scss">
  .link-input{
    max-width: 100%;
    display: inline-block;
    &.block{
      display: block;
    }
  }
</style>
