<template>
  <div class="picture-uploader" :class="classes">
    <div class="picture-uploader-wrap" v-if="type=='uploader'">
      <Uploader v-model="filePath"
                :action="url"
                type="image"
                :headers="headers"
                :defaultPicture="computedDefaultPicture"
                :resultParse="resultParse"
                :withCredentials="false"
                @input="handleInput"
                :baseUrl="baseUrl"
                :onSuccess="onSuccess"></Uploader>
    </div>
    <div  class="picture-uploader-wrap" v-if="type=='fileSelector'">
      <div class="picture-selector-handler" @click="handleShowFileSelector">
        <i-image class="display-block" :width="width" :height="height" :src="filePath" :defaultImage="computedDefaultPicture"></i-image>
      </div>
      <Modal :title="$t('app.common.application.fileManager')" page v-model="showFileSelector">
        <FileManage :ratio="ratio" :shouldBeRatio="shouldBeRatio" :maxFileSize="maxFileSize"  @select="handleSelect" v-if="showFileSelector"></FileManage>
      </Modal>
    </div>
  </div>
</template>

<script>
  import store from '../../store';
  import FileManage from './../page/components/FileManage';
  import defaultPicture from '../../assets/images/common-rectangle-default-picture.png';
  import Emitter from 'canknow-ui-core/src/mixins/emitter';
  import UploaderCommon from '../mixins/UploaderCommon';
  const url = store.getters.baseUrl + '/Application/Upload';

  export default {
    name: 'picture-uploader',
    mixins: [Emitter, UploaderCommon],
    components: {
      FileManage
    },
    props: {
      value: {
        type: String
      },
      ratio: {
        type: Number
      },
      shouldBeRatio: {
        type: Number
      },
      maxFileSize: {
        type: Number
      },
      type: {
        type: String,
        default: 'fileSelector'
      },
      fullPath: {
        type: Boolean,
        default: false
      },
      defaultPicture: {
        type: String
      },
      width: {
        type: [Number, String],
        default: 96
      },
      height: {
        type: [Number, String],
        default: 96
      }
    },
    watch: {
      value (newValue) {
        this.filePath = newValue;
      }
    },
    computed: {
      url () {
       return url + `?ratio=${this.ratio}&shouldBeRatio=${this.shouldBeRatio}&maxFileSize=${this.maxFileSize}`;
      },
      classes () {
        return {
        };
      },
      computedDefaultPicture () {
        return this.defaultPicture || defaultPicture;
      }
    },
    data () {
      return {
        showFileSelector: false,
        filePath: null,
        headers: {
          Authorization: `Bearer ${store.getters['authorization/token']}`
        },
        onSuccess: (result) => {
          this.filePath = result.result.path;
          this.$emit('input', this.filePath);
        }
      };
    },
    methods: {
      handleSelect (file) {
        let filePath = file.path;
        if (this.fullPath) {
          filePath = this.$store.getters.baseUrl + filePath;
        }
        this.filePath = filePath;
        this.$emit('input', filePath);
        this.showFileSelector = false;
      },
      handleShowFileSelector () {
        this.showFileSelector = true;
      },
      handleInput (filePath) {
        if (this.fullPath) {
          filePath = this.$store.getters.baseUrl + filePath;
        }
        this.$emit('input', filePath);
        this.dispatch('form-item', 'on-form-change', filePath);
      }
    },
    mounted () {
      this.filePath = this.value;
    }
  };
</script>
