<template>
  <Uploader type="image"
            ref="uploader"
            multiple
            :value="value"
            @input="handleInput"
            :action="computedUrl"
            :defaultPicture="computedDefaultPicture"
            :headers="headers"
            :baseUrl="baseUrl"
            :onSuccess="handleOnSuccess"
            :onRemove="handleOnRemove"
            :resultParse="resultParse"
            :showUploadList="true"></Uploader>
</template>

<script>
  import store from '../../store';
  import defaultPicture from '../../assets/images/common-square-default-picture.png';
  import UploaderCommon from '../mixins/UploaderCommon';

  const url = store.getters.baseUrl + '/Application/Upload';

  export default {
    name: 'PicturesUploader',
    mixins: [UploaderCommon],
    props: {
      value: {
        type: null
      },
      defaultPicture: {
        type: String
      }
    },
    data () {
      return {
        url: url,
        headers: {
          Authorization: `Bearer ${store.getters['authorization/token']}`
        }
      };
    },
    computed: {
      computedUrl () {
        return this.url + '?useQiniu=' + (this.useQiniu ? 'true' : 'false');
      },
      computedDefaultPicture () {
        return this.defaultPicture || defaultPicture;
      }
    },
    methods: {
      handleInput (value) {
        this.$emit('input', value);
      },
      handleOnRemove () {
      },
      handleOnSuccess () {
      }
    }
  };
</script>
