<template>
  <div class="profile" v-if="user" @click="handleClick">
    <div class="profile-avatar-box">
      <i-image width="32" height="32"
               @click="handleAvatarClick"
               class="profile-avatar image-circle" :src="user.avatar"/>
    </div>
    <div class="profile-body">
      <h6 class="profile-name thin">{{user.nickName}}
      </h6>
      <h5 class="profile-additional-property">
        <span class="key">{{$t('app.common.property.registerTime')}}</span>
        <span class="value">{{user.creationTime|momentFormat}}</span>
      </h5>
      <slot></slot>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Profile',
    props: {
      user: {
        type: Object
      }
    },
    methods: {
      handleAvatarClick () {
        this.$router.push({ name: 'Administration.Customer.CreateOrEdit', query: { id: this.user.id } });
      },
      handleClick () {
        this.$emit('click');
      }
    }
  };
</script>
