<template>
  <i-select transfer :block="block" v-model="selected" @on-change="handleChange">
    <i-option :key="key" :value="value" v-for="(value, key) in publicWechatEventHandles">{{$t(`app.application.publicWechat.publicWechatEventHandles.${key}`)}}</i-option>
  </i-select>
</template>

<script>
  import publicWechatEventHandles from './publicWechatEventHandles';

  export default {
    name: 'PublicWechatEventHandleSelector',
    props: {
      value: {
        type: [Number, String]
      },
      block: {
        type: Boolean,
        default: false
      }
    },
    watch: {
      value (newValue) {
        this.fetchSelected();
      }
    },
    data () {
      return {
        selected: null,
        publicWechatEventHandles: publicWechatEventHandles
      };
    },
    methods: {
      fetchSelected () {
        if (this.value === null) {
          this.selected = null;
        }
        else {
          const key = Object.keys(publicWechatEventHandles).find((key) => {
            return publicWechatEventHandles[key] === this.value;
          });
          this.selected = publicWechatEventHandles[key];
        }
      },
      handleChange (value) {
        this.$emit('input', value);
      }
    },
    mounted () {
      this.fetchSelected();
    }
  };
</script>
