<template>
  <div class="">
    <i-table
      @row-click="handleRowClick"
      highlight-current-row
      :data="links">
      <table-column
        width="200"
        :label="$t('app.common.property.name')">
        <template scope="scope">
          {{$t(scope.row.name)}}
        </template>
      </table-column>
      <table-column :label="$t('app.common.property.link')">
        <template scope="scope">
          {{scope.row.url}}
        </template>
      </table-column>
      <table-column :label="$t('app.common.action.actions')" :width="150">
        <template scope="scope">
          <a :href="scope.row.url" v-if="scope.row.getFromManager">{{$t('app.application.systemLink.goToManager')}}</a>
          <a v-copy :data-clipboard-text="scope.row.url" v-else>{{$t('app.application.systemLink.copyLink')}}</a>
        </template>
      </table-column>
    </i-table>
  </div>
</template>

<script>
  export default {
    name: 'SystemLinkSelectorPage',
    props: {

    },
    data () {
      return {
        links: [],
        selected: null
      };
    },
    methods: {
      handleRowClick (row) {
        if (!row.getFromManager) {
          this.$emit('select', row.url);
        }
        else {
          this.$emit('select', null);
        }
      }
    },
    mounted () {
    }
  };
</script>
